---
layout: default
css-file: logfile
todo-css-layout: column
title: Logfile
has-loc-cyr: true
<!-- old-custom-font: https://fontlibrary.org/face/overpass -->
znotes: maybe i should use this for the whole site? it's quite nice
znotes: "consolidate all of metroidvanias, opinions, and this page into column.css,
and fix the background scroll at small widths"
znotes: fix the fucking smart quotes
---

<article id="intro">
	<header>
		<h1>Logfile</h1>
		<p>
			a pond'rous and unsequiturial diatribe of worthless and ephemeral
			thoughts that wander through my mind in search of something to
			connect with
		</p>
		<p><small>
			site updates will also be here when i remember, marked with an orange tag
			on the left
		</small></p>
	</header>
</article>

{% for article in site.data.logfile %}
<article {%- if article.supd %} class="site-update" {%- endif -%}>
	<time datetime="{{ article.date }}">{{ article.date }}</time>
	{% for content in article.content %}
		{% if content.p %}
			<p>
				{{ content.p | replace '“', '&quot;' }}
			</p>
		{% comment %}
		don't like this, would prefer elsif content.a, but it returns false as it
		has no value, i guess?
		{% endcomment %}
		{% elsif content.src %}
			<a class="attachment"
				href="{% if content.lnk %}{{ content.lnk }}{% else -%}
					/assets/images/log/{{ content.src }}{% endif %}">
				<img src="/assets/images/log/{{ content.src }}"
					alt="{{ content.alt }}"
					{% if content.style -%} style="{{ content.style }}"{% endif %}
					loading="lazy">
			</a>
		{% endif %}
	{% endfor %}
</article>
{% endfor %}
