_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# info i use
references/

# sublime project files
*.sublime-project
*.sublime-workspace

# dolphin folder layout
*.directory

# quick manual copy backup files
*.zbk

# local yesterweb mirror
/assets/js/yw-ring-local.js

# you should be using apngs
*.gif

# window icon resources
/assets/images/window-icons/
/assets/images/All [Without duplicates]/

# moot favicon sizes
/favicons

# unused backgrounds
/assets/images/backgrounds
/assets/images/buttons/page-info/js-warning.png
/assets/js
/notes.txt
/assets/images/towers/vacant.gif
/assets/images/towers/zeus-room.gif
/assets/images/backgrounds/hotline-uncompressed.jpg
/assets/images/backgrounds/hotline-uncompressed.png
/assets/images/svg-icons
/assets/fonts/generator_config.txt
/assets/fonts/materialdesignicons-webfont.woff2
/assets/fonts/materialdesignicons-webfont.ttf
/assets/images/buttons/brands/e-now.png
