{% assign current_page_url = page.url | split: "/" %}
{% assign iterable = 1 %}

<!-- why is this hideously formatted? because 
otherwise html puts a space in between the elements-->

<!--also, this will break if i ever have deep folders, but so will the nav menu-->
<div class="breadcrumbs">
	<a href="/">C:</a
		>{% for crumb in current_page_url %}{% if forloop.last == false %}<a
			href=/{{ crumb }}>{{ crumb }}</a><a
			>‏\</a
		>{% else %}<a
			>>type {{crumb}}.txt</a
		>{% endif %}{% endfor %}
</div>
<br />

<!--<div class="breadcrumbs">
	<a href="/">C:</a
		>{% for crumb in current_page_url %}{% for iter in (0..{{forloop.index0 }}) 
			%}{% assign iterable = iter %}{% endfor %}<a
			href={{ iterable }}>{{ crumb }}</a><a
			>\</a
		>{% endfor %}
</div>
<br />-->