<nav class="desktop-icons-flex-container" aria-label="site pages">
	<a class="desktop-icon" href="/stadt/thoughts">
		<img src="/stadt/assets/images/desktop-icons/thoughts.png">
		<span>Thoughts</span>
	</a>
	<a class="desktop-icon" href="/stadt/logfile/">
		<img src="/stadt/assets/images/desktop-icons/logfile.png">
		<span>Logfile</span>
	</a>
	<a class="desktop-icon desktop-update" href="/stadt/gallery/">
		<img src="/stadt/assets/images/desktop-icons/gallery.png">
		<span>Image Gallery</span>
	</a>
	<a class="desktop-icon desktop-update" href="/stadt/links/">
		<img src="/stadt/assets/images/desktop-icons/links.png">
		<span>Surf the web</span>
	</a>
	<!-- <a class="desktop-icon">
		<img src="/stadt/assets/images/desktop-icons/images.png">
		<span><s class="captioned" title="coming soon">Software Recc's</s></span>
	</a> -->
	<a class="desktop-icon" href="/stadt/about/">
		<img src="/stadt/assets/images/desktop-icons/about.png">
		<span>About</span>
	</a>
	<a class="desktop-icon"> <!-- href="/stadt/towers/"> -->
		<img src="/stadt/assets/images/desktop-icons/teeny-towers.png">
		<s><abbr title="down for much needed maintenance">Teeny Towers</abbr></s>
	</a>
	{% if page.title %}
	<a class="desktop-icon" href="/stadt/">
		<img src="/stadt/assets/images/desktop-icons/home.png">
		<span>Return Home</span>
	</a>
	{% else %}
	<a class="desktop-icon" href="../#logoff" title=":(">
		<img src="/stadt/assets/images/desktop-icons/exit-stadt.png">
		<span>Exit Stadt</span>
	</a>
	{% endif %}
	<!-- ztodo make a link to about page, have contact links on about page -->
	<a class="desktop-icon desktop-shortcut" href="/stadt/about#contact-me"
		title="see about page for more contact methods">
		<img src="/stadt/assets/images/desktop-icons/message-me.png">
		<span>Message Me</span>
	</a>
</nav>
