<nav class="desktop-icons-flex-container">
	<a class="desktop-icon" href="/stadt/thoughts">
		<img src="/stadt/assets/images/desktop-icons/thoughts.png">
		<br />
		Thoughts
	</a>
	<a class="desktop-icon" href="/stadt/logfile">
		<img src="/stadt/assets/images/desktop-icons/logfile.png">
		<br />
		Logfile
	</a>
	<a class="desktop-icon">
		<img src="/stadt/assets/images/desktop-icons/art.png">
		<br />
		<s class="captioned" title="coming soon">Image Collection</s>
	</a>
	<a class="desktop-icon">
		<img src="/stadt/assets/images/desktop-icons/about.png">
		<br />
		<s class="captioned" title="coming soon">About Me</s>
	</a>
	</a>
	<a class="desktop-icon" href="/stadt/towers">
		<img src="/stadt/assets/images/desktop-icons/teeny-towers.png">
		<br />
		Teeny Towers
	</a>
	{% if page.title %}
	<a class="desktop-icon" href="/stadt/">
		<img src="/stadt/assets/images/desktop-icons/home.png">
		<br />
		Return Home
	</a>
	{% else %}
	<a class="desktop-icon" href=".." title=":(">
		<img src="/stadt/assets/images/desktop-icons/exit-stadt.png">
		<br />
		Exit Stadt
	</a>
	{% endif %}
</nav>
