<nav class="desktop-icons-container" aria-label="site pages">
	{% assign current = page.url | downcase | split: '.' %}
	{% for item in site.data.stadt-nav %}
	<a
	{% if current[0] contains item.link %}class="desktop-icon current"
	{% elsif item.updt %}class="desktop-icon update"{% else %}
	class="desktop-icon"{% endif %}
		href="{{ item.link }}">
		<img src="{{ item.bicn }}">
		<span>{{ item.name }}</span>
	</a>
	{% endfor %}
	<a class="desktop-icon" href="/stadt/thoughts">
		<img src="/stadt/assets/images/desktop-icons/thoughts.svg">
		<span>Thoughts</span>
	</a>
	{% if page.title %}
	<a class="desktop-icon" href="/stadt/">
		<img src="/stadt/assets/images/desktop-icons/home.svg">
		<span>Return Home</span>
	</a>
	{% else %}
	<a class="desktop-icon" href="../#logoff" title=":(">
		<img src="/stadt/assets/images/desktop-icons/exit-stadt.svg">
		<span>Exit Stadt</span>
	</a>
	{% endif %}
	<a class="desktop-icon desktop-shortcut" href="/stadt/about#contact-me"
		title="see about page for more contact methods">
		<img src="/stadt/assets/images/desktop-icons/message-me.svg">
		<span>Message Me</span>
	</a>
</nav>
