---
---

<footer id="taskbar-9x">
	<ul id="taskbar-btns">
		<!--should this be an actual button?-->
		<li><a id="btn-start" class="btn-9x" href="#startmenu-9x" role="button">
			<!-- <img id="start-orb" src="./assets/images/logo.svg" -->
				<!-- alt="start orb: zeus logo" /> -->
			<svg id="start-orb" xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 118.74818 118.74818" fill="currentColor">
				<title id="title13">Crow</title>
				<path id="Manual" stroke="#000000"
					d="M 2.2007507e-6,82.667355 54.543617,82.665325 38.746738,63.707245 Z M 72.833185,79.087305 90.831294,64.770155 72.073964,0.7521447 19.415661,0.7419447 59.448487,53.901585 41.434072,62.245865 86.468579,118.00112 Z m 15.474848,-31.06788 15.899807,1.3401 -1.08839,10.59137 -10.435455,3.20605 z m 18.268167,3.18261 -0.74292,6.80037 12.9149,-1.46545 z m -18.122438,66.773625 -1.296279,-3.64835 13.433617,3.6565 z m -4.314818,0.0265 -2.67918,-3.08375 -4.511502,3.08783 z"
					style="display:inline;fill-rule:evenodd;stroke-width:0px;stroke-miterlimit:9"
					bx:origin="0.485691 0.484424">
				</path>
			</svg>
			<span class="ms-bold">Start</span>
		</a></li>
		<li><a id="taskbar-sep" class="btn-9x btn-sep">
		</a></li>
		<li><a>
			<img class="btn-88x31" src="./assets/images/buttons/z-cnstr-dm-3d.png"
				alt="site under construction" />
		</a></li>
		<li><a href="https://colemak.org/">
			<img class="btn-88x31" src="./assets/images/buttons/colemak.png"
				alt="i use colemak (wide)" />
		</a></li>
		<li><a>
			<img class="btn-88x31" src="./assets/images/buttons/mars.png"
				alt="" />
		</a></li>
		<li><a>
			<img class="btn-88x31" src="./assets/images/buttons/protest.png"
				alt="" />
		</a></li>
		<li><a href="https://yesterwebring.neocities.org/">
			<img class="btn-88x31" src="./assets/images/buttons/rewind.png"
				alt="" />
		</a></li>
		<li><a href="https://www.fontstruct.com/fontstructions/show/1779988/zhowfrakt-eye-fs">
			<img class="btn-88x31" src="./assets/images/buttons/scheisskopf.png"
				alt="" title="not sponsored, i just liked the font" />
		</a></li>
		<li><a>
			<img class="btn-88x31" src="./assets/images/buttons/seed.png"
				alt="seed your torrents" />
		</a></li>
		<li><a>
			<img class="btn-88x31" src="./assets/images/buttons/still-you.png"
				alt="" />
		</a></li>
		<li><a>
			<img class="btn-88x31" src="./assets/images/buttons/vita.png"
				alt="" />
		</a></li>
		<li><a href="https://yesterweb.org/no-to-web3/">
			<img class="btn-88x31" src="./assets/images/buttons/taskbar/web3.png"
				alt="say no to web3" />
		</a></li>
		<li><a href="http://web3.14159.annwfn.net/">
			<img class="btn-88x31" src="./assets/images/buttons/taskbar/web-pi.png"
				alt="web π compliant" />
		</a></li>
	</ul>
	<div id="taskbar-tray">
		<a href="https://zeusofthecrows.github.io/stadt">
			<img src="./assets/images/window-icons/stadt-gp.png"
				alt="github pages site mirror" />
		</a>
		<a href="https://zeusofthecrows.neocities.org">
			<img src="./assets/images/window-icons/stadt-nc.png"
				alt="neocities site mirror" />
		</a>
		<a>
			<img src="./assets/images/window-icons/cassette.png"
				alt="" />
		</a>
		<time datetime="{{ site.gc_edit_date | date: '%Y-%m-%d' }}"
			title="site last edited on the {{ site.gc_edit_date | date_to_long_string: 'ordinal' }}">
			{{ site.gc_edit_date | date: "%Y-%m-%d" }}
		</time>
	</div>
</footer>

<div id="startmenu-9x">
	<a id="dismiss-startmenu" href="#"></a>
	<div id="startmenu-window" class="outdent-9x ms-bold">
		<div id="startmenu-logo" class="swash-z">ⱿeusOfTheCrows</div>
		<ul id="startmenu-btns" class="img-grid">
			<li class="startmenu-btn">
				<a href="https://zeusofthecrows.github.io/stadt">
					<img class="btn-88x31" src="./assets/images/buttons/brands/gh-pages.png"
					alt="powered by github pages" />
			</a></li>
			<li class="startmenu-btn">
				<a href="https://zeusofthecrows.neocities.org/">
					<img class="btn-88x31" src="./assets/images/buttons/brands/neocities.png"
					alt="hosted on neocities" />
			</a></li>
			<li class="startmenu-sep"><a class="btn-sep indent-9x"></a></li>
			<li class="startmenu-btn">
				<a href="https://libresprite.github.io/">
				<img class="btn-88x31" src="./assets/images/buttons/brands/libresprite.png"
					alt="bouncing libresprite logo" />
			</a></li>
			<li class="startmenu-btn">
				<a href="https://www.aseprite.org/">
				<img class="btn-88x31" src="./assets/images/buttons/brands/aseprite.png"
					alt="aseprite old logo animated" />
			</a></li>
			<li class="startmenu-btn">
				<a href="http://apngasm.sourceforge.net/">
				<img class="btn-88x31" src="./assets/images/buttons/brands/apngasm.png"
					alt="apng assembler" />
			</a></li>
			<li class="startmenu-sep"><a class="btn-sep indent-9x"></a></li>
			<li class="startmenu-btn">
				<a href="https://www.mozilla.org/en-GB/firefox/new/">
				<img class="btn-88x31" src="./assets/images/buttons/brands/firefox.png"
					alt="firefox" />
			</a></li>
			<li class="startmenu-btn">
				<a href="https://ddg.gg/">
				<img class="btn-88x31" src="./assets/images/buttons/brands/ddg.png"
					alt="duckduckgo" />
			</a></li>
			<li class="startmenu-btn">
				<a href="https://www.mozilla.org/en-GB/firefox/">
				<img class="btn-88x31" src="./assets/images/buttons/brands/chromium.png"
					alt="ie/chrome/brave logos 'same shit, different arsehole'" />
			</a></li>
		</ul>
	</div>
</div>

<div id="taskbar-balloon">
	<ul id="antipixels" class="img-grid">
		<!-- <li><img class="btn-150x15" src="./assets/images/antipix/test-wide.png"></li> -->
		<li><a>
			<img class="btn-80x15" src="./assets/images/antipix/open.png"
				alt="open 24 hrs" />
		</a></li>
		<li><a href="https://web.archive.org/web/20120827101340/http://dyke.web.fc2.com:80/">
			<img class="btn-80x15" src="./assets/images/antipix/lgbt.png"
				alt="lgbt+ friendly" />
		</a></li>
		<li><a href="https://keysklubhouse.neocities.org/home.html">
			<img class="btn-80x15" src="./assets/images/antipix/tea.png"
				alt="tea powered" />
		</a></li>
		<li><a>
			<img class="btn-80x15" src="./assets/images/antipix/gb.png"
				alt="made in gb" />
		</a></li>
		<li><a>
			<img class="btn-80x15" src="./assets/images/antipix/trans.png"
				alt="trans inclusionary" />
		</a></li>
		<li><a>
			<img class="btn-80x15" src="./assets/images/antipix/slava-ukraini.png"
				alt="slava ukraini" />
		</a></li>
		<li><a>
			<img class="btn-80x15" src="./assets/images/antipix/pc-compat.png"
				alt="ibm pc compatible" />
		</a></li>
	</ul>
</div>