<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#000000" />
<meta name="color-scheme" content="dark" />
<title>
	{% if page.title %}{{ page.title | slugify: "raw" }} {{ site.sep_char }} {% else %}{% endif %} {{ site.title | downcase | escape }}
</title>
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
<!-- indieauth/relmeauth -->
<link rel="me" href="https://github.com/zeusofthecrows/">
<!-- <link rel="me" href="https://lemm.ee/zeus/"> -->
<!-- i don't know if this needs to be here? -->
<link rel="shortcut icon" type="image/x-icon" href="/favicons/favicon-16.png"  sizes="16x16" />
<link rel="shortcut icon" type="image/x-icon" href="/favicons/favicon-32.png"  sizes="32x32" />
<link rel="shortcut icon" type="image/x-icon" href="/favicons/favicon-64.png"  sizes="64x64" />
<link rel="shortcut icon" type="image/x-icon" href="/favicons/favicon-128.png" sizes="128x128" />
<link rel="shortcut icon" type="image/x-icon" href="/favicons/favicon.svg" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}" />