<header class="site-header" role="banner">

  <div class="wrapper">
    <!-- <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title }}</a> -->
		
    <!-- <a class="site-title" href="{{ "/" | relative_url}}"> -->
		<div id="ascii-header" class="ascii-art">c****zr                      ,c**o,   zno***nn***q6l             ,c**o,                              
7   J7                      6Z'  '!l AZ'   '!l'  `!l            6Z'  '!9                             
   J7                       !l    !l !l     !l    !l            !l       .                           
  J7    ,7""1, !l  !l J7"": !l    !l !ZZD   !l    !Z""q. ,7""1. !l       l7""1. ,7""1. !l !l !l J7"":
 J7   J AL**J7 1l  jF ^***, !l.  .69 !l     !l    !Y  !l AL**J7 !l.  .6A 1l   ` 1l  jF 1l jl jF ^***,
6Zzzzz9 ^L,,,r ^V,,V^ :,,J7  ^1zz7^  19     19    19  19 1L,,,r  ^1zz7^  19     ^V,,V^ ^V,71,V^ :,,J7</div>
		<!-- </a> -->
		
    <br />
		<!-- social media icons from gruvbox theme ->
    {% if site.github_username %}
      {% include icon-github.html %}
    {% endif %}
    {% if site.twitter_username %}
      {% include icon-twitter.html %}
    {% endif %}
    {% if site.linkedin_username %}
      {% include icon-linkedin.html %}
    {% endif %}
		-->

  </div>

</header>
