<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000" />

  <title>
		{% if page.title %}{{ page.title | slugify: "raw" }} {{ site.sep_char }} {% else %}{% endif %} {{ site.title | downcase | escape }}
	</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <!-- i don't know if this needs to be here? -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  </head>
