<header class="site-header" role="banner">

  <div class="wrapper">
    <!-- <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title }}</a> -->
		
    <!-- <a class="site-title" href="{{ "/" | relative_url}}"> -->
		<pre id="ascii-header" class="ascii-art">
p***zr                   J"^"L   JP~~N~~qn            J"^"L                               
'  J7                   d     b d'   N   N           d     ` ,                           
  J7   J""4 N   N  J~"= N     N N**  N   N"^"b  J""4 N       N"^"b J"^"L 1L      J7 J~"= 
 J7  ,!***^ N   N 4***L 4     P N    N   N   N !***^ 4     , N   `!<   >! 1L JL J7 4***L 
J7uuu7 4,,. 4,.,7 .,.7   4,.,7  U    U   U   U  4,,.  4,.,7  U     4,.,7   17  17  .,.7 	</pre>
		<pre id="ascii-logo" class="ascii-art" style="display: none;">
  `Y****L
   `Y****L       
     `Y***L. _   
      `>***L V > 
    ,o|**|='     
.=|, `Y*L        
      `YL 
      .`Y =.</pre>
	<!-- ztodo put this here when you get hr fixed -->
	<hr />
	<br />
		<!-- social media icons from gruvbox theme ->
    {% if site.github_username %}
      {% include icon-github.html %}
    {% endif %}
    {% if site.twitter_username %}
      {% include icon-twitter.html %}
    {% endif %}
    {% if site.linkedin_username %}
      {% include icon-linkedin.html %}
    {% endif %}
		-->

  </div>

</header>
