<!-- <header class="site-header" role="banner"> -->
<pre id="ascii-header" class="ascii-art">
 _____                  ___   ___ _______           ___
'  .// ___ __  __  __  /  \\ // () || '|| _   ___  /  \) _,_  ___ __ __  _ __
 .//' //_\)||  || ((_'||  ||=||=   ||  ||'|| //_\)||    '||\)// \\\\ \\  /((_'
//__, \\__,`l_,||_,_))\\__/ _||_  _||__||_||_\\__,\\___/_||_ \\_// \\/\\/ ,_))</pre>
<pre id="ascii-logo" class="ascii-art" style="display: none;">
  `Y***L
    `Y**L. _
    ,J>7*^ ~ ^  ^^7  __  _ _  _
.=|,`YL          7  J__L U U J_`
     .`L -.     J__ 4__, 4_7 ,_7</pre>
<hr />
<!-- </header> -->
