<br />
<hr />
{%- if page.edit-date -%}
	<p>page last modified at <time datetime="{{ page.edit-date | date: '%Y-%m-%d' }}">
		{{ page.edit-date | date: "%Y-%m-%d" }}</time></p>
	<p>
		<span title="all wrongs reserved">(ɔ)</span>
		{{ page.edit-date | date: "%Y" }} ZeusOfTheCrows
	</p>
{%- else -%}
	<p>site last modified at <time datetime="{{ site.edit-date | date: '%Y-%m-%d' }}">
		{{ site.edit-date | date: "%Y-%m-%d"  }}</time></p>
	<p>
		<span title="all wrongs reserved">(ɔ)</span>
		{{ site.edit-date | date: "%Y" }} ZeusOfTheCrows
	</p>
{%- endif -%}
<p><a href="#">^ back to top ^</a></p>
<hr />