<ul class="nav-menu">
	<li class="nav-menu-folder">Desktops</li>
		<ul>
			<li class="nav-menu-item"><a href="/desktops/rainmeter">Rainmeter</a></li>
			<li class="nav-menu-item"><a href="/desktops/wallpapers/">Wallpapers</a></li>
			<li class="nav-menu-item"><a href="/desktops/wpe/">WP Engine</a></li>
			<!-- <ul> -->
				<!-- <li>test</li> -->
			<!-- </ul> -->
		</ul>
	<br />
	<li class="nav-menu-folder">Mobile</li>
		<ul>
			<li class="nav-menu-item"><a href="https://github.com/ZeusOfTheCrows/kustom-presets/tree/master/klwp">KLWP</a></li>
			<li class="nav-menu-item"><a href="https://github.com/ZeusOfTheCrows/kustom-presets/tree/master/komp">Komponents</a></li>
		</ul>
	<br />
	<li class="nav-menu-folder">Mods</li>
		<ul>
			<li class="nav-menu-item"><a href="/mods/nsx-button-prompts/">NSX Prompts</a></li>
			<li class="nav-menu-item"><a href="https://www.nexusmods.com/demonssouls/users/32740065?tab=user+files">Demon's Souls</a></li>
			<li class="nav-menu-item"><a href="https://www.nexusmods.com/darksoulsremastered/users/32740065?tab=user+files">Dark Souls 1</a></li>
			<li class="nav-menu-item"><a href="https://www.nexusmods.com/darksouls2/users/32740065?tab=user+files">Dark Souls 2</a></li>
			<li class="nav-menu-item"><a href="https://www.nexusmods.com/darksouls3/users/32740065?tab=user+files">Dark Souls 3</a></li>
		</ul>
	<br />
	<li class="nav-menu-folder">Internet</li>
		<ul>
			<li class="nav-menu-item"><a href="/web/static-sites/">Static Sites</a></li>
			<li class="nav-menu-item"><a href="/web/useful-sites/">Useful Sites</a></li>
			<li class="nav-menu-item"><a href="https://reddit.com/r/gruvbox/">/r/Gruvbox</a></li>
		</ul>
	<br />
		<li class="nav-menu-folder">Other</li>
		<ul>
			<li class="nav-menu-item"><a href="/other/fonts/">Fonts</a></li>
		</ul>
	<br />
		<li class="nav-menu-folder"><a href="/about/">About</a></li>
		<ul>
			<li class="nav-menu-item"><a href="https://steamcommunity.com/id/zeusofthecrows/">Steam</a></li>
			<li class="nav-menu-item"><a href="https://zeusofthecrows.tumblr.com/">Tumblr</a></li>
			<li class="nav-menu-item"><a href="https://www.reddit.com/user/ZeusOfTheCrows/">Reddit</a></li>
		</ul>
</ul>

<!--use if nav menu gets too large (folding)
<ul class="nav-menu">
	<details>
		<summary class="nav-menu-folder">Desktops</summary>
		<li><a href="/desktops/rainmeter">Rainmeter</a></li>
		<li><a href="/desktops/wallpapers/">Wallpapers</a></li>
		<li><a href="/desktops/wpe/">WP Engine</a></li>
	</details>
	<br />
	<details>
		<summary class="nav-menu-folder">Mobile</summary>
		<li><a href="/phone/kustom/">Kustom</a></li>
	</details>
	<br />
	<details>
		<summary class="nav-menu-folder">Internet</summary>
		<li><a href="/web/bookmarks/">Static Sites</a></li>
		<li><a href="/web/bookmarks/">Useful Sites</a></li>
	</details>
	<br />
	<details>
		<summary class="nav-menu-folder">Fonts</summary>
		<li><a href="https://github.com/ZeusOfTheCrows/DSegstended/">DSegstended</a></li>
		<li><a href="https://www.fontstruct.com/fontstructors/1438889/jupitorr?order=by-balanced-rating">Fontstruct</a></li>
		<li><a href="https://github.com/ZeusOfTheCrows/Fonts/">Other Fonts</a></li>
	</details>
	<br />
	<details>
		<summary class="nav-menu-folder">Other</summary>
	</details>
</ul>
-->