<ul class="nav-menu">
	<details>
		<summary class="nav-menu-folder">Desktops</summary>
		<li><a href="/desktops/rainmeter">Rainmeter</li></a>
		<li><a href="/desktops/wallpapers/">Wallpapers</li></a>
		<li><a href="/desktops/wpe/">WP Engine</li></a>
	</details>
	<br />
	<details>
		<summary class="nav-menu-folder">Mobile</summary>
		<li><a href="/phone/kustom/">Kustom</li></a>
	</details>
	<br />
	<details>
		<summary class="nav-menu-folder">Internet</summary>
		<li><a href="/web/bookmarks/">Static Sites</li></a>
		<li><a href="/web/bookmarks/">Useful Sites</li></a>
	</details>
	<br />
	<details>
		<summary class="nav-menu-folder">Other</summary>
		<details>
			<summary class="nav-menu-folder">Fonts</summary>
			<li><a href="/418/">Fonts</li></a>
		</details>
	</details>
</ul>

