
<p>this site is a proud member of the following webrings!</p>

<hr />
<p><i>geekring</i>
<br />
check some other geeky websites here</p>
<!-- zero width non-joiner to prevent ligatures -->
<a href="http://geekring.net/site/139/previous"><&zwnj;<&zwnj;<</a> {{ site.sep_char }}
<a href="http://geekring.net/site/139/random">?&zwnj;?&zwnj;?</a> {{ site.sep_char }}
<a href="http://geekring.net/site/139/next">>&zwnj;>&zwnj;></a>

<hr />

<p><i>yesterweb</i>
<br />
nostalgic for the old web? browse here</p>
<!-- i would love for this to not be hardcoded! -->
<a href="https://dreamhack.neocities.org/"><&zwnj;<&zwnj;<</a> {{ site.sep_char }}
<a href="https://yesterweb.neocities.org/webring/members.html">*&zwnj;*&zwnj;*</a> {{ site.sep_char }}
<a href="https://aceattorneyvillains.neocities.org/">>&zwnj;>&zwnj;></a>
