<h2>webrings</h2>

<div class="webrings-container">

	<div id="wr-nojs" class="webring">
		<p><em><a href="https://nojs.sugarfi.dev/">no&nbsp;js</a></em></p>

		<br />

		<ul>
			<li><a href="https://nojs.sugarfi.dev/prev.php?url=https://zeusofthecrows.github.io">&lt;&zwnj;&lt;&zwnj;&lt;</a></li>
			<li>{{ site.sep_char }}</li>
			<li><a href="https://nojs.sugarfi.dev/rand.php">???</a></li>
			<li>{{ site.sep_char }}</li>
			<li><a href="https://nojs.sugarfi.dev/next.php?url=https://zeusofthecrows.github.io">&gt;&zwnj;&gt;&zwnj;&gt;</a></li>
		</ul>

		<p>
			sites without any frontend javascript or webassembly; as a way to
			protest what the web has turned into, and make web development more fun
		</p>
	</div>

	<div id="wr-hotline" class="webring">
		<p><em><a href="https://hotlinewebring.club/">hotline</a></em></p>

		<br />

		<ul>
			<li><a href="https://hotlinewebring.club/zeus/previous/">&lt;&zwnj;&lt;&zwnj;&lt;</a></li>
			<li>{{ site.sep_char }}</li>
			<li><a href="https://hotlinewebring.club/">☎☎☎</a></li>
			<li>{{ site.sep_char }}</li>
			<li><a href="https://hotlinewebring.club/zeus/next/">&gt;&zwnj;&gt;&zwnj;&gt;</a></li>
		</ul>

		<p>
			do you long for a simpler time, when america was online and the only
			person you could ask was jeeves?
		</p>
	</div>

	<div id="wr-yester" class="webring">
		<p><em><a href="http://yesterweb.org/webring/">yesterweb</a></em></p>

		<br />

		<ul>
			<li><a href="https://webring.yesterweb.org/noJS/index.php?d=prev&url=https://zeusofthecrows.github.io/">
				&lt;&zwnj;&lt;&zwnj;&lt;
			</a></li>
			<li>{{ site.sep_char }}</li>
			<li><a href="https://webring.yesterweb.org/noJS/index.php?d=rand&url=https://zeusofthecrows.github.io/">
				&quest;&zwnj;&quest;&zwnj;&quest;
			</a></li>
			<li>{{ site.sep_char }}</li>
			<li><a href="https://webring.yesterweb.org/noJS/index.php?d=next&url=https://zeusofthecrows.github.io/">
				&gt;&zwnj;&gt;&zwnj;&gt;
			</a></li>
		</ul>

		<p>
			if you believe that the internet is being wrongly controlled by
			capitalism, then you belong here
		</p>
	</div>

	<div id="wr-geekring" class="webring">
		<p><em><a href="http://geekring.net/">geekring</a></em></p>

		<br />

		<ul>
			<li><a href="http://geekring.net/site/139/previous">&lt;&zwnj;&lt;&zwnj;&lt;</a></li>
			<li>{{ site.sep_char }}</li>
			<li><a href="http://geekring.net/site/139/random"  >&quest;&zwnj;&quest;&zwnj;&quest;</a></li>
			<li>{{ site.sep_char }}</li>
			<li><a href="http://geekring.net/site/139/next"    >&gt;&zwnj;&gt;&zwnj;&gt;</a></li>
		</ul>

		<p>
			a webring for geeks of all sorts, except those who feel excluded by
			the use of the word geek. if you're a geek, this is for you
		</p>
	</div>
</div>