<div class="webrings">
	<p>this site is a proud member of the following webrings!</p>

	<hr />

	<p><i>geekring</i>
	<br />
	check some other geeky websites here</p>
	<!-- zero width non-joiner to prevent ligatures -->
	<a href="http://geekring.net/site/139/previous"><&zwnj;<&zwnj;<</a> {{ site.sep_char }}
	<a href="http://geekring.net/site/139/random">?&zwnj;?&zwnj;?</a> {{ site.sep_char }}
	<a href="http://geekring.net/site/139/next">>&zwnj;>&zwnj;></a>

	<br /><br /> <!-- why a double break? i don't know -->
	<hr />

	<p><i>yesterweb</i>
	<br />
	nostalgic for the old web? browse here</p>
	<a href="https://webring.yesterweb.org/noJS/index.php?d=prev&url=https://zeusofthecrows.github.io/"
		><&zwnj;<&zwnj;<</a>  {{ site.sep_char }}
	<a href="https://webring.yesterweb.org/noJS/index.php?d=rand&url=https://zeusofthecrows.github.io/"
		>?&zwnj;?&zwnj;?</a>  {{ site.sep_char }}
	<a href="https://webring.yesterweb.org/noJS/index.php?d=next&url=https://zeusofthecrows.github.io/"
		>>&zwnj;>&zwnj;></a>
</div>