
<ul>
	{% for item in site.data.whats-new %}
	<li>
		{% if item.subcontent %}
			<details>
				<summary>
					{{ item.content }}
				</summary>
					<ul class="img-grid">
					{% for image in item.subcontent %}
						<li>
							<img src="/stadt/assets/images/{{ image.source }}"
								class="{{ image.type }}{% if image.smooth %} smooth-zoom{% endif %}{% if image.spoiler %} spoiler{% endif %}"
								alt="{{ image.alt }}" />
						</li>
					{% endfor %}
				</ul>
			</details>
		{% else %}
		{{ item.content }}
		{% endif %}
	</li>
	{% endfor %}

<!--
{% comment %}
	<a
	{% if smooth %}
		class="btn-88x31 smooth-zoom"
	{% elsif item.updt %}class="desktop-icon update"{% else %}
	class="desktop-icon"{% endif %}
		href="{{ item.link }}">
		<img src="{{ item.bicn }}">
		<span>{{ item.name }}</span>
	</a>

		<ul>
			<li>
				<mark>we're ubuntu themed now!</mark> (although less rigourously faithful than before)
			</li>
			<li>
				winter theme is gone
			</li>
			<li>
				added link to <a href="https://simone.computer/#/webdesktops">syxanash's
				web desktops listing</a>
			</li>
			<li>
				<details>
					<summary>
						new images have been added to <a href="/stadt/">the homepage</a>
					</summary>
					<ul class="img-grid">
						<li>
							<img src="/stadt/assets/images/buttons/page-info/dark-mode.png"
								class="btn-88x31" alt="optimised for dark mode" />
						</li>
						<li>
							<img class="btn-88x31" src="/stadt/assets/images/buttons/brands/cinnamon.png"
								alt="linux mint cinnamon button" />
						</li>
						<li>
							<img class="btn-88x31 smooth-zoom" src="/stadt/assets/images/buttons/brands/debian.png"
								alt="debian gnu/linux button" />
						</li>
						<li>
							<img class="btn-88x31 smooth-zoom" src="/stadt/assets/images/buttons/brands/konqi.png"
								alt="konqi (kde mascot) button" />
						</li>
						<li>
							<img class="btn-88x31 smooth-zoom" src="/stadt/assets/images/buttons/brands/mint.png"
								alt="linux mint button" />
						</li>
						<li>
							<img class="btn-88x31 smooth-zoom" src="/stadt/assets/images/buttons/brands/kool-de.png"
								alt="kool desktop environment button" />
						</li>
						<li>
							<img class="btn-88x31" src="/stadt/assets/images/buttons/brands/xenia.png"
								data-img-src="https://voltbun.neocities.org/"
								alt="xenia the fox linux button" />
						</li>
						<li>
							<img class="btn-88x31" src="/stadt/assets/images/buttons/games/am2r.png"
								alt="another metroid 2 remake button" />
						</li>
						<li>
							<img src="/stadt/assets/images/stamps/prie-dieu.png"
								class="stamp-99x56"
								alt="lighting a prie-dieu stamp (blasphemous)" />
						</li>
						<li>
							<img src="/stadt/assets/images/stamps/fire.png"
								class="stamp-99x56"
								alt="celeste dream fire stamp" />
						</li>
					</ul>
				</details>
			<li>
				<details>
					<summary>
						new images have been added to <a href="/stadt/gallery/">the gallery</a>
					</summary>
					<ul class="img-grid">
						<li>
							<img class="btn-88x31 smooth-zoom"
								src="/stadt/assets/images/buttons/brands/gog.png"
								alt="good old games button" />
						</li>
						<li>
							<img class="btn-88x31 smooth-zoom"
								src="/stadt/assets/images/buttons/games/half-life.png"
								alt="half-life button" />
						</li>
						<li>
							<img class="btn-88x31 smooth-zoom"
								src="/stadt/assets/images/buttons/games/hominid.png"
								alt="alien hominid button" />
						</li>
						<li>
							<img class="btn-88x31"
								src="/stadt/assets/images/buttons/games/met-const.png"
								alt="metroid construction button" />
						</li>
						<li>
							<img class="btn-88x31"
								src="/stadt/assets/images/buttons/games/newgrounds.png"
								alt="newgrounds.com button" />
						</li>
						<li>
							<img class="btn-88x31 smooth-zoom"
								src="/stadt/assets/images/buttons/brands/kde-now.png"
								alt="kde now button" />
						</li>
						<li>
							<img class="btn-88x31 smooth-zoom"
								src="/stadt/assets/images/buttons/brands/notepadpp.png"
								alt="made with notepad++ button" />
						</li>
						<li>
							<img class="btn-88x31 smooth-zoom"
								src="/stadt/assets/images/buttons/brands/paint.png"
								alt="get paint.net button" />
						</li>
						<li>
							<img class="btn-88x31 smooth-zoom"
								src="/stadt/assets/images/buttons/brands/ublock.png"
								alt="ublock origin now! button" />
						</li>
						<li>
							<img class="btn-88x31 smooth-zoom"
								src="/stadt/assets/images/buttons/brands/xkcd.png"
								alt="xkcd button" />
						</li>
						<li>
							<img src="/stadt/assets/images/stamps/pope.png"
								class="stamp-99x56 spoiler"
								alt="His Holiness Escribar stamp (blasphemous)" />
						</li>
						<li>
							<img src="/stadt/assets/images/stamps/diosdado.png"
								class="stamp-99x56"
								alt="blasphemous diosdado stamp" />
						</li>
						<li>
							<img src="/stadt/assets/images/stamps/damned.png"
								class="stamp-99x56"
								alt="blasphemous 'damned' enemy stamp" />
						</li>
						<li>
							<img src="/stadt/assets/images/stamps/blueheart.png"
								class="stamp-99x56"
								alt="celeste rotating blue heart stamp" />
						</li>
						<li>
							<img src="/stadt/assets/images/stamps/hd-blueheart.png"
								class="stamp-99x56 smooth-zoom"
								alt="celeste rotating high resolution blue heart stamp" />
						</li>
						<li>
							<img src="/stadt/assets/images/stamps/spin.png"
								class="stamp-99x56 spoiler"
								alt="celest madeline & badeline spinning stamp" />
						</li>
						<li>
							<img src="/stadt/assets/images/stamps/ambiance.png"
								class="stamp-99x56"
								alt="tux in an ubuntu ambiance window 'linux: an os for masochists' stamp" />
						</li>
						<li>
							<img src="/stadt/assets/images/stamps/epa.png"
								class="stamp-99x56"
								alt="epa pollution preventer stamp" />
						</li>
						<li>
							<img src="/stadt/assets/images/stamps/mgs.png"
								class="stamp-99x56"
								alt="metal gear solid radio stamp" />
						</li>
						<li>
							<img src="/stadt/assets/images/stamps/linux.png"
								class="stamp-99x56"
								alt="ubuntu logo 'linux: an os for masochists' stamp" />
						</li>
					</ul>
				</details>
			</li>
		</ul>
{% endcomment %}
-->
