/* i realise this whole thing is a mess */
@import "vars.scss"; /*variables*/

.nav-menu {
	// width: $navmenu-width;
	vertical-align: top;
	list-style-position: inside; /*moves bullets inside list padding*/
}

// subfolders/items are indented in styles.scss (li li {)

.nav-menu-folder::marker {
	content: "] "; /*makes bullets ] char with padding space*/
}

.nav-menu-item::marker, .nav-menu-subfolder::marker {
	content: "> "; /*makes bullets > char with padding space*/
}

/*===========================================================================*/

/*code used for folding menu:
.nav-menu-folder {
	cursor: pointer; /* makes the cursor look like it's over a link
}
.nav-menu-folder:active {
	text-shadow: 0px 0px 6px; /*adds text glow on click like links
}


.nav-menu-folder::marker {
	content: "> ";  /*makes folder bullets > char with padding space
}
details[open] > .nav-menu-folder::marker {
	content: "V "; /* makes folder bullets downward arrow when open
}
*/
