/* i realise this whole thing is a mess */
@import "vars.scss"; /*variables*/

/* @media only screen and (max-width: 52em) { */
	/* #nav-menu-wrapper { */
		/* display: none; /*hide nav menu when screen is too narrow for it. 
		i don't know what to do instead though*/
	/* } */
/* } */

.nav-menu {
	width: $navmenu-width;
	vertical-align: top;
	list-style-position: inside; /*moves bullets inside list padding*/
}

// subfolders/items are indented in styles.scss (li li {)

.nav-menu-folder::marker {
	content: "] "; /*makes bullets ] char with padding space*/
}

.nav-menu-item::marker, .nav-menu-subfolder::marker {
	content: "> "; /*makes bullets > char with padding space*/
}

/*code used for folding menu:
.nav-menu-folder {
	cursor: pointer; /* makes the cursor look like it's over a link
}
.nav-menu-folder:active {
	text-shadow: 0px 0px 6px; /*adds text glow on click like links
}


.nav-menu-folder::marker {
	content: "> ";  /*makes folder bullets > char with padding space
}
details[open] > .nav-menu-folder::marker {
	content: "V "; /* makes folder bullets downward arrow when open
}
*/

#nav-menu-wrapper {
	width: $navmenu-width;
	float: left;
}

.content {
	/* margin-left: 18em; */
	/* width: 10em; */
	width: $content-width;
	float: left; /*ztodo why is this duped?*//*actually i don't think it is*/
}

@media only screen and (max-width: $logo-breakpoint) {

	.content {
		width: $total-width;
	}

	.nav-menu {
		/* auto add scrollbar, and hide overflow */
		background-color: $background-colour;
		overflow: auto;
		white-space: nowrap;
		// ztodo comment this code i have no idea how it works
		// https://stackoverflow.com/questions/67022666/\
		// question-about-horizontal-scroll-in-css-with-p-paragraphs-html
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;

		bottom: 0;
		position: fixed;

		& > * {
			display: inline;
			float: left;
			padding-right: 10px;

			display: inline-block;
			align-content: flex-start;
			overflow-x: visible;
			overflow-y: visible;
			flex-wrap: wrap;
			height: 200px;
			width: auto;
		}
	}
}