@font-face {
	font-family: 'FixedsysEx';
	font-style: normal;
	font-weight: normal;
	src: local('Fixedsys Excelsior'),
	       url('/assets/fonts/FixedsysEx.ttf') format('truetype'),
	       url('/assets/fonts/FixedsysEx.woff') format('woff');
}

//============ colours ============//
	// full palette
	// #000000	#551400	#792400	#862C00	#AE4900	#B24D00	#BE5500	#CB5D00
	// #E37100	#EB7900	#EF7900	#F37D00	#FF9E04	#FFAA10	#FFDB30	#FFE334

$background-colour: black;
$background-emph: #551400;
$text-14: #FFE334;           // text emphasised 4 - h1
$text-13: #FFDB30;           // text emphasised 3 - h2
$text-12: #FF9E04;           // text emphasised 2 - h3, em, i
$text-11: #F37D00;           // text emphasised 1 - h4, strong, b, link
$text-10: #E37100;           // base text colour
$text-09: #AE4900;           // text deemphasised 1 - hr
$text-08: #862C00;           // text deemphasised 2 - visited link
$text-07: #551400;           // text deemphasised 3

// ============= numbers ===========//
$crnr-radius: 1px;

// various values i wish were dynamic, but i don't think it's possible
// remember to update these if i edit the site content
$nav-vert-chars: 17; // max number of chars in nav menu (width)
$nav-hori-lines:  5; // max number of text lines in nav menu horizontal mode
$max-toc-chars:  32; // max number of chars globally in table of contents
$post-ttl-chars: 16; // max length of post titles (chars)

// ============== text =============//
$text-font: FixedSysEx, monospace;
$code-font: $text-font;
$text-size: 12pt;
$text-glow: 4px; // multiplied for links

// ch is the width of a zero (0) character
$logo-breakpoint: 86ch;
// $total-width: 112ch;
$total-width: min(88vw, 112ch);
// $navmenu-width: {{ site.nav_vert_chars }} + 0ch;
$navmenu-width: $nav-vert-chars + 2ch;

// set content width to subset of total width
// this is overridden when nav-menu is hidden (@media query)
//#{this} is called interpolation - why is it necessary?
$content-width: calc(#{$total-width} - #{$navmenu-width});
// turn hr into a line of dashes (-) - convoluted for succinctness:

// repeat passed char to passed № of iterations
// src: https://stackoverflow.com/a/38715111
@function repeat-chars($character, $n) {
	$c:"";
	@for $i from 1 through $n {
		$c: $c + $character;
	}
	@return $c;
}

// repeat - (display char) 128 times. a lot neater
$hr-content: repeat-chars("-", 128);

//============ images =============//
$showcase-height: 200px;
$carousel-height: $showcase-height * 1.8;

//============ other =============//
