div.webrings-container{
	padding-top: 1em;
	display: grid;
	grid-auto-flow: column;
	grid-template-areas:
		"nojs yester geek hotln";
	// row-gap: 1em;
	column-gap: 2ch;
		// padding: 0ch 1em;

	& #wr-nojs {
		grid-area: nojs;
	}
	& #wr-geekring {
		grid-area: geek;
	}
	& #wr-yester {
		grid-area: yester;
	}
	& #wr-hotline {
		grid-area: hotln;
	}

	& .webring {
		/* for centring the titles/links */
		text-align: center;
		& p,
		& ul, {
			display: inline-block;
		}

		& li {
			display: inline-block;
		}
	}
}

@media only screen and (max-width: $logo-breakpoint) {
	div.webrings-container{
		display: grid;
		grid-auto-flow: column;
		grid-template-areas:
			"nojs yester"
			"geek  hotln"
			"break break"
			"intro intro";
		}
}
