div.webrings-container{
	display: grid;
	grid-auto-flow: column;
	grid-template-areas:
		"intro intro intro intro"
		"hotln yester geek nojs";
	// row-gap: 1em;
	column-gap: 2ch;
		// padding: 0ch 1em;

	& .webring {
		/* for centring the titles/links */
		text-align: center;
		& p,
		& ul, {
			display: inline-block;
		}

		& li {
			display: inline-block;
		}
	}

	& #wr-intro {
		grid-area: intro;
	}
	& #wr-geekring {
		grid-area: geek;
	}
	& #wr-yester {
		grid-area: yester;
	}
	& #wr-hotline {
		grid-area: hotln;
	}
}

@media only screen and (max-width: $logo-breakpoint) {
	div.webrings-container{
		display: grid;
		grid-auto-flow: column;
		grid-template-areas:
			"intro intro"
			"hotln yester"
			"geek  nojs";
		}
}
