---
---

:root {
	--fnt-display: "Chintzy", serif;
	--fnt-subdisplay: "Chintzy", serif;
}
main {
	background-color: var(--content-background-colour, var(--header-colour, var(--bg-0)));
	// width: 100%;
	// max-width: var(--content-background-width);
	padding: 1em 0ch 2em;
}
article {
	width: var(--content-background-width);
}
article>header,
article>footer,
article>section>*:not(.full-bleed) {
	max-width: var(--text-max-width);
	margin-inline: auto;
	padding-inline: 2ch;
}
.full-bleed {
	// pass;
}
figure.full-bleed {
	padding-block: 1em;
	text-align: center;
	text-wrap: balance;
}
/* can't make it look nice *and* readable
section>p::first-letter {
	font-size: 1.5em;
	padding-right: 0.5em;
	float: left;
}*/
ol {
	list-style: lower-greek;
	//list-style: symbols(fixed "z" "x" "c"); note to self: this exists
}
ol:has(p) {
	list-style: none;
	counter-reset: list-itr;
	padding-left: 0;
	& p:first-child::before {
		content: counter(list-itr, lower-greek) ".";
		counter-increment: list-itr;
		color: var(--s-blu);
	}
}
ol, ul, dl {
		padding-left: 4ch;
  & ::marker {
		color: var(--s-blu);
	}
}

a[id^="ref"],
a[id^="fn"] {
	/*css counters!? for double-dagger and asterisk*/
	// vertical-align: super;
	text-decoration: none !important;
	font-family: var(--fnt-serif);
	font-size: 0.8em;
	visibility: hidden;
	position: relative;
	&::before{
		visibility: visible;
		position: absolute;
		top: -0.5em;
		font-size: 1.3em;
		content: "†";
	}
	&:target {
		background-color: var(--d-red);
	}
}
/*these would probably be better as a defined counter with counter-increment and
counter-reset on the footer (an in a list?)*/
a[id^="ref2"]:before,
 a[id^="fn2"]:before {
	content: "‡"
}
a[id^="ref3"]:before,
 a[id^="fn3"]:before {
	content: "⸸"
}
a[id^="ref4"]:before,
 a[id^="fn4"]:before {
	content: "⹋"
}
a[id^="ref5"]:before,
 a[id^="fn5"]:before {
	content: "*" // this is getting silly now
}
a[id^="ref6"]:before,
 a[id^="fn6"]:before {
	content: "⁑"
}
a[id^="ref7"]:before,
 a[id^="fn7"]:before {
	content: "꙳"
}
a[id^="ref8"]:before,
 a[id^="fn8"]:before {
	content: "⁂"
}

/* looks lovely on chrome, not ffx:
 * https://bugzilla.mozilla.org/show_bug.cgi?id=1313757
 * https://bugzilla.mozilla.org/show_bug.cgi?id=1656784
 *
h1,h2,h3,h4,h5,h6 {
	background-image: linear-gradient(180deg,#e7461c,#e74769 14%,#e65f1d 33%,#f07f23 50%,#ffd420 76%,#eadfc1 93%);
	background-clip: text;
	background-attachment: fixed;
	background-size: 100vw 100vh;
	color: transparent;
}*/


/* ---------------------------- specific tweaks ---------------------------- */

kbd {
  border-radius: 99vmax;
  padding-top: 0.1em;

  &.s-o::after {
		color: var(--s-red);
		content: "Ο";
  }
  &.s-x::after {
		color: var(--s-blu);
		content: "Χ";
  }
  &.s-t::after {
		color: var(--s-grn);
		content: "Δ";
  }
  &.s-s::after {
		color: var(--s-ppl);
		content: "Π";
  }
  &.n-a::after {
		color: var(--s-red);
		content: "A";
  }
  &.n-b::after {
		color: var(--s-ylw);
		content: "B";
  }
  &.n-x::after {
		color: var(--s-blu);
		content: "X";
  }
  &.n-y::after {
		color: var(--s-grn);
		content: "Y";
  }
  &.x-a::after {
		color: var(--s-grn);
		content: "A";
  }
  &.x-b::after {
		color: var(--s-red);
		content: "B";
  }
  &.x-x::after {
		color: var(--s-blu);
		content: "X";
  }
  &.x-y::after {
		color: var(--s-ylw);
		content: "Y";
  }
  &.d-a::after {
		color: var(--s-red);
		content: "A";
  }
  &.d-b::after {
		color: var(--s-blu);
		content: "B";
  }
  &.d-x::after {
		color: var(--s-ylw);
		content: "X";
  }
  &.d-y::after {
		color: var(--s-grn);
		content: "Y";
  }
}

/* ------------------------------ decorations ------------------------------ */

/*dl {
	& dd {
		line-height: initial;  // i'm not sure this is best practice - maybe just 1
	}
}*/

table,
td {
	border: 2px solid var(--content-background-colour);
	border-collapse: collapse;
	background-color: var(--strong-accent);
	table-layout: fixed;
	max-width: 100%;
	padding: 0.4em;
}

// blockquote::before {
		// top: 0.3em;  // why is this so different?
// }

article hr {
	background: none;
	border: 0;
	margin: 0.5em 0;
	padding: 0;

	&::after {
		// content: "☙ ⁂ ❧";
		content: "🙡 ⁂ 🙣";  // alt
		color: var(--s-grn);
		display: block;
		line-height: 1;
		text-align: center;
	}
}
