/* https://indestructibletype.com/Cooper/ */
@font-face {
	font-family: "Cooper";
	src: url("/assets/fonts/cooper/cooper-regular.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	size-adjust: 115%;
}
@font-face {
	font-family: "Cooper";
	src: url("/assets/fonts/cooper/cooper-medium.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	size-adjust: 115%;
}
@font-face {
	font-family: "Cooper";
	src: url("/assets/fonts/cooper/cooper-semibold.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	size-adjust: 115%;
}
@font-face {
	font-family: "Cooper";
	src: url("/assets/fonts/cooper/cooper-bold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	size-adjust: 115%;
}
@font-face {
	font-family: "Cooper";
	src: url("/assets/fonts/cooper/cooper-extrabold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	size-adjust: 115%;
}
@font-face {
	font-family: "Cooper";
	src: url("/assets/fonts/cooper/cooper-black.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	size-adjust: 115%;
}
@font-face {
	font-family: "Cooper";
	src: url("/assets/fonts/cooper/cooper-italic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
	size-adjust: 115%;
}
@font-face {
	font-family: "Cooper";
	src: url("/assets/fonts/cooper/cooper-mediumitalic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	size-adjust: 115%;
}
@font-face {
	font-family: "Cooper";
	src: url("/assets/fonts/cooper/cooper-semibolditalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	size-adjust: 115%;
}
@font-face {
	font-family: "Cooper";
	src: url("/assets/fonts/cooper/cooper-bolditalic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
	size-adjust: 115%;
}
@font-face {
	font-family: "Cooper";
	src: url("/assets/fonts/cooper/cooper-extrabolditalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	size-adjust: 115%;
}
@font-face {
	font-family: "Cooper";
	src: url("/assets/fonts/cooper/cooper-blackitalic.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
	size-adjust: 115%;
}

/* https://indestructibletype.com/Drafting/ */
@font-face {
	font-family: "Drafting";
	src: local("Drafting Mono Regular"), local("Drafting Mono-Regular"),
	url("/assets/fonts/drafting/drafting-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Drafting";
	src: local("Drafting Mono Medium"), local("Drafting Mono-Medium"),
	url("/assets/fonts/drafting/drafting-medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Drafting";
	src: local("Drafting Mono SemiBold"), local("Drafting Mono-SemiBold"),
	url("/assets/fonts/drafting/drafting-semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Drafting";
	src: local("Drafting Mono Bold"), local("Drafting Mono-Bold"),
	url("/assets/fonts/drafting/drafting-bold.woff2") format("rrwoff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Drafting";
	src: local("Drafting Mono ExtraBold"), local("Drafting Mono-ExtraBold"),
	url("/assets/fonts/drafting/drafting-extrabold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Drafting";
	src: local("Drafting Mono Black"), local("Drafting Mono-Black"),
	url("/assets/fonts/drafting/drafting-black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Drafting";
	src: local("Drafting Mono Italic"), local("Drafting Mono-Italic"),
	url("/assets/fonts/drafting/drafting-italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Drafting";
	src: local("Drafting Mono Medium Italic"), local("Drafting Mono-MediumItalic"),
	url("/assets/fonts/drafting/drafting-mediumitalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "Drafting";
	src: local("Drafting Mono SemiBold Italic"), local("Drafting Mono-SemiBoldItalic"),
	url("/assets/fonts/drafting/drafting-semibolditalic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: "Drafting";
	src: local("Drafting Mono Bold Italic"), local("Drafting Mono-BoldItalic"),
	url("/assets/fonts/drafting/drafting-bolditalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "Drafting";
	src: local("Drafting Mono ExtraBold Italic"), local("Drafting Mono-ExtraBoldItalic"),
	url("/assets/fonts/drafting/drafting-extrabolditalic.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: "Drafting";
	src: local("Drafting Mono Black Italic"), local("Drafting Mono-BlackItalic"),
	url("/assets/fonts/drafting/drafting-blackitalic.woff2") format("woff2");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Overpass";
	src: local("Overpass-Italic-VariableFont_wght"),
	url("/assets/fonts/variable/overpass.woff2") format("woff2 supports variations"),
	url("/assets/fonts/variable/overpass.woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: normal;
}
@font-face {
	font-family: "Overpass";
	src: local("Overpass-VariableFont_wght"),
	url("/assets/fonts/variable/overpass-italic.woff2") format("woff2 supports variations"),
	url("/assets/fonts/variable/overpass-italic.woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: italic;
}
@font-face {
	font-family: "Crimson";
	src: local("CrimsonPro-VariableFont_wght"),
	url("/assets/fonts/crimson-pro.woff2") format("woff2 supports variations"),
	url("/assets/fonts/crimson-pro.woff2") format("woff2-variations");
	font-weight: 100 1000;
	font-style: normal;
}
@font-face {
	font-family: "Crimson";
	src: local("CrimsonPro-Italic-VariableFont_wght"),
	url("/assets/fonts/crimson-pro-italic.woff2") format("woff2 supports variations"),
	url("/assets/fonts/crimson-pro-italic.woff2") format("woff2-variations");
	font-weight: 100 1000;
	font-style: italic;
}

/*http://arkandis.tuxfamily.org/adffonts.html
 * superceded by cooper* */
/* modified with fontsquirrel: */
/* x-height multiplier @ 119% (would rather 119.5, but fs doesn't support
 * fractional values); glyph spacing @ -32 em square (equivalent to -0.03,
 * ~-0.4px @ 16px) */
/*@font-face {
 *	font-family: "Baskervald";
 *	src: local("BaskervaldADFStd"),
 *		url("/assets/fonts/baskervald-adf.woff2") format("woff2");
 *	font-weight: normal;
 *	font-style: normal;
 * }
 * @font-face {
 *	font-family: "Baskervald";
 *	src: local("BaskervaldADFStd-Italic"),
 *		url("/assets/fonts/baskervald-adf-italic.woff2") format("woff2");
 *	font-weight: normal;
 *	font-style: italic;
 * }
 * @font-face {
 *	font-family: "Baskervald";
 *	src: local("BaskervaldADFStd-Bold"),
 *		url("/assets/fonts/baskervald-adf-bold.woff2") format("woff2");
 *	font-weight: bold;
 *	font-style: normal;
 * }
 * @font-face {
 *	font-family: "Baskervald";
 *	src: local("BaskervaldADFStd-BoldItalic"),
 *		url("/assets/fonts/baskervald-adf-bold-italic.woff2") format("woff2");
 *	font-weight: bold;
 *	font-style: italic;
 * }*/

/*https://www.dafontfree.co/marvin-visions-font/*/
@font-face {
	font-family: "Marvin Visions";
	src: url("/assets/fonts/marvin-visions.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

/*http://natashaisneat.com/*/
@font-face {
	font-family: "Geomancy";
	src: url("/assets/fonts/geomancy-extrabold.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-synthesis-weight: none;
}
@font-face {
	font-family: "Geomancy";
	src: url("/assets/fonts/geomancy-hairline.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
	font-synthesis-weight: none;
}

/* literally just for the infinity symbol... : ( */
@font-face {
	font-family: "Dela Gothic";
	src: url("/assets/fonts/delagothicone-infinity.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	unicode-range: U+221E;
}

/* https://zelowtype.com/#:~:text=ZT%20CHINTZY
   https://www.behance.net/gallery/192978375/ZT-CHINTZY-Free-Font-17-Styles */
	@font-face {
		font-family: "Chintzy";
		src: url("/assets/fonts/chintzy/chintzy-thin.woff2") format("woff2");
		font-weight: 200;
		font-style: normal;
		size-adjust: 95%;
	}
	@font-face {
		font-family: "Chintzy";
		src: url("/assets/fonts/chintzy/chintzy-light.woff2") format("woff2");
		font-weight: 300;
		font-style: normal;
		size-adjust: 95%;
	}
	@font-face {
		font-family: "Chintzy";
		src: url("/assets/fonts/chintzy/chintzy-regular.woff2") format("woff2");
		font-weight: 400;
		font-style: normal;
		size-adjust: 95%;
	}
	@font-face {
		font-family: "Chintzy";
		src: url("/assets/fonts/chintzy/chintzy-medium.woff2") format("woff2");
		font-weight: 500;
		font-style: normal;
		size-adjust: 95%;
	}
	@font-face {
		font-family: "Chintzy";
		src: url("/assets/fonts/chintzy/chintzy-semibold.woff2") format("woff2");
		font-weight: 600;
		font-style: normal;
		size-adjust: 95%;
	}
	@font-face {
		font-family: "Chintzy";
		src: url("/assets/fonts/chintzy/chintzy-bold.woff2") format("woff2");
		font-weight: 700;
		font-style: normal;
		size-adjust: 95%;
	}
	@font-face {
		font-family: "Chintzy";
		src: url("/assets/fonts/chintzy/chintzy-extrabold.woff2") format("woff2");
		font-weight: 800;
		font-style: normal;
		size-adjust: 95%;
	}
	@font-face {
		font-family: "Chintzy";
		src: url("/assets/fonts/chintzy/chintzy-black.woff2") format("woff2");
		font-weight: 900;
		font-style: normal;
		size-adjust: 95%;
	}
	@font-face {
		font-family: "Chintzy";
		src: url("/assets/fonts/chintzy/chintzy-thinitalic.woff2") format("woff2");
		font-weight: 200;
		font-style: italic;
		size-adjust: 95%;
	}
	@font-face {
		font-family: "Chintzy";
		src: url("/assets/fonts/chintzy/chintzy-lightitalic.woff2") format("woff2");
		font-weight: 300;
		font-style: italic;
		size-adjust: 95%;
	}
	@font-face {
		font-family: "Chintzy";
		src: url("/assets/fonts/chintzy/chintzy-italic.woff2") format("woff2");
		font-weight: 400;
		font-style: italic;
		size-adjust: 95%;
	}
	@font-face {
		font-family: "Chintzy";
		src: url("/assets/fonts/chintzy/chintzy-mediumitalic.woff2") format("woff2");
		font-weight: 500;
		font-style: italic;
		size-adjust: 95%;
	}
	@font-face {
		font-family: "Chintzy";
		src: url("/assets/fonts/chintzy/chintzy-semibolditalic.woff2") format("woff2");
		font-weight: 600;
		font-style: italic;
		size-adjust: 95%;
	}
	@font-face {
		font-family: "Chintzy";
		src: url("/assets/fonts/chintzy/chintzy-bolditalic.woff2") format("woff2");
		font-weight: 700;
		font-style: italic;
		size-adjust: 95%;
	}
	@font-face {
		font-family: "Chintzy";
		src: url("/assets/fonts/chintzy/chintzy-extrabolditalic.woff2") format("woff2");
		font-weight: 800;
		font-style: italic;
		size-adjust: 95%;
	}
