---
---

:root {
	--content-background-colour: black;
	--content-background-radius: 8px;
	--header-colour: black;
	--fnt-display: "Marvin Visions", "Geomancy Extra Bold", fantasy;

	--d-red: brown;
	--d-grn: darkgreen;
	--d-ylw: darkgoldenrod;
	--d-blu: midnightblue;
	--d-ppl: darkslateblue;
	--d-aqa: darkcyan;
	--d-org: darkorange;

	--bg-0: black;
	--bg-1: darkslategrey;
	--bg-2: darkslategrey;
	--bg-3: dimgrey;
	--bg-4: slategrey;
	--bg-5: lightslategrey;

	--fg-4: lightsteelblue;
	--fg-3: silver;
	--fg-2: lightgrey;
	--fg-1: ghostwhite;
	--fg-0: white;

	--s-red: tomato;
	--s-grn: yellowgreen;
	--s-ylw: gold;
	--s-blu: powderblue;
	--s-ppl: plum;
	--s-aqa: palegreen;
	--s-org: orange;

	--fg-1: white;
	--fg-0: white;
	/* wallpaper somewhat inspired by daft punk's "around the world" */
	/* https://www.youtube.com/watch?v=K0HSD_i2DvA */
	/* web named colours were placeholder colours, but they look good enough to keep */
	--wall-colr-1: red;
	--wall-colr-2: orange;
	--wall-colr-3: goldenrod;
	--wall-colr-4: orange;

}

/* light mode colours */
@media (prefers-color-scheme: light) {
	:root {

	--d-red: brown;
	--d-grn: darkgreen;
	--d-ylw: darkgoldenrod;
	--d-blu: midnightblue;
	--d-ppl: darkslateblue;
	--d-aqa: darkcyan;
	--d-org: darkorange;

	--bg-0: black;
	--bg-1: darkslategrey;
	--bg-2: darkslategrey;
	--bg-3: dimgrey;
	--bg-4: slategrey;
	--bg-5: lightslategrey;

	--fg-4: lightsteelblue;
	--fg-3: silver;
	--fg-2: lightgrey;
	--fg-1: ghostwhite;
	--fg-0: white;

	--s-red: tomato;
	--s-grn: yellowgreen;
	--s-ylw: gold;
	--s-blu: powderblue;
	--s-ppl: plum;
	--s-aqa: palegreen;
	--s-org: orange;

		/* blue-ish */
		--wall-colr-1: #2d4bf0;
		--wall-colr-2: #308bdd;
		--wall-colr-3: #2df0c2;
		--wall-colr-4: #308bdd;
		/* v light pink
		--wall-colr-1: lightblue;
		--wall-colr-2: pink;
		--wall-colr-3: papayawhip;
		--wall-colr-4: pink; */
	}
}

/* ================================ header? ================================= */

@font-face {
	font-family: "Gaston Opti";
	src:
		url("/assets/fonts/header/gaston-opti.woff2") format("woff2"),
		url("/assets/fonts/header/gaston-opti.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Motter Ombra";
	src:
		url("/assets/fonts/header/motter-ombra.woff2") format("woff2"),
		url("/assets/fonts/header/motter-ombra.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body>header {
		&>h1 {
			&::before,
			&::after {
				content: "";
				width: 100%;
				height: 100%;
				--offset: 0.11em;
				--height: 0.4em;
				background-image:
					linear-gradient(
						var(--header-colour, black) 0% calc(50% - var(--height) - var(--offset)),
						transparent calc(50% - var(--height) - var(--offset)) calc(50% + var(--height) - var(--offset)),
						var(--header-colour, black)       calc(50% + var(--height) - var(--offset))),
					repeating-linear-gradient(
						var(--header-colour, black) calc(var(--blind-height) / 2),
						white calc(var(--blind-height) / 1.2) var(--blind-height));
				mix-blend-mode: multiply;
			}

			margin: 0;
			padding: 0;
			display: grid;
			width: 100%;
			font-size: min(12vw, 96px);

			place-items: center;
			grid-auto-flow: column;
			grid-auto-columns: 1fr auto 1fr;
			grid-template-areas: "left centre right";

			--padding: clamp(2px, 0.1em, 48px);
			--blind-height: min(0.24em, 48px);
			--glow-size: 0.2em;

			border: var(--padding) solid black;
			box-sizing: border-box;

			background-image:
				linear-gradient(to top left,
					transparent,
					#ED5C1D,
					transparent,
					#ED5C1D,
					transparent),
				linear-gradient(to top right,
					#FF9421,
					#F83D14,
					#F21D23,
					#F83D14,
					#FF9421,
					#F83D14,
					#E39D43,
					#F83D14,
					#FF9421);

			background-size: 200% 200%;
			animation: gradient 20s linear infinite;

			&>span:first-child {
				grid-area: centre;
				position: relative;

				&::selection {
					color: black;
					background: white;
				}
/*
				&::after {
					content: "'";
					position: absolute;
					font-size: 0.6em;
					top: 0.65em;
					right: 0.3em;
					text-shadow:
						0px 0px var(--glow-size) var(--header-colour, black),
						0px 0px var(--glow-size) white,
						0px 0px 0px var(--header-colour, black);
					color: transparent;
				}*/

					/*"background-clip: text" causes massive cpu usage
						in firefox and doesn't work in chrome?*/
			/* 		content: "ZEUS´"; */
					// position: relative;
					white-space: nowrap;  /* ztodo fixme clamp text */
					text-transform: uppercase;
					background: var(--header-colour, black);
					color: white;
					mix-blend-mode: multiply;
					font-size: inherit;
					font-weight: 500;  /*chrome defaults to 700?*/
					font-family: "Motter Ombra";
					text-shadow: 0 0 var(--glow-size) white;
					/*i have no idea why this has to be halved*/
					/* `gap` leaves non-black spaces, so this is instead of gap */
					padding-left: calc(var(--padding) / 2);  /* text weight is off-centre */
					padding-right: calc(var(--padding) / 2 + 8px);
					padding-block: var(--blind-height);
			}

			&>span:last-child {
				grid-area: centre;

				position: relative;
				font-family: "Gaston Opti";
				font-size: 0.6em;
				left: 1.05em;
				top:  0.35em;
				transform: rotate(345deg);
				padding-right: 1ch;
				background-image: linear-gradient(red, blue);  /* ztodo better colours */
				background-clip: text;
				color: transparent;
				text-shadow: 0px 0px 20px #d0d6;

				&::selection {
					background: #d0d6;
				}
			}

		}
}

/* ================================ body ================================= */

body {
	background-image:
		radial-gradient(
			circle at 50% 50%,
			#fff3 35%,
			#e903 45%,
			#4084 calc(45% + 1px),
			#110008cc 60%,
			#000 70%),
		linear-gradient(
			to top left,
			transparent,
			var(--wall-colr-1),
			transparent,
			var(--wall-colr-1),
			transparent),
		linear-gradient(
			to top right,
			var(--wall-colr-1),
			var(--wall-colr-2),
			var(--wall-colr-3),
			var(--wall-colr-4),
			var(--wall-colr-1),
			var(--wall-colr-2),
			var(--wall-colr-3),
			var(--wall-colr-4),
			var(--wall-colr-1));
	background-size: 192px 192px, 200% 200%, 200% 200%;
	animation: gradient 20s linear infinite;
	background-attachment: fixed;
	background-repeat: round;
}

@keyframes gradient {
	0%   { background-position: 0 0, 0% -100%, 0% -100%; }
	100% { background-position: 0 0, 0%  100%, 0%  100%; }
}

body>main,
body>footer {
	backdrop-filter: blur(20px);
	background-color: #000a;
	background-image: url(/assets/images/backgrounds/texture.png);
	background-blend-mode: multiply;
	box-shadow: inset 0px 0px 16px black, inset 0px 0px 8px black;
	border: 1px solid #ffffff30;
}
body>main {
	border-top: none;
}
body>footer {
	border-bottom: none;
}

main>article~article {
	padding-top: 1.5em;
	 margin-top: 1.5em;
	 border-top: 1px solid currentColor;
}

main>article>.text-width,
main>article p {
	// max-width: var(--text-max-width);  // to bring images above the fold
	margin-inline: auto;
	padding-inline: 4ch;
}
header,h1,h2,h3,h4,h5,h6,details {
	text-align: center !important;  // to override right-aligned subheaders
	text-wrap: balance;
}
#contents {
	max-width: max-content;
	margin-inline: auto;
	text-align: left;
}

.img-grid {
	text-wrap: initial; // reset from global css
}
.img-grid.hover-zoom {
	padding-inline: 16px;
	box-sizing: border-box;
}

.img-grid.img-capts {
	// caption is centred due to img-grid being centred
	li {
		padding-inline: 2px;
	}
	figure {
		margin: 0;
	}
	img {
		display: block;  // force caption to display on next line
		max-width: 100%;
	}
	.img-caption {  // hide caption by default
		transition: opacity 0.1s ease-in-out;
		opacity: 0;
	}
	& li:hover .img-caption,
	li:focus-within .img-caption {  // but show it on hover/focus
		opacity: 1;
	}

	a:any-link {
		text-decoration: underline dotted currentColor 2px;
		font-weight: normal;
	}
	a.src {  // unverified source
		color: var(--s-ylw);
		&::after {
			content: "src [~]";
		}
	}
	a.v:any-link {  // verified original source
		color: var(--s-grn);
		&::after {
			content: "src [🗸]";
		}
	}
	a.i {  // design inspiration
		color: var(--s-aqa);
		&::after {
			content: "insp";
		}
	}
	a.u {  // unknown source (legacy)
		color: var(--s-red);
		&::after {
			content: "src [?]";
		}
	}
	a.z {  // ~zeus (made by me)
		color: var(--s-org);
		&::after {
			content: "src [ɀ]";
		}
	}

	&>span.sep::before {
			content: "–";
			color: var(--fg-2);
		}
}

p {
	font-size: 0.9em;
}

ol {
	list-style: lower-greek;

	::marker {
		// color: var(--s-blu);
	}
}

/* ------------------------ specific tweaks ------------------------- */

#other-art {
	& figure {
		width: min-content;
	}

	& img {
		max-width:  400px;
		max-height: 400px;
		width:  auto;
		height: auto;
	}
}

#free-internet:hover,
#free-internet:focus,
#free-internet:active {
	content: var(--hover-src);
}

/* -------------------------- decorations --------------------------- */

// :where(ul, ol, dl, p) + :where(h2, h3) {
hr {
	background: none;
	border: 0;
	margin: 0.5em 0;
	padding: 0;

	 &::before {
		 content: "🙡 ✠ ✠ ✠ 🙣";
		 color: var(--s-grn);
		font-size: 1rem;
		display: block;
		line-height: 1;
		text-align: center;
	}
}
