---
---

// https://www.youtube.com/watch?v=8MaCTDkoVd8&t=954s
// https://codersblock.com/blog/the-surprising-things-that-css-can-animate/#text-selection-trick

/* =============================== variables =============================== */

// https://fontlibrary.org/en/catalogue?order=&page=18

/* variables */
:root {
	scroll-behavior: smooth;
	scroll-padding-top: 10vh;

	--d-red: #DF382C;
	--d-grn: #4E9A06;
	--d-ylw: #C4A000;
	--d-blu: #3465A4;
	--d-ppl: #75507B;
	--d-aqa: #06989A;
	--d-org: #E95420;

	--s-red: #EF2929;
	--s-grn: #8AE234;
	--s-ylw: #FCE94F;
	--s-blu: #729FCF;
	--s-ppl: #AD7FA8;
	--s-aqa: #34E2E2;
	--s-org: #F07746;

	--bgd-0: #474640;
	--bgd-1: #4E4C46;
	--bgd-2: #5A5850;
	--bgd-3: #4F4D47;
	--bgd-4: #595854;
	--bgd-5: #616254;
	--txt-4: #969693;
	--txt-3: #BAB8B2;
	--txt-2: #DFDBD2;
	--txt-1: #EBEBEB;
	--txt-0: #FFFFFF;
}

/* light mode colours */
@media (prefers-color-scheme: light) {
	:root {
		// --is-light-mode: true;  // placeholder idea

		--s-red: #EF2929;
		--s-grn: #8AE234;
		--s-ylw: #FCE94F;
		--s-blu: #729FCF;
		--s-ppl: #AD7FA8;
		--s-aqa: #34E2E2;
		--s-org: #F07746;

		--d-red: #df382c;
		--d-grn: #4E9A06;
		--d-ylw: #C4A000;
		--d-blu: #3465A4;
		--d-ppl: #75507B;
		--d-aqa: #06989A;
		--d-org: #E95420;

		--bgd-0: #FBF1C7;
		--bgd-1: #EBDBB2;
		--bgd-2: #D5C4A1;
		--bgd-3: #BDAE93;
		--bgd-4: #A89984;
		--bgd-5: #928374;
		--txt-4: #7C6F64;
		--txt-3: #665C54;
		--txt-2: #504945;
		--txt-1: #3C3836;
		--txt-0: #282828;

	}
}

body:has(option[value="gb"]:checked) {
	--d-red: #DF382C;
	--d-grn: #4E9A06;
	--d-ylw: #C4A000;
	--d-blu: #3465A4;
	--d-ppl: #75507B;
	--d-aqa: #06989A;
	--d-org: #E95420;

	--s-red: #EF2929;
	--s-grn: #8AE234;
	--s-ylw: #FCE94F;
	--s-blu: #729FCF;
	--s-ppl: #AD7FA8;
	--s-aqa: #34E2E2;
	--s-org: #F07746;

	--bgd-0: #474640;
	--bgd-1: #4E4C46;
	--bgd-2: #5A5850;
	--bgd-3: #4F4D47;
	--bgd-4: #595854;
	--bgd-5: #616254;
	--txt-4: #969693;
	--txt-3: #BAB8B2;
	--txt-2: #DFDBD2;
	--txt-1: #EBEBEB;
	--txt-0: #FFFFFF;
}
/* ========================== accessibility styles ========================== */

@media (prefers-reduced-motion) {
	img.anim {
		transition: filter 500ms, background-color 500ms;
		&:not(:hover) {
			background-color: white;
			filter: contrast(0) sepia(100);
		}
	}
}

/* ======================== element generic styles ========================= */
html,
body {
	/* prevents zooming on mobile *//* no it doesn't */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;

	accent-color: var(--s-org);
}

html {
	& ::selection {
		border-radius: 0.1em; // this doesn't work but it would be nice if it did
		color: var(--txt-0);
		// doesn't work in ff? even with !important
		text-decoration-color: var(--bgd-0);
	}

	/* colour scrollbars with css */
	scrollbar-color: var(--s-org) transparent;
	/* colour scrollbars, but this time for webkit being dumb */
	&::-webkit-scrollbar,
	&::-webkit-scrollbar-thumb,
	&::-webkit-scrollbar-button,
	&::-webkit-scrollbar-corner {
		// border-radius: 0;
	}
	&::-webkit-scrollbar-thumb{
		background-color: var(--s-org);
	}
	&::-webkit-scrollbar{
		background-color: transparent;
	}
}

body {
	// color: var(--txt-1);
	font-family: sans-serif;
	line-height: 1.5;
	tab-size: 2;
	margin:0;
	padding:0;
	border:0;
	text-align: justify;
}

/*
h1 { font-size: 2.2em; }
h2 { font-size:   2em; }
h3, .h-summ { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }*/

.h-summ {
	margin-inline: 0.5em;
	font-family: var(--fnt-serif);
	text-align: center;
	color: var(--s-org);
	&:target {
		color: var(--s-grn);
	}
}

/*
hr {
	border: 1px solid transparent;
	border-top-color: var(--bgd-0);
	border-bottom-color: var(--bgd-5);
	margin-inline: 1em;
}*/

blockquote {
	// margin-left: 1ch;
	margin: 1em 0;
	padding: 0.5em 1.6ch;
	border-left: 0.4ch solid var(--d-ylw);
	padding-left: 1.6ch;
	// font-size: 1.1em;

	position: relative;
	display: block;
	overflow: clip;  // hide glyph in short quotes
	isolation: isolate;  // create a new stacking index

	&::before {
		content: open-quote;
		position: absolute;
		display: block;
		z-index: -1;  // hide behind text

		color: var(--bgd-3);
		top: -0.2em;  // or top: 0.3em;, needs further testing
		left: 0em;
		font-size: 8em;
	}
	&::after {
		content: no-close-quote;  // reset quote back to double
		// visibility: hidden;    // (nested quotes become single)
		// position: absolute;    // (don't mess with positioning)
	}
}

/* colour highlighted text */
mark {
	margin-left:  -0.5ch;
	margin-right: -0.5ch;
	padding-left:  0.5ch;
	padding-right: 0.5ch;
	border-radius: 0.1em;
	background-color: var(--s-ylw);
	color: var(--bgd-0);
}
del {
	text-decoration-color: var(--s-red);
}
ins {
	text-decoration-color: var(--s-grn);
}

// kbd {  // keyboard (ctrl+f)
// 	background-color: var(--bgd-3);
// 	padding-inline: 0.3em;
// 	padding-top: 0.3em;
// 	border-radius: 0.2em;
// 	font-size: 1em;
// 	box-shadow:
// 			-2px -2px 0 var(--btn-hilite),
// 			 2px  2px 0 var(--btn-lolite);

	// for after (widthless border)
	// position: relative;
	// isolation: isolate
	// &::after {
		// content: "";
		// inset: -2px;
		// background: red;
		// inset: -0.1em;
		// background: #f00;
		// z-index: -1;
		// top: -0.2em;
		// bottom: 0;
		// border-radius: 0.3em;
	// }
// }

a:any-link {
	font-weight: bold;

	&[href^="mailto"] {
		cursor: progress;
	}
	&[href^="http"] {
		cursor: alias;
	}
	&:link {
		color: var(--s-blu);
	}
	&:visited {
		color: var(--s-ppl);
	}
	&:active, &:focus {
		color: var(--s-red);
		outline: 1px dotted;
		&:has(*) {
			outline: none;
		}
	}
}

/* ========================= class generic styles ========================== */
/*
.faux-inf::after {  // fake infinity symbol as eadui doesn't have one
	content: "00\00a0\00a0";
	letter-spacing: -4px;
}*/

pre,
samp,
.ascii-art {
	font-family: var(--fnt-mono, monospace);
}
.ascii-art {
	white-space: pre;
	overflow: hidden;
	display: block;
	font-variant-ligatures: none;
	-moz-tab-size: 0;
	tab-size: 0;
}
code {  // code formating below
	font-family: var(--fnt-code);
}

.spoiler {
	color: var(--s-aqa);
	filter: blur(4px);
	transition:
		color 0.25s ease,
		filter 0.25s ease;

	&:hover,
	&:active {
		color: revert-layer;
		filter: none;
	}
}

.captioned,
abbr {
	cursor: help;
	color: var(--s-aqa);
	position: relative;

	// mobile tap titles

	&:active::after,
	&:focus::after {
		position: absolute;
		content: attr(title);

		font-family: var(--fnt-sans);
		font-size: 0.8rem;
		font-weight: normal;
		font-style: normal;

		width: max-content;
		left: 0;
		bottom: -1em;
		padding: 2px;
		border-radius: 2px;
		background-color: var(--s-blu);
		color: var(--bgd-0);
	}
}

// @media (hover: none)

.ipa {
	font-family: var(--fnt-ipa);
}
// this is for the fonts in logfile
.glyph-showcase[lang="sr"] {
	font-family: "Overpass", "OverpassRegular";
}

code {
	&.codeblock {
		font-family: var(--fnt-code);
		-moz-tab-size:	4;  // may be obsolete?
		tab-size:     	4;
		display: block;
		white-space: pre;
		margin: 0.5em;
		padding: 0.5em;
		background: var(--bgd-0);
	}
	& .obj {  // object
		color: var(--s-red);
	}
	& .mod {  // modifier
		color: var(--s-ylw);
	}
	& .opr {  // operator
		color: var(--s-grn);
	}
	& .val {  // value
		color: var(--s-ppl);
	}
	& .cmt {  // comment
		color: var(--d-org);
		font-style: italic;
	}
}

.btn-88x31 {
	width:  88px;
	height: 31px;
}
.btn-88x31[src$=".svg"] {
	// this shouldn't make a difference, but seems to reduce shimmering on scale
	image-rendering: auto;
}
.btn-176x31 {
	width:  176px;
	height: 31px;
}
.btn-80x15 {
	width:  80px;
	height: 15px;
}
.btn-150x20 {
	width: 150px;
	height: 20px;
}
.stamp-99x56 {
	width:  99px;
	height: 56px;
}
.stamp-100x50 {
	width: 100px;
	height: 50px;
}

[classs^="btn"],
[classs^="stamp"],
.tower,
.pixel-art,
.desktop-icon img, {
	/* render pixel art pixelly when zoomed in */
	image-rendering: pixelated;   /* fallback, pixellated */
	image-rendering: crisp-edges; /* unsure, filter e.g. hq2x */
	/* so that button alt text can still be scrolled, but doesn't break layout */
	overflow: auto;
}

img.smooth-zoom {
	image-rendering: auto;
}

.img-grid {
	width: 100%;
	margin: 0;
	padding: 0; // this is because it's a list, which has user agent padding

	list-style-type: none;
	text-align: center;
	text-wrap: balance;

	& li {
		display: inline-block;
		// ~~i don't know why, but inline-block aligns to bottom~~ fixed:
		vertical-align: top;
		& a {
			text-decoration: none;
		}
	}

	& img {
		display: inline;
		margin: 2px 1px;
		vertical-align: middle;
	}
}

.img-grid.hover-zoom img,
.img-grid.hover-zoom iframe {  // for buttonlink
	/* zoom/scale/grow on hover */
	transition:
		transform 0.2s ease-in-out 0s;
		// filter    0.7s linear 0s;  // for rainbow hover

	&:hover,
	&:focus,
	&:focus-within {
		transform: scale(2);
		filter: hue-rotate(360deg);
		// box-shadow: 0 0 8px var(--d-grn);  } nice idea, doesn't work for
		// background-color:   var(--d-grn);  } non-square buttons
		transition-delay: 0.5s;  // delay to avoid over-eager images
		// transition:  // for rainbow hover
			// transform 0.2s ease-in-out 0.5s,
			// filter    0.7s linear 0s;
	}
	&[src$=".svg"]:hover,
	&[src$=".svg"]:focus,
	&[src$=".svg"]:focus-within {
		transform: scale(3);
		image-rendering: auto;
	}
}

.img-aside {
	width: min-content;
	transform: rotate(var(--rot));
	shape-outside: var(--shape-outside);
}
.float {
	&.left {
		float: left;
	}
	&.right {
		float: right;
	}
}

// .swash-z::first-letter {
	// placeholder in case i need to format the special glyph
// }

.indent,
.copy-all,
textarea {
	background: var(--bgd-0);
	border: 1px solid var(--brdr-dark);
	border-radius: 5px;
	box-shadow: inset 0px 0px 4px -2px #000;
}
textarea {
	color: var(--txt-3);
	padding: 1em 1ch;
}
/* https://codersblock.com/blog/the-surprising-things-that-css-can-animate/#text-selection-trick */
.copy-all {
	user-select: all;
	&:focus {
		animation: select 100ms step-end forwards;
	}
}
@keyframes select {
	to { user-select: text; }
}

// ZTODO: MOVE TO HOMEPAGE OR LINKS (WHEREVER WEBRINGS ARE)
.btn-9x {
	background-color: grey;
	padding: 2px;
	border-width: 2px;
	border-style: solid;
	border-top-color:    white;
	border-left-color:   white;
	border-bottom-color: black;
	border-right-color:  black;
	outline-offset: -5px;
	display: inline-block;
	text-align: center;
	// margin: 1px;
	// margin: auto;
	color: black !important; //!important overrides link styling
	font-weight: 100 !important;
	text-decoration: none;
	user-select: none;

	&:active,
	&:active::before {
		border-top-color:    black;
		border-left-color:   black;
		border-bottom-color: white;
		border-right-color:  white;
	}
}

/* ============================ specific styles ============================ */
/* -------------------------------- desktop -------------------------------- */


body {
  display: grid;
  grid-template-columns: 1fr auto var(--body-hor-offset, 1fr);

	&>header {
		grid-column: 2 / 2;
		text-align: center;
	}

	&>nav {
		grid-column: 2 / 2;
		position: sticky;
		top: 0;

		// ZTODO: OPTIMISE FOR MOBILE
		text-align: center;
		// width: max-content;
		width: 100%;
		white-space: nowrap;
		overflow-x: auto;
		margin: auto;
		background-color: brown;
		z-index: 99;

		& a {
			display: inline-block;
			margin: auto;
		}

		& img {
			width: 48px;
			aspect-ratio: 1;
		}
		& span {
			display: none;
		}
	}

	&>main {
		grid-column: 2 / 2;
		max-width: 120ch;

		&>article {
			// padding-inline: 2ch;
		}
	}

	&>footer {
		grid-column: 1 / 4;
		font-size: smaller;
		padding-block: 1em;
		margin-top: 2em;
		backdrop-filter: blur(25px);
		text-align: center;
		border-top-left-radius:  8px;
		border-top-right-radius: 8px;
		box-shadow: 4px 4px 8px #00000080, 4px 4px 16px #00000080;
	}
}


/*
#desktop-area {
	position: fixed;
	width:  100%;
	height: 100%;

	& #wall-imgs {
		display: block;
		position: fixed;

		& #alucard {
			bottom: 4vh;
			right:  1vw;
		}
		& #bluescreen {
			bottom: 6vh;
			left:   5vw;
		}
		& #comp-spin {
			top:  50vh;
			right: 1vw;
		}
		& #curiosity {
			top:   5vh;
			right: 10vw;
		}
		& #eye {
			top:  25vh;
			left: 40vw;
		}
		& #lava {
			bottom: 25vh;
			right:  35vw;
		}
		& #polarbear {
			top:  5vh;
			left: 10vw;
		}
		& #skellington {
			bottom: 5vh;
			right:  22vw;
		}
		& #sprockets {
			bottom: 5vh;
			left:   10vw;
		}
		& #waddle {
			bottom: 5vh;
			left:   45vw;
		}
		& #www {
			top:  5vh;
			left: 50vw;
		}

		& .wall-img {
			display: block;
			position: fixed;
			font-size: 0.5em;
			width: min-content;

			color: var(--bgd-0);
			opacity: 0;
			transition: opacity 250ms;

			&:hover {
				// visibility: visible;
				// display: block !important;
				opacity: 0.9;
			}
		}
	}
}*/

/* -------------------------------- taskbar -------------------------------- */

/* ============================== animations =============================== */

@keyframes colour-cycle {
	0% {
		color: var(--s-org);
		text-shadow:
			0 0 var(--shad-size-s, 0) var(--s-org),
			0 0 var(--shad-size-l, 0) var(--d-org);
	}
	14% {
		color: var(--s-ylw);
		text-shadow:
			0 0 var(--shad-size-s, 0) var(--s-ylw),
			0 0 var(--shad-size-l, 0) var(--d-ylw);
	}
	29% {
		color: var(--s-grn);
		text-shadow:
			0 0 var(--shad-size-s, 0) var(--s-grn),
			0 0 var(--shad-size-l, 0) var(--d-grn);
	}
	43% {
		color: var(--s-aqa);
		text-shadow:
			0 0 var(--shad-size-s, 0) var(--s-aqa),
			0 0 var(--shad-size-l, 0) var(--d-aqa);
	}
	57% {
		color: var(--s-blu);
		text-shadow:
			0 0 var(--shad-size-s, 0) var(--s-blu),
			0 0 var(--shad-size-l, 0) var(--d-blu);
	}
	71% {
		color: var(--s-ppl);
		text-shadow:
			0 0 var(--shad-size-s, 0) var(--s-ppl),
			0 0 var(--shad-size-l, 0) var(--d-ppl);
	}
	86% {
		color: var(--s-red);
		text-shadow:
			0 0 var(--shad-size-s, 0) var(--s-red),
			0 0 var(--shad-size-l, 0) var(--d-red);
	}
	100% {
		color: var(--s-org);
		text-shadow:
			0 0 var(--shad-size-s, 0) var(--s-org),
			0 0 var(--shad-size-l, 0) var(--d-org);
	}
}

// marquee animation copied from: https://hotlinecafe.com/
.marquee-container {
	overflow: hidden;
	/* don't optimise by not animating gifs */
	will-change: contents;
	// position: relative;
	width: max-content;
}

.marquee-rtl, .marquee-ltr {
	width: max-content;
	/* don't optimise - hotline used this, but i think above works better? */
	will-change: scroll-position;

	&:hover {
		animation-play-state: paused;
	}
}

.marquee-track {
	display: inline;
}

.marquee-rtl {
	// change timer when adding more images - was 50s in hlcafe
	animation: marquee-rtl var(--el-speed, 35s) linear infinite;
	// .marquee-track:nth-of-type(1) {
		// animation: rtl-track 10s steps(2, jump-none) infinite;
	// }
}

.marquee-ltr {
	animation: marquee-ltr 35s linear infinite;
}

@keyframes rtl-track {
	0% {
		order: -1;
	}

	100% {
		order: 99;
	}
}

@keyframes marquee-rtl {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-50%, 0);
	}
}

@keyframes marquee-ltr {
	0% {
		transform: translate(-50%, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}

@media (prefers-reduced-motion) {
	.marquee-rtl, .marquee-ltr {
		animation-play-state: paused;
		padding-left: 0%;

		&:hover {
			animation-play-state: running;
		}
	}
}
