---
---

@font-face {
  font-family: "Space Grotesk";
  src: url("/assets/fonts/space-grotesk.woff2") format("woff2 supports variations"),
       url("/assets/fonts/space-grotesk.woff2") format("woff2-variations");
  font-weight: 100 1000;
}

:root {
	--fnt-sans: "Space Grotesk";
	--content-background-radius: 10px;

	/*any antialiasing breaks firefox !?*/
	--aa: 0px;
	--wall-clr-1: #040D16;
	--wall-clr-2: #091B25;

	--wall-clr-3: #2C1201;
	--wall-clr-4: #622302;
	--wall-clr-5: #EA4A04;
	--wall-clr-6: #FED338;
	--wall-clr-7: #F9C383;
	--wall-clr-8: #B84D21;

	--wall-clr-9: #052011;
	--wall-clr-a: #033E22;
	--wall-clr-b: #115934;
	--wall-clr-c: #019237;
	--wall-clr-d: #83FF2B;
	--wall-clr-e: #B84D21;

	--content-background-colour: var(--wall-clr-3);
	--item-bg-clr-0: var(--wall-clr-7);
	--item-bg-clr-1: var(--wall-clr-4);
	--item-bg-clr-2: var(--wall-clr-8);

}
/* light mode colours */
@media (prefers-color-scheme: light) {
	:root {
		--bgd-0: #dedee7;
		--bgd-1: #deadc6;
		--bgd-2: #adb5c6;
		--bgd-3: #b54a7b;
		--bgd-4: #5a636b;
		--bgd-5: #522139;
		--txt-4: #b5b5d6;
		--txt-3: #9494a5;
		--txt-2: #5a636b;
		--txt-1: #29294a;
		--txt-0: #000000;
		--s-red: #ff1042;
		--s-grn: #39ff31;
		--s-ylw: #ffff00;
		--s-blu: #9898ee;
		--s-ppl: #ff00ff;
		--s-aqa: #00ffff;
		--s-org: #ff8721;
		--btn-hilite: var(--bgd-0);
		--btn-lolite: var(--bgd-4);
		--indent-col: var(--bgd-0);
	}
}

body{
	// background-blend-mode: exclusion/difference is fascinating;

	background-size:
		100% 100%, 100% 100%, 100% 100%, 100% 100%,
		512px 512px, 512px 512px, 512px 512px, 512px 512px,
		100% 100%;

	background-image:
		/*big brown*/
		radial-gradient(
			60vw 60vw at -5vw -29vw,
			var(--wall-clr-3) 0% 86%,
			var(--wall-clr-4) calc(86% + var(--aa)) 90%,
			var(--wall-clr-5) calc(90% + var(--aa)) 94%,
			var(--wall-clr-6) calc(94% + var(--aa)) 98%,
			var(--wall-clr-7) calc(98% + var(--aa)) 99%,
			transparent       calc(99% + var(--aa)) 100%),
		/*big green*/
		radial-gradient(
			90vw 90vw at calc(100% + 0vw) calc(100% + 60vw),
			var(--wall-clr-9) 0% 91%,
			var(--wall-clr-a) calc(91% + var(--aa)) 93%,
			var(--wall-clr-b) calc(93% + var(--aa)) 95%,
			var(--wall-clr-c) calc(95% + var(--aa)) 97%,
			var(--wall-clr-d) calc(97% + var(--aa)) 99%,
			transparent       calc(99% + var(--aa)) 100%),
		/*small brown*/
		radial-gradient(
			6vw 6vw at 10% 60%,
			var(--wall-clr-7) 0% 80%,
			var(--wall-clr-8) calc(80% + var(--aa)) 85%,
			var(--wall-clr-4) calc(85% + var(--aa)) 95%,
			transparent calc(95% + var(--aa)) 100%),
		/*ringed brown*/
		radial-gradient(
			6vw 6vw at 90% 15%,
			var(--wall-clr-4) 0% 55%,
			var(--wall-clr-3) calc(55% + var(--aa)) 65%,
			transparent calc(65% + var(--aa)) 95%,
			var(--wall-clr-7) calc(95% + var(--aa)) 97%,
			transparent calc(97% + var(--aa)) 100%),
		/*stars*/
		radial-gradient(
			0.1vw 0.1vw at 60% 50%,
			var(--wall-clr-7) 0% 99%,
			transparent calc(99% + var(--aa)) 100%),
		radial-gradient(
			0.08vw 0.08vw at 40% 20%,
			var(--wall-clr-7) 0% 99%,
			transparent calc(99% + var(--aa)) 100%),
		radial-gradient(
			0.05vw 0.05vw at 20% 70%,
			var(--wall-clr-7) 0% 99%,
			transparent calc(99% + var(--aa)) 100%),
		radial-gradient(
			0.02vw 0.02vw at 90% 10%,
			var(--wall-clr-7) 0% 99%,
			transparent calc(99% + var(--aa)) 100%),
		/*sky*/
		linear-gradient(
			to bottom,
			var(--wall-clr-1) 0%,
			var(--wall-clr-2) 100%);
}

main {
	background-color: var(--content-background-colour);
	border-left: 8ch solid var(--item-bg-clr-0);
	&>article {

		&>time {
			display: block;
			margin-left: 0px;
			background-color: var(--item-bg-clr-0);
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			color: var(--bg-0);
			font-size: 2em;
			font-weight: 800;
			position: relative;

			&::before,&::after {
				content: "";
				position: absolute;
				height: calc(var(--content-background-radius) * 2);
				aspect-ratio: 1;
				left: 0;
  background-image:
		radial-gradient(
			circle at 100% 0%,
			transparent calc(var(--content-background-radius) * 2),
			var(--item-bg-clr-0) calc(var(--content-background-radius) * 2));
			}
			&::before {
				top: calc(var(--content-background-radius) * -2);
			}
			&::after {
				bottom: calc(var(--content-background-radius) * -2);
				rotate: 90deg;
			}
		}

		&>* {
			max-width: var(--text-max-width);
			width: max-content;
			margin: calc(var(--content-background-radius) * 2);
			background-color: var(--item-bg-clr-1);
			border-radius: var(--content-background-radius);
			padding: 1rem;
		}
	}
}

.attachment {
	width: min-content;
	height: min-content;
	display: inline-block;
	background-color: var(--item-bg-clr-2);

	&>img {
		border-radius: var(--content-background-radius);
	}
}

/*
#main-content {
	padding: 24px;
	overflow-y: scroll;

	& p {
		max-width: 720px;
	}

	.log-file {
		border-bottom: 2px solid var(--d-org);
		border-image-source:
			radial-gradient(
				circle at bottom,
				var(--s-ppl),
				var(--d-ppl),
				transparent);
		border-image-slice: 1;
		margin-bottom: 2em;
		&.site-update {
			color: var(--s-red);
			&::before {
				content: "<site update />";
				display: block;
				margin-bottom: 1em;
			}
		}
	}

	& img {
		border-radius: 8px;
		border-style: ridge;
		margin: 0.1em 4ch;
	}

	& ::before,
	& ::after {
		color: var(--d-aqa);
	}

	& a.attachment {
		text-decoration: none !important;  //overrides link styling
		&:hover {
			outline: none;  //overrides link styling
		}

		&::before,
		&::after {
			display: block;
		}
		&::before {
			content: "<img src=\""attr(href)"\">";
		}
		&::after {
			content: "</img>";
		}
		& img {
			// padding-left: 4ch;  // for tags, superceded by global padding
			// max-width:  min(400px, 100% - 4ch);  // margin size - variable?
			width: calc(100% - 4ch);
			height: auto;
			max-width: 400px;
			max-height: 200px;
			object-fit: cover;

			&[src$=svg] {
				object-fit: contain;
			}
		}
	}

	& p {
		&::before,
		&::after {
			display: block;
		}
		padding-left: 3ch;
		&::before {
			white-space: pre;
			margin-left: -3ch;
			content: "<p>";
		}
		&::after {
			white-space: pre;
			margin-left: -3ch;
			// transform: translateX(-3ch);
			content: "</p>";
		}
	}

	& time.log-date {
		color: var(--d-ppl);
		&::before {
			content: "<time>";
		}
		&::after {
			content: "</time>";
		}
	}
}*/
