/*===========================================================================*/
/* imports */
@import "./nav-menu.css";

/*===========================================================================*/
/* declare font-face for use */
@font-face {
font-family: 'FixedsysEx';
font-style: normal;
font-weight: normal;
src: local('Fixedsys Excelsior'), 
     url('/assets/fonts/FixedsysEx.ttf') format('truetype'),
     url('/assets/fonts/FixedsysEx.woff') format('woff');
}

/*===========================================================================*/
/*main styles*/

* {
	/*remove padding globally so text always aligns*/
	margin: 0px;
	padding: 0px;
	border: 0px; 
	border-collapse: collapse; /*hide implicit table borders*/
	vertical-align: top;
	text-align: left;
	
}

#not-header {
	width: 28%;
	display: flex;
}
#nav-menu-wrapper{
	width: 16em;
	float: left;
}
#not-nav-menu {
	/* margin-left: 18em; */
	/* width: 50em; */
	float: left;
}
#clear {
	clear: both;
}

body {
	background-color: black;
	color: #EF7900;
	text-align: left;
	line-height: 2ex;
	font-family: FixedsysEx, monospace;
	font-size: 12pt;
	/*for glow effect*/
	text-shadow: 0px 0px 4px;
	width: 88%;
	/*just give it a little room to breathe*/
	/* top/bottom, left/right */
	margin: 2% 6%;
  /* padding-top: 40px; */
  /* padding-right: 50px; */
  /* padding-bottom: 50px; */
  /* padding-left: 50px; */
}

/*===========================================================================*/
/*make all heavier text styles normal weight/size, just differing brightness*/
/*(th is table header)*/
/* ##ztodo why does the line-height not work? try margin-block-start/end */
h1, h2, h3, h4, em, i, strong, b, th {
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-size: inherit;
}
h1 {
	color: #FFE334;
}
h2 {
	color: #FFDB30;
}
h3 {
	color: #FFAA10;
}
h4 {
	color: #FF9E04;
}

em, i {
	color: #FFAA10;
}

strong, b {
	color: #F37D00;
}

/*===========================================================================*/
a:link {
	color: #FF9E04;
	text-decoration: underline;
}

a:visited {
	color: #862C00;
}

/*links glow brighter when hovered over*/
a:hover {
	text-shadow: 0px 0px 4px;
}

/*text glows brightest when clicked*/
a:active {
	text-shadow: 0px 0px 6px;
}

/*===========================================================================*/
/* ##ztodo make this prettier*/
hr {
	/* visibility: hidden; */
	background-color: #000000;
	color: #EF7900;
	width: 100%;
	/* position: relative; */
	overflow: hidden;
	/* border: 1px dashed #EF7900; */
}
hr::before {
	/* position: static; */
	content: "=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=\200B=";
	white-space: nowrap;
	text-overflow: none;
	/*these have to be set in the parent instead? see:
	https://stackoverflow.com/questions/3970455/how-to-make-the-overflow-css-property-work-with-hidden-as-value/58119574#58119574*/
	/* width: 100%; */
	/* width: 10em; */
}

/*===========================================================================*/
/* ##ztodo move to another file */

/* .post-list  > a { */
	/* max-width: 100%; */
	/* white-space: nowrap; */
  /* overflow: hidden; */
	/* display: block; /*this needs to be here for %, but needs not for px? wtf*/
  /* text-overflow: ellipsis; */
/* } */

/* .post-title { */
	/* white-space: nowrap; */
	/* word-wrap: break-word; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
/* } */

.post-wrapper {
	table-layout: fixed;
	width: 88%;
}
.post-title {
	width: 10em;
}

.post-excerpt {
	max-width: 100%;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	/* display: block; /*this needs to be here for %, but needs not for px? wtf*/
	text-overflow: "..."; /*this is a full ... as it looks better in FxSys*/
}


code, .ascii-art {
	white-space: pre;
	overflow: hidden;
	display: block;
	font-family: FixedsysEx, monospace;
	/* font-size: 12pt; */
	/* line-height: 1.9ex; */
}
#ascii-header, #ascii-logo {
	color: #FFE334;
	/* white-space: pre; */
  /* overflow: hidden; */
	/* display: block; */
	/* font-family: FixedsysEx, monospace; */
	/* font-size: 12pt; */
	/* line-height: 1.9ex; */
	/* text-align: inherit; */
	/* text-shadow: inherit; */
}

/*hide header, only show minified logo on small screens*/
@media only screen and (max-width: 52em) {
	#ascii-logo {
		/*is !important to override inline style,
		has inline style to hide when css isn't loaded*/
		display: block !important;
	}
	#ascii-header {
		display: none;
	}
}