/*===========================================================================*/
/* imports */
@import "./nav-menu.css";

/*===========================================================================*/
/* declare font-face for use */
@font-face {
font-family: 'FixedsysEx';
font-style: normal;
font-weight: normal;
src: local('Fixedsys Excelsior'), 
     url('/assets/fonts/FixedsysEx.ttf') format('truetype'),
     url('/assets/fonts/FixedsysEx.woff') format('woff');
}

/*===========================================================================*/
/*main styles*/

* {
	/*remove padding globally so text always aligns*/
	margin: 0px;
	padding: 0px;
	border: 0px; 
	border-collapse: collapse; /*hide implicit table borders*/
	vertical-align: top;
	text-align: left;
	
}
body {
	background-color: black;
	color: #EF7900;
	text-align: left;
	line-height: 2ex;
	font-family: FixedsysEx, monospace;
	font-size: 12pt;
	/*for glow effect*/
	text-shadow: 0px 0px 2px;
	
	/*just give it a little room to breathe*/
	/* top/bottom, left/right */
	margin: 2% 6%;
  /* padding-top: 40px; */
  /* padding-right: 50px; */
  /* padding-bottom: 50px; */
  /* padding-left: 50px; */
}

/*===========================================================================*/
/*make all heavier text styles normal weight/size, just differing brightness*/
/*(th is table header)*/
/* ##ztodo why does the line-height not work? try margin-block-start/end */
h1, h2, h3, h4, em, i, strong, b, th {
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-size: inherit;
}
h1 {
	color: #FFE334;
}
h2 {
	color: #FFDB30;
}
h3 {
	color: #FFAA10;
}
h4 {
	color: #FF9E04;
}

em, i {
	color: #FFAA10;
}

strong, b {
	color: #F37D00;
}

/*===========================================================================*/
a:link {
	color: #FF9E04;
	text-decoration: underline;
}

a:visited {
	color: #862C00;
}

/*links glow brighter when hovered over*/
a:hover {
	text-shadow: 0px 0px 4px;
}

/*text glows brightest when clicked*/
a:active {
	text-shadow: 0px 0px 6px;
}

/*===========================================================================*/
/* ##ztodo make this prettier*/
hr {
	background-color: #000000;
	border: 1px dashed #EF7900;
}

/*===========================================================================*/
/* ##ztodo move to another file */

.post-list {
	width: 100%;
}

/* .post-list  > a { */
	/* max-width: 100%; */
	/* white-space: nowrap; */
  /* overflow: hidden; */
	/* display: block; /*this needs to be here for %, but needs not for px? wtf*/ */
  /* text-overflow: ellipsis; */
/* } */

/* .post-title { */
	/* white-space: nowrap; */
	/* word-wrap: break-word; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
/* } */

.post-preview {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block; /*this needs to be here for %, but needs not for px? wtf*/
	text-overflow: ellipsis;
}

code, .ascii-art {
	white-space: pre;
	overflow: hidden;
	display: block;
	font-family: FixedsysEx, monospace;
	/* font-size: 12pt; */
	/* line-height: 1.9ex; */
}
#ascii-header, #ascii-logo {
	color: #FFE334;
	/* white-space: pre; */
  /* overflow: hidden; */
	/* display: block; */
	/* font-family: FixedsysEx, monospace; */
	/* font-size: 12pt; */
	/* line-height: 1.9ex; */
	/* text-align: inherit; */
	/* text-shadow: inherit; */
}

/*hide header, only show minified logo on small screens*/
@media only screen and (max-width: 52em) {
	#ascii-logo {
		/*is !important to override inline style,
		has inline style to hide when css isn't loaded*/
		display: block !important;
	}
	#ascii-header {
		display: none;
	}
}