/* i realise this whole thing is a mess */

#nav-menu-wrapper {
	/*1ch is the width of a "0"*/
	width: 18ch;
	vertical-align: top;
}

.nav-menu {
	list-style-position: inside; /*moves bullets inside list padding*/
}

.nav-menu ::marker { /* the space matches any number of descendants*/
	content: "] "; /*makes bullets ] char with padding space*/
}

.nav-menu li {
	margin: 0ch 0ch 0ch 2ch; /*insets menu sub items*/)
}

.nav-menu-folder {
	cursor: pointer; /* makes the cursor look like it's over a link*/
}
.nav-menu-folder:active {
	text-shadow: 0px 0px 6px; /*adds text glow on click like links*/
}


.nav-menu-folder::marker {
	content: "> ";  /*makes folder bullets > char with padding space*/
}
details[open] > .nav-menu-folder::marker {
	content: "V "; /* makes folder bullets downward arrow when open*/
}