---
---

// znotes:
// * i think empty selectors are fine, sass compiler removes them
// *

/*==================================imports==================================*/
@import "nav-menu.scss";
@import "vars.scss";

/*==============================generic styles===============================*/
* {
	/*remove padding globally so text always aligns*/
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-collapse: collapse; /*hide implicit table borders*/
	vertical-align: top;
	text-align: left;

	/* i don't think these do anything, but i have to try */
	-webkit-font-smoothing: none;
	font-smooth: never;
}

html {
	/* smoothly scroll to anchor link */
	scroll-behavior: smooth;

		/* this is here because i think it's semantically easier to read */
		/* offset anchor link down from the top of the page */
		& :target:before {
			content: "";
			display: block;
			height: 2em;
			margin: -2em 0 0;
		}

	/* colour scrollbars with css */
	scrollbar-color: $text-07 $background-colour;
	/* colour scrollbars, but this time for webkit being dumb */
		&::-webkit-scrollbar {
			border-radius: $crnr-radius;
			background-color: $background-colour;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: $crnr-radius;
			background-color: $text-07;
		}
		&::-webkit-scrollbar-button {
			border-radius: $crnr-radius;
			background-color: $text-08;
		}
		&::-webkit-scrollbar-corner {
			border-radius: $crnr-radius;
			background-color: $background-colour;
		}
}

body {
	background-color: $background-colour;
	color: $text-10;
	line-height: 1.1em;
	font-family: $text-font;
	font-size: $text-size;
	/* for glow effect */
	text-shadow: 0px 0px $text-glow;

	/* limit max width, and centre */
	width: $total-width;
	margin: 0 auto;
	padding: 4vh 4vw;
}

#ascii-header, #ascii-logo {
	color: $text-14;
	/*white-space: pre;*//*declared in html so it works in browsers like lynx*/
}

.table-of-contents {
	width: $max-toc-chars * 1ch; // i would like this to be … better
	display: inline-block;
	// float: left;
}
.page-intro {
	display: inline-block;
	max-width: 58ch;
	// float: left;
}

#clear .clear {
	clear: both; /* just generically clear elements */
}

/*make all heavier text styles normal weight/size, just differing brightness*/
/*(th is table header)*/
h1, h2, h3, h4, h5, h6, em, i, strong, b, th {
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-size: inherit;
}


h1, h2 {

		// &::after {
			// add a horizontal line
			// this is done farther down, by the hr block
		// }
}
h1 {
	color: $text-14;
}
h2 {
	color: $text-13;
}
h3 {
	color: $text-12;
}
h4 {
	color: $text-11;
}
h5 {
	color: $text-09;
}
h6 {
	color: $text-08;
}

em, i, strong, b {
	/* add background to emphasised elements */
	margin: -0em -1ch;
	padding: 0em  1ch;
	background-color: $background-emph;
	/* i know this doesn't make sense, but i think it looks better */
	border-radius: $crnr-radius;;
	box-shadow: 0 0 $text-glow $background-emph;
}

em, i {
	color: $text-12;
}

strong, b {
	color: $text-11;
}

/* de-emphasise text. .weak class (antithesis of strong), small tag (semantically incorrect) */
.weak, small {
	font-size: inherit;
	color: $text-08;
}

a:link {
	color: $text-11;
	text-decoration: underline;
}

a:visited {
	color: $text-08;
}

/*links glow brighter when hovered over*/
a:hover { /*this is called interpolation - why is it necessary?*/
	text-shadow: 0px 0px calc(#{$text-glow} * 1.2);
}

/*text glows brightest when clicked*/
a:active {
	text-shadow: calc(#{text-shadow} * 1.5);
}

hr {
	// nothing here now, all in before/after
}

hr::before, h1::after, h2::after {
	/* is in the ::before of the hr so i can put a line break in the ::after */
	color: $text-09;
	width: 100%;
	display: block;
	content: $hr-content;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: "";
	// these have to be set in the parent instead? see:
	// https://stackoverflow.com/questions/3970455/how-to-make-\
	// the-overflow-css-property-work-with-hidden-as-value/58119574#58119574
	// text-overflow: none;
	// width: 100%;
	// width: 10em;
}
hr:not(.no-btm-pad)::after {
	/*add line break after line. */
	content: "\a";
	white-space: pre;
}

li {
	list-style: inside;
}
li li { /*indent sub lists*/
	margin-left: 2ch;
}
li::marker {
	/*this is here just in case, but it shouldn't have any effect*/
	white-space: nowrap;
	/*makes bullets * char (padding space is implicit)*/
	/* /!\ padding space comes from new line between <li> and contained <a>
	make sure to remove this spacing*/
	content: "* ";
}
li li::marker {
	content: "- "; /*makes sub list bullets - char*/
}


/*code, */.ascii-art {
	white-space: pre;
	overflow: hidden;
	display: block;
	font-family: $code-font;
	/* font-size: 12pt; */
	/* line-height: 1.9ex; */
}

code {
	font-family: $code-font;
	color: $text-09;
}


/*============================specific styles================================*/

/* directory layout: capitalise first letter of folders
without downcasing the <DIR> text*/
.dir-entry a {
	text-transform: capitalize;
}

.post-wrapper {
	/* table-layout: fixed; */
	/* width: 88%; */
	list-style: none; /*hide bullets*/

	// for making this into a table - maybe ztodo
	// &::before {
		// content: $hr-content;
	// }
}
.post-title {
	/* force constant width for post titles */
	display: inline-block;
	width: $post-ttl-chars + 2ch;

		// &::after {
			// content: "¦";
		// }
}

.post-list {
	/* max-width: 100%; */
	/* width: 100%; */
	white-space: nowrap;
	overflow: hidden;
	/* display: block; /*this needs to be here for %, but needs not for px? wtf*/
	text-overflow: "..."; /*this is a full ... as it looks better in FxSys*/
}

/* currently a p tag containing the images */
.carousel-container {
	/* auto add scrollbar, and hide overflow */
	overflow: auto;
	white-space: nowrap;
	// ztodo comment this code i have no idea how it works
	// https://stackoverflow.com/questions/67022666/\
	// question-about-horizontal-scroll-in-css-with-p-paragraphs-html
	display: flex;
	// i don't think i need these, but i'm too paranoid to bin them
	// justify-content: flex-start;
	// flex-direction: row;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;

	& > * {
		display: inline;
		float: left;
		padding-right: 10px;

		display: inline-block;
		align-content: flex-start;
		overflow-x: visible;
		overflow-y: visible;
		flex-wrap: wrap;
		height: 200px;
		width: auto;
	}
}

.showcase {

	max-width: 100%;
	margin: 1em 0ch;

		&.sc-full {
			/*this is only here as a placeholder for now
			sc-full  are images that are pre-formatted to the right dimensions*/
		}

		&.sc-carousel {
			/* show full image disregarding aspect ratio */
			width: auto;
			max-width: none;

			object-fit: cover;
			height: $carousel-height;
			/* for horizontal scrolling */
			// display: inline-block;
		}

		&.sc-wide {
			/* most images - fullwidth */
			object-fit: cover;
			width: 100%;
			height: $showcase-height;

			/* this allows me to choose per image whether i focus
			the top, middle or bottom when zoomed to crop*/
			&.sc-top {
				object-position: top;
			}
			&.sc-mid {
				object-position: center;
			}
			&.sc-btm {
				object-position: bottom;
		}
	}
}

// an attempt to deal with svgs. semi obsolete.
// img.fullwidth {
	// max-height: 192px;
	// width: $content-width;
	// position: absolute;
// }

/*hide header, only show minified logo on small screens*/
@media only screen and (max-width: $logo-breakpoint) {
	#ascii-logo {
		/*is !important to override inline style,
		has inline style to hide when css isn't loaded*/
		display: block !important;
	}
	#ascii-header {
		display: none;
	}
}
