---
---

/*==================================imports==================================*/
@import "nav-menu.scss";
@import "vars.scss";

/*==============================generic styles===============================*/
* {
	/*remove padding globally so text always aligns*/
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-collapse: collapse; /*hide implicit table borders*/
	vertical-align: top;
	text-align: left;
	/* i don't think these do anything, but i have to try */
	-webkit-font-smoothing: none;
	font-smooth: never;
	/* colour scrollbars with css */
	scrollbar-color: $text-07 $background-colour;
	/* colour scrollbars, but this time for webkit being dumb */
		&::-webkit-scrollbar {
			background-color: $background-colour;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $text-07;
		}
		&::-webkit-scrollbar-button {
			background-color: $text-08;
		}
		&::-webkit-scrollbar-corner {
			background-color: $background-colour;
		}
}

body {
	background-color: $background-colour;
	color: $text-10;
	line-height: 1em;
	font-family: $text-font;
	font-size: $text-size;
	/*for glow effect*/
	text-shadow: 0px 0px $text-glow;

	/*just give it a little room to breathe*/

	width: $total-width;
	margin: 0 auto;
	padding: 4vh 4vw;
}

#ascii-header, #ascii-logo {
	color: $text-14;
	/*white-space: pre;*//*declared in html so it works in browsers like lynx*/
}

.whole-wrapper {
	/* width: $total-width; /*ztodo fix this*/
	display: flex;
}
#nav-menu-wrapper {
	width: $navmenu-width; 
	float: left;
}
/* .page-content, .dir-content .home { */
.content {
	/* margin-left: 18em; */
	/* width: 10em; */
	width: $content-width;
	float: left; /*ztodo why is this duped?*//*actually i don't think it is*/
}

.contents-intro-container {
	// display: inline-block;
}

.table-of-contents {
	width: 32ch; // i would like this to be … better
	display: inline-block;
	// float: left;
}
.page-intro {
	display: inline-block;
	width: 58ch;
	// float: left;
}

#clear .clear {
	clear: both; /*i don't think this needs be here?
	               i think it's only if i have any divs below?*/
}

/*make all heavier text styles normal weight/size, just differing brightness*/
/*(th is table header)*/
h1, h2, h3, h4, h5, h6, em, i, strong, b, th {
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-size: inherit;
}


h1, h2 {
	/* these have to be set in the parent
	(i.e. the element not the pseudo element) */
	width: 100%;
	overflow: hidden;

		// &::after {
			// add a horizontal line
			// this is done farther down, by the hr block
		// }
}
h1 {
	color: $text-14;
}
h2 {
	color: $text-13;
}
h3 {
	color: $text-12;
}
h4 {
	color: $text-11;
}
h5 {
	color: $text-09;
}
h6 {
	color: $text-08;
}

em, i {
	color: $text-12;
}

strong, b {
	color: $text-11;
}

a:link {
	color: $text-11;
	text-decoration: underline;
}

a:visited {
	color: $text-08;
}

/*links glow brighter when hovered over*/
a:hover { /*this is called interpolation - why is it necessary?*/
	text-shadow: 0px 0px calc(#{$text-glow} * 1.2);
}

/*text glows brightest when clicked*/
a:active {
	text-shadow: calc(#{text-shadow} * 1.5);
}

hr {
	/* these have to be set in the parent
	(i.e. the element not the pseudo element) */
	width: 100%;
	overflow: hidden;
}
hr::before, h1::after, h2::after {
	/* is in the ::before of the hr so i can put a line break in the ::after */
	color: $text-09;
	display: block;
	content: $hr-content;
	white-space: nowrap;
	// these have to be set in the parent instead? see:
	// https://stackoverflow.com/questions/3970455/how-to-make-the-overflow-css-property-work-with-hidden-as-value/58119574#58119574
	// text-overflow: none;
	// width: 100%;
	// width: 10em;
}
hr::after {
	/*add line break after content.
	i don't know why, but there has to be two*/
	content: "\a\a";
	white-space: pre;
}

li {
	list-style: inside;
}
li li { /*indent sub lists*/
	margin-left: 2ch;
}
li::marker {
	/*this is here just in case, but it shouldn't have any effect*/
	white-space: nowrap;
	/*makes bullets * char (padding space is implicit)*/
	/* /!\ padding space comes from new line between <li> and contained <a>
	make sure to remove this spacing*/
	content: "* ";
}
li li::marker {
	content: "- "; /*makes sub list bullets - char*/
}


/*code, */.ascii-art {
	white-space: pre;
	overflow: hidden;
	display: block;
	font-family: $code-font;
	/* font-size: 12pt; */
	/* line-height: 1.9ex; */
}

code {
	font-family: $code-font;
	color: $text-09;
}


/*============================specific styles================================*/

/* directory layout: capitalise firs letter of folders
without downcasing the <DIR> text*/
.dir-entry a {
	text-transform: capitalize;
}

.post-wrapper {
	/* table-layout: fixed; */
	/* width: 88%; */
	list-style: none; /*hide bullets*/
}
.post-title {
	/* width: 10ch; */
}

.post-list {
	/* max-width: 100%; */
	/* width: 100%; */
	white-space: nowrap;
	overflow: hidden;
	/* display: block; /*this needs to be here for %, but needs not for px? wtf*/
	text-overflow: "..."; /*this is a full ... as it looks better in FxSys*/
}

/* currently a p tag containing the images */
.carousel-container {
	/* auto add scrollbar, and hide overflow */
	overflow: auto;
	white-space: nowrap;
	// ztodo comment this code i have no idea how it works
	// https://stackoverflow.com/questions/67022666/question-about-horizontal-scroll-in-css-with-p-paragraphs-html
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;

	& > * {
		display: inline;
		float: left;
		padding-right: 10px;

		display: inline-block;
		align-content: flex-start;
		overflow-x: visible;
		overflow-y: visible;
		flex-wrap: wrap;
		height: 200px;
		width: auto;
	}
}

.showcase {
	max-width: $content-width;
	/* i wish there was some unit that was like ch for font height */
	margin: 2ex 0ch;

		&.sc-full {
			/*this is only here as a placeholder for now
			sc-full  are images that are pre-formatted to the right dimensions*/
		}

			&.sc-carousel {
				/* show full image disregarding aspect ratio */
				width: auto;
				height: $carousel-height;
				/* for horizontal scrolling */
				display: inline-block;
			}

			&.sc-wide {
				/* most images - fullwidth */
				object-fit: cover;
				width: $content-width;
				height: $showcase-height;

				/* this allows me to choose per image whether i focus
				the top, middle or bottom when zoomed to crop*/
				&.sc-top {
					object-position: top;
				}
				&.sc-mid {
					object-position: center;
				}
				&.sc-btm {
					object-position: bottom;
			}
	}
}


//this is an old method involving rotating sideways,
//in order to avoid holding shift. it doesn't work very well

// .carousel-container {
// 	// float: left;
// 	width: $carousel-height;
// 	height: $content-width;
// 	overflow-x: hidden;
// 	overflow-y: auto;


// 	// translateY(calc($content-width * -1))
// 	transform: rotate(-90deg) translateY(-400px);
// 	transform-origin: right top;

// 	& > img {
// 		width: auto;
// 		height: $carousel-height;

// 		transform: rotate(90deg);
// 		transform-origin: right top;
// 	}
// }

// an attempt to deal with svgs. semi obsolete.
// img.fullwidth {
	// max-height: 192px;
	// width: $content-width;
	// position: absolute;
// }

/*hide header, only show minified logo on small screens*/
@media only screen and (max-width: $logo-breakpoint) {
	#ascii-logo {
		/*is !important to override inline style,
		has inline style to hide when css isn't loaded*/
		display: block !important;
	}
	#ascii-header {
		display: none;
	}
}
