---
---

/* ---------------------------- windows ----------------------------- */

.window-content {
	padding: 16px;
	// height: 90%;
	flex-grow: 1;
	overflow-y: scroll;  // add dummy scrollbar for notepad æsthetic
	overflow-x: hidden;  // hide horisontal scroll on hover scale

	& p {
		text-indent: 2ch;
		line-height: 1.2em;
		margin-block: 1.5em;
	}
}

#window-area {
	padding: 32px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(auto, 48em));
	justify-content: center;
	gap: 4vw;
}

.x-window {
	z-index: 0; // if i remove this they disappear - ztodo fix
	position: static;
	grid-row-end: span 2;
	display: flex;
	flex-direction: column;
	max-height: 960px;
	max-width: 100%;

	& footer {
		display: flex;
		& > span {
			flex: 1 1 100%;
			text-align: right;
			padding-right: 1ch;

			&.write-date::before {
				content: "file created: ";
			}
			&.edit-date::before {
				content: "last edited: ";
			}
			& > time {
				color: var(--s-blu);
			}
		}
	}

	&:last-child {
		margin-bottom: 24vw;
	}
}

/* ------------------------ specific tweaks ------------------------- */

#page-intro {
	grid-row-end: span 1;
	max-height: 800px;
}

#contents {
	width: fit-content;
	margin-inline: auto;

	& li {
		width: fit-content;

		&::marker {
			content: var(--img) " ";
		}
	}
}
