---
layout: gc-default
css-file: homepage
edit-date: now
title:
---

<!-- https://zeusofthecrows.ishoutbox.com/ -->
<!--
<aside id="aside-left" style="background-color: brown;">
	<article id="whats-new">
		<h1 style="animation: colour-cycle 5s linear infinite;">What's New</h1>
		<ul>
			{% for item in site.data.whats-new %}
			<li>
				{% if item.subcontent %}
					<details>
						<summary>
							{{ item.content }}
						</summary>
						{% if item.subtype == "images" %}
							<ul class="img-grid">
							{% for image in item.subcontent %}
								<li>
									<img src="/stadt/assets/images/{{ image.source }}"
										class="{{ image.type }}{% if image.smooth %} smooth-zoom{% endif %}{% if image.spoiler %} spoiler{% endif %}"
										alt="{{ image.alt }}" />
								</li>
							{% endfor %}
						</ul>
						{% else %}
							<ul>
							{% for item in item.subcontent %}
								<li>{{ item.content }}</li>
							{% endfor %}
							</ul>
						{% endif %}
					</details>
				{% else %}
				{{ item.content }}
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</article>

</aside>-->

<section>
	<article id="intro-text">
		<h1 id="welcome-title">
			<span>Welcome to</span> <span>Zeus' Stadt</span>
		</h1>
		<h2>Tabula Rasa Edition</h2>
		<p>
			<em>good</em> morning, <small>good afternoon, and good
			evening</small> ladies, gentlemen, and variations thereupon
		</p>
		<p>
			i will be your host, ɀeus, for a <i>tour of a lifetime</i> around a
			litany of crap i think is cool
		</p>
		<ul id="page-info-buttons" class="img-grid">
			<li><a>
				<img src="/stadt/assets/images/buttons/page-info/1080.png"
					class="btn-88x31" alt="best viewed 1080p"/>
			</a></li>
			<li><a href="/stadt/assets/images/buttons/page-info/truecolour-solaris.png">
				<img src="/stadt/assets/images/buttons/page-info/truecolour.png"
					class="btn-88x31 anim" alt="best viewed: 24-bit 'truecolour'"
					title="click for purple version" />
			</a></li>
			<li><a>
				<img src="/stadt/assets/images/buttons/page-info/dark-mode.png"
					class="btn-88x31" alt="optimised for dark mode" />
			</a></li>
			<li><a>
				<img src="/stadt/assets/images/buttons/page-info/cookies.png"
					class="btn-88x31" alt="absolutely no cookies"/>
			</a></li>
			<li><a href="https://eev.ee/blog/2016/03/06/maybe-we-could-tone-down-the-javascript/">
				<img src="/stadt/assets/images/buttons/page-info/javascript.png"
					class="btn-88x31" alt="proudly zero js"/>
			</a></li>
			<li><a href="/stadt/about#site-rating">
				<img class="btn-88x31" src="/stadt/assets/images/buttons/taskbar/rating.png"
					alt="site rating: 18" />
			</a></li>
			<!--<li>
				<select name=colourscheme class="btn-9x btn-88x31"
					title="not yet implemented">
					<option value="au">auto</option>
					<option value="lt">light</option>
					<option value="dk">dark</option>
					<option value="gb">gruvbox</option>
				</select>
			</li>-->
		</ul>

		<p>
			before you click a link, observe your cursor! <code>cursor:
			pointer;</code> implies an internal link, whereas <code>cursor:
			alias;</code> (a little arrow, usually) indicates an external one
		</p>
		<p>
			a lot of info on this page may be hidden in tooltips. i know
			that's an accessibility issue, but i find it easier with how
			i think. they should be marked with cyan text; and spoilers should be
			blurred & cyan (hover over them to reveal)(on mobile? try tapping the
			highlighted text)
		</p>
	</article>

	<ul id="page-mosaic">
		<li><a href="/stadt/shrines/metroidvanias">
			<img src="/stadt/assets/images/shrines/mv/mv.png"
				data-img-hover="/stadt/assets/images/shrines/mv/mv-hilite.png"
				alt="MetroidVanias">
		</a></li>
	</ul>

	<ul class="img-grid">
		<li>
			<img src="/stadt/assets/images/stamps/bliss.png"
				class="stamp-99x56 anim smooth-zoom"
				alt="xp bliss stamp w/ vhs effect and text 'rew'"
				data-img-src="~zeus" />
		</li>
		<li>
			<img src="/stadt/assets/images/stamps/dapperblook.png"
				class="stamp-99x56 anim"
				alt="napstablook quote 'really not feelin up to it right now. sorry.'"/>
		</li>
		<li>
			<img src="/stadt/assets/images/stamps/dos.png"
				class="stamp-99x56 anim smooth-zoom"
				alt="dos c: prompt"/>
		</li>
		<li>
			<img src="/stadt/assets/images/stamps/dvd.png"
				class="stamp-99x56 anim smooth-zoom"
				alt="moving dvd logo" data-img-src="~zeus" />
		</li>
		<li>
			<img src="/stadt/assets/images/stamps/snake.png"
				class="stamp-99x56 anim"
				alt="nokia snake xenzia stamp" data-img-src="~zeus" />
		</li>
		<li>
			<img src="/stadt/assets/images/stamps/fire.png"
				class="stamp-99x56 anim"
				alt="celeste dream fire stamp" />
		</li>
		<li>
				<img src="/stadt/assets/images/stamps/link-b.png"
					title="available in frame-blended (crap lcd) ver, or normal"
					class="stamp-99x56 anim smooth-zoom"
					alt="link's awakening - sword get" />
		</li>
		<li>
			<img src="/stadt/assets/images/stamps/prie-dieu.png"
				class="stamp-99x56 anim"
				alt="lighting a prie-dieu stamp (blasphemous)" />
		</li>
		<li>
			<img src="/stadt/assets/images/stamps/metroidvania.png"
				class="stamp-99x56"
				alt="metroidvania enthusiast stamp" />
		</li>
		<li>
			<img src="/stadt/assets/images/stamps/kirbs.png"
				class="stamp-99x56"
				alt="opening of kirby's adventure stamp" />
		</li>
	</ul>

	<article id="quote">
		<blockquote
			cite="https://www.tumblr.com/allsortsoflicorice/793574500026531840/i-dont-even-want-to-count-my-fucking-steps-the">
				i don't want to track my greebles with splorp i don't want to pay a teehee subscription to get round cacophany's file limits i don't need 17 ways to skrimple my scronk 7 of which secretly activate scrungly plus ultimate i don't need to link it to my flowolf account i don't want to manage it with the flowby mowby i don't care if poob does or does not has it for me. i don['t care
		</blockquote>
		<footer>
			<a href="https://www.tumblr.com/allsortsoflicorice/793574500026531840/i-dont-even-want-to-count-my-fucking-steps-the"
				>daemonhxckergrrl</a>
			<time>2025</time>
		</footer>
	</article>

	<article id="image">
		<figure>
			<img src="/stadt/assets/images/gallery/draygon.png"
						alt="samus aran and draygon animation" />
		</figure>
		<footer>
			<a href="https://cara.app/post/5b00fc96-1d20-4cd4-8370-78cbb658796e"
				>Moonshen</a>
			<time>2025</time>
		</footer>
	</article>

	<ul class="img-grid">
		<li><a href="https://contrachrome.com/">
			<img class="btn-88x31 anim" src="/stadt/assets/images/buttons/brands/chromium.png"
				alt="ie/chrome/brave logos 'same shit, different arsehole'" />
		</a></li>
		<li><a href="/stadt/about#site-licence">
			<img class="btn-88x31" src="/stadt/assets/images/buttons/taskbar/cc-by-sa.png"
				data-img-source="https://creativecommons.org/licenses/"
				alt="cc-by-sa licence" />
		</a></li>
		<li><a href="https://twitter.com/zetafleet/status/1075592527888220160">
			<img class="btn-88x31 anim smooth-zoom" src="/stadt/assets/images/buttons/brands/firefox.png"
				alt="mozilla now" />
		</a></li>
		<li><a href="" target="_blank">
			<img class="btn-88x31 anim" src="/stadt/assets/images/buttons/taskbar/target-blank.png"
				data-img-source="~zeus"
				title="if i wanted a new tab, i'd middle-click!
				(to escape an iframe, use target=&quot;_top&quot;)"
				alt="anti 'target=&quot;_blank&quot;' button" />
		</a></li>
			<li><a>
				<img class="btn-88x31 anim" src="/stadt/assets/images/buttons/taskbar/seed.png"
					data-img-source="https://melodicake.neocities.org/main.html"
					alt="seed your torrents button" />
			</a></li>
		<li><a href="https://yesterweb.org/no-to-web3/">
			<img class="btn-88x31 anim" src="/stadt/assets/images/buttons/taskbar/web3.png"
				data-img-source="https://yesterweb.org/no-to-web3/"
				alt="say no to web3" />
		</a></li>
		<li><a href="https://en.wikipedia.org/wiki/Year_2038_problem">
			<img class="btn-88x31 anim" src="/stadt/assets/images/buttons/taskbar/2038.png"
				data-img-source="unknown"
				alt="are you ready? year 2038" title="the epochalypse is coming" />
		</a></li>
		<li><a href="/stadt/gallery#buttons">
			<img class="btn-88x31 anim" src="/stadt/assets/images/buttons/taskbar/button.png"
				alt="say no to missing img links, get a button Today!" />
		</a></li>
			<li><a>
				<img class="btn-88x31" src="/stadt/easter/"
					style="content: url(/stadt/assets/images/buttons/taskbar/new-tab.png);"
					title="it is happy here with its friends
					please don't force it into a cold, empty tab" />
			</a></li>
		<li><a href="/stadt/thoughts#css-puzzle">
			<img class="btn-88x31"
				src="/stadt/assets/images/buttons/taskbar/css.png"
				alt="css is difficult" />
		</a></li>
		<li><a href="https://ikewise.neocities.org/2018-05-19_-_return.htm">
			<img class="btn-88x31" src="/stadt/assets/images/buttons/taskbar/code-run.png"
				data-img-source="https://anlucas.neocities.org/"
				alt="PRO code and run" title="just try to stop me" />
		</a></li>
			<li><a href="https://xenia-linux-site.glitch.me/">
				<img class="btn-88x31" src="/stadt/assets/images/buttons/brands/xenia.png"
					data-img-src="https://voltbun.neocities.org/"
					alt="xenia the fox linux button" />
			</a></li>
			<li><a href="https://zeusofthecrows.github.io/mobile/kustom#wood-panelling">
				<img class="btn-88x31 anim" src="/stadt/assets/images/buttons/taskbar/skeuo.png"
					alt="skeuomorphism now button" />
				</a></li>
	</ul>

			<hr />

			<p>
				this site is for my own benefit - i'll make stuff that i think looks
				nice, and now i have somewhere to put it. nevertheless, i do hope you
				enjoy what you find here
			</p>
			<img src="/stadt/assets/images/other/tea-pour.png"
				style="--shape-outside: polygon(0 5%, 35% 5%, 100% 50%, 100% 95%, 0 95%);"
				class="img-aside left" />
			<p>
				i don't really like writing, but it seems like a good idea to get
				some thoughts out of my head. and here seems like a nice place to do
				so – safe from the algorithms of social media. nevertheless, this
				will mostly be a image/graphic repository.
			</p>
</section>

<aside>
	<article id="music">
	<figure>
		<div> <!--workaround for firefox bug - aspect-ratio doesn't work for audio-->
				<!-- vol prop does ∅ - maybe in future -->
			<audio controls="" volume="0.5" preload="none"
				style="--cover: url('/stadt/assets/music/cover.jpg')">
				<source src="/stadt/assets/music/track.mp3"	type="audio/mp3" />
				your browser does not support embedded audio
			</audio>
		</div>
		<figcaption>
				<a href="https://www.youtube.com/watch?v=Kb4N7LMWH4A">
					1970
				</a>
				<span>
				By
				</span>
				<a href="https://www.willeandthebandits.com/">
					Wille and the Bandits
				</a>
			</figcaption>
		</figure>
	</article>
	<section>
		<article id="neighbours">
			<ul class="img-grid img-capts link-list">
				{% for item in site.data.links %}
				<!-- i have NO idea why this has to be "!=" rather than "=="‽ maybe a bug‽ -->
				{% if item.image and item.cat == "n" and item.res == nil or item.res != inf %}
				<li>
					<a{% if item.lnk-url != nil %}
							href="{{ item.lnk-url }}"{% endif %}
						{% if item.astyle != nil %}
							style="{{ item.astyle }}"{% endif %}>
					<img
						{% if item.ext-url != nil %}
						src="{{ item.ext-url }}"
						{% else %}
						src="/stadt/assets/images/buttons/bookmarks/{{ item.image }}.{{ item.ext | default: 'png' }}"
						{% endif %}
						{% if item.title != nil %}
						title="{{ item.title }}"
						{% endif %}
						class="btn-88x31 {% if item.smooth == 'y' %}smooth-zoom{% endif %}
							{% if item.anim == 'y' %}anim{% endif %}"
						alt="{{ item.alt }}" />
						</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</article>

		<article id="webrings">
			<section id="wr-intro">
				<header>
					<b>this site is a proud member of the following webrings!</b>
				</header>
			</section>
			<!-- 	https://web.archive.org/web/20230119181126/https://nojs.sugarfi.dev/ -->
			<!-- 	maybe i'll make my own -->
			<section id="wr-geekring">
				<p>
					Check out the other awesome websites in <span>The
					<a href="https://geekring.net">Geek Ring!</a></span>
				</p>
				<a href="http://geekring.net/site/139/previous"
					class="btn-9x">&lt;- Previous</a>
				<a href="http://geekring.net/site/139/random"
					class="btn-9x">Random</a>
				<a href="http://geekring.net/site/139/next"
					class="btn-9x">Next -&gt;</a>
			</section>

			<section id="wr-hotline">
				<p lang="und-Zsym">
					<!-- this is a perversion of the lang attribute, but it's the only
						way to get chrome android to display emojis as monochrome -->
					<a href="https://hotlinewebring.club/zeus/previous">&lt;&lt;&lt;&lt;</a>
					<a href="https://hotlinewebring.club/"
					>&#9742;&nbsp;Hotline&nbsp;&#9742;</a>
					<a href="https://hotlinewebring.club/zeus/next"    >&gt;&gt;&gt;&gt;</a>
				</p>
			</section>
		</article>
	</section>
</aside>
