---
---

#main-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: column;
	gap: 2ch;
}

@media (max-width: 1200px) {
	#main-content {
		grid-template-columns: 1fr;
		grid-auto-flow: row;
	}
	#sidebar-right {
		display: grid;
		grid-auto-flow: column;
		grid-template-rows: min-content auto;
	}
}

table,
td {
	min-height: 3em;
	border: 1px solid var(--txt-4);
}

#contact-list {
	display: grid;
	grid-template-columns: min-content() 1fr;
	gap: 8px;

	& dd {
		margin-left: 0;
	}

	& hr {
		grid-column: span 2;
		width: 100%;
	}
}

#about-site {
	& table {
		& td {
			padding: 0.4em;

			&.rating-n {
				background-color: var(--s-blu);
			}
			&.rating-0 {
				background-color: var(--s-grn);
			}
			&.rating-1 {
				background-color: var(--s-ylw);
			}
			&.rating-2 {
				background-color: var(--s-org);
			}
			&.rating-3 {
				background-color: var(--s-red);
			}
			&:nth-child(3n+1) {
				text-align: right;
			}
			&:nth-child(3n+2) {
				text-align: center;
				font-weight: bolder;
				color: var(--bgd-0);
			}
		}
	}

	#sass-code-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		& p {
			text-decoration: underline overline; /* wombling free */
			color: var(--s-org);
		}
		& p:before,
		& p:after {
			content: "";
			border-left: 1px solid;
			display: block;
			height: 5em;
			margin-left: 0.9ch;
		}

		& code {
			background-color: transparent;  //?\ hide standard codeblock colour
			// tab-size: 0;
			// -moz-tab-size: 0;
			// white-space: pre;
		}
	}
}

.favs-list,
.unfavs-list {
	list-style: none;
	padding-inline: 8px;

	& .fav-item {
		color: var(--d-grn);
	}
	& .unfav-item {
		color: var(--d-red);
	}
}

.favs-list li,
.unfavs-list li {
	background: var(--bgd-1);
	background-image: linear-gradient(var(--bgd-2), var(--bgd-3));
	padding: 6px;
	margin-block: 6px;
	border-radius: 4px;
	border: 1px solid var(--bgd-5);
	outline: 1px solid var(--brdr-dark);
	// box-shadow: 0px 2px 4px 0px black;
}

img#standard {
	position: absolute;
	bottom: -168px;
}
