---
---

/* -------------------------------- layout --------------------------------- */

#window-area {
	padding-top:         	32px;
	padding-right:       	32px;
	padding-left: calc(  	32px + var(--dt-padd));
	padding-bottom: calc(	32px + var(--tb-hite));
}

#browser {
	position: relative;
	display: flex;
	flex-direction: column;

	& .window-titlebar {
		background: linear-gradient(90deg, var(--s-org), var(--d-red), var(--bgd-0));
	}
}

#nav-btns {
	text-align: left;
	user-select: none;

	& li {
		margin: 0;
		padding: 0;
	}
	& img {
		padding: 8px;
		width: 16px;
		height: 16px;
		filter: grayscale(100%);
		&:hover {
			border-radius: 2px;
			background-color: var(--bgd-3);
			filter: none;
		}
	}
}

#address-bar {
	padding-left: 0.2em;
	display: flex;
	gap: 0.4em;

	& span.indent-9x {
		width: 100%;
	}
}

#bookmarks-list {
	text-align: left;

	& .bm-label {
		// temp
		padding: 4px;
	}
}

.window-content {
	inset: 0;
	overflow-x: hidden;
	position: relative;  // for warning banners
	grid-auto-flow: column;
	color: var(--txt-1);  // otherwise it inherits wrong?

	& .page-content,
	& #sidebar-right {
		padding: max(32px, 5%);
		padding-top: max(64px, 5%);
	}

	--fnt-serif: serif;
	--fnt-sans: sans-serif;
	--fnt-mono: monospace;
	--fnt-code: monospace;

	// https://htmlcolorcodes.com/color-names/
	--bgd-0: Black;
	--bgd-1: DarkSlateGrey;  //?
	--bgd-2: SlateGrey;
	--bgd-3: LightSlateGrey;
	--bgd-4: DimGrey;
	--bgd-5: Grey;  //!
	--txt-4: Tan;
	--txt-3: BurlyWood;
	--txt-2: Wheat;
	--txt-1: PaleGoldenRod;
	--txt-0: OldLace;

	--d-red: FireBrick;
	--d-grn: OliveDrab;
	--d-ylw: GoldenRod;
	--d-blu: DodgerBlue;
	--d-ppl: Orchid;
	--d-aqa: SeaGreen;
	--d-org: Chocolate;

	--s-red: IndianRed;
	--s-grn: YellowGreen;
	--s-ylw: Gold;
	--s-blu: CadetBlue;
	--s-ppl: Plum;
	--s-aqa: MediumAquamarine;
	--s-org: Orange;  // ?
}

@media (prefers-color-scheme: light) {
	.window-content {
	--txt-0: Black;
	--txt-1: DarkSlateGrey;  //?
	--txt-2: SlateGrey;
	--txt-3: LightSlateGrey;
	--txt-4: DimGrey;
	--bgd-5: Grey;  //!
	--bgd-4: Tan;
	--bgd-3: BurlyWood;
	--bgd-2: Wheat;
	--bgd-1: PaleGoldenRod;
	--bgd-0: OldLace;

	--d-red: FireBrick;
	--d-grn: OliveDrab;
	--d-ylw: GoldenRod;
	--d-blu: DodgerBlue;
	--d-ppl: Orchid;
	--d-aqa: SeaGreen;
	--d-org: Chocolate;

	--s-red: DarkRed;
	--s-grn: DarkGreen;
	--s-ylw: DarkGoldenrod;
	--s-blu: MidnightBlue;
	--s-ppl: RebeccaPurple;
	--s-aqa: DarkCyan;
	--s-org: Brown;
	}
}
/* -------------------------------- content -------------------------------- */

#desktop-area {
	background-color: var(--d-blu);
	background-image: url("/stadt/assets/images/backgrounds/herringbone.png");
}

.banner-container {

	position: absolute;
	top:   0;
	left:  0;
	right: 0;

	& .banner {
		--inner-border-radius: 0.5em;

		font-size: 0.8em;
		background-color: var(--bgd-3);
		//         	x-ofs,	y-offset,	blur,	spread,	colour
		box-shadow:	0     	0.2em    	0.5em	-0.1em 	black;

		& strong,
		& span {
			font-size: 1em;
			display: inline-block;
			position: relative;
			margin:	 0;
			padding: 0.4em;
		}

		& strong {
			height: 100%;
			padding-right: 1em;

			// fallback for clip paths unsupported
			border-top-right-radius:   	var(--inner-border-radius);
			border-bottom-right-radius:	var(--inner-border-radius);

			clip-path: polygon(
				0%              	0%,
				calc(100% - 1em)	0,
				100%            	50%,
				calc(100% - 1em)	100%,
				0%              	100%
			);

			color: var(--bgd-0);
			background-color: var(--s-red);

			&::before {
				font-family: "Material Design Icons";
				margin-left: 1em;
				content: "󰀩 ";
			}
		}
		&.success h6 { background-color: var(--s-grn) !important; }

		& span.banner-close {
			visibility: hidden;
			position: absolute;
			background-color: var(--d-blu);
			border-top-left-radius:   	var(--inner-border-radius);
			border-bottom-left-radius:	var(--inner-border-radius);
			box-shadow: inherit;

			right: 0;
			padding-left: 1em;

			&:hover {
				visibility: visible;
			}

			&::before {
				float: right;
				visibility: visible;
				font-family: "Material Design Icons";
				content: "󰖭";

				background-color: var(--bgd-2);
				padding: 0.1em;
				border-radius: 0.2em;
			}
		}
	}
}

#sidebar-right {
	background-color: var(--bgd-0);
	--border-style: 4px ridge var(--d-ppl);
	border-left: var(--border-style);
}

@media (max-width: 1000px) {
	.window-content {
		grid-auto-flow: row;
	}
	#sidebar-right {
		border: none;
		border-top: var(--border-style);
	}
}

.btn-code {
	display: none;
	scrollbar-width: thin;
	box-sizing: border-box;
	width: 100%;
	max-width: 34em;
	height: 8em;
	// font-family: var(--fnt-code);  // not global
	margin-inline: auto;
	--indent-col: linear-gradient(var(--bgd-0), var(--bgd-2));

	// &:target {
	//	display: block;
	// }
}

#my-links {
	& input[type="radio"] {
		display: none;
	}

	& input:checked + textarea,
	& input:checked + [contenteditable] {  // nice idea, didn't work
		// font-family: var(--fnt-code);
		// white-space: pre-wrap;
		display: block;
	}
}

p {
	max-width: 70ch;
	margin-inline: auto;
}

.link-list {
	& figure {
		transition: width 2s ease-in-out;
		margin: 0;
	}
	& h6 {
		margin-top: 2px;
		margin-bottom: 0;
		font-style: italic;
	}
	& p {
		margin-top: 0;
		display: none;
	}
}
.link-list figure:hover {
	position: relative;
	isolation: isolate;
	background-color: var(--bgd-4);
	// width: 88px;
	border-radius: 2px;
	// padding-right: 2px;  // why?
	// box-sizing: content-box;
	& p {
		display: block;
		position: absolute;
		width: 100%;
		background-color: var(--bgd-4);
		// width: min-content;
	}
}

hr {
	background: none;
	border: none;
}

.mockvert-container::before,
.mockvert-container::after,
hr::before {
	content: "⌫⌧⌧⌧⌦";  // 🙮, ⍀⌿⍀⌿⍀⌿⍀⌿⍀,
	margin-block: 1em;
	display: block;
	color: var(--s-grn);
	text-align: center;
}

.mockvert {
	display: block;
	width: fit-content;
	margin-inline: auto;
	text-align: center;

	// &::before,
	// &::after {  // ztodo doesn't work for iframes!
		// margin-block: 1em;
		// content: "🙬 🙬 🙬 — 🙮 🙮 🙮";
		// display: block;
	// }
}

iframe.mockvert {
	margin-block: 2em;
	display: block;
	max-width: 90%;
	// border:none;
}

#buttonlink {
	width:  88px;
	max-width: 100%;
	height: 31px;
	margin: 2px 1px;       	//}
	display: inline;       	//} ztodo these need to match img-grid img
	vertical-align: middle;	//}
	border: none;
	&:hover {
		transform: scale(2);
	}
}

#johnvert {
	border: none;
	width: 728px;
	height: 90px;
}

#yoohoovert {
	box-sizing: border-box;
	width: 736px;
	height: 96px;
}

#neolink {
	width:  300px;
	height: 250px;
}

// .img-grid.hover-zoom .btn-svg:hover {
		// transform: scale(3);
// }

/*======== removed =======*/
#extensions {
	max-width: 768px;
	margin: auto;
	// text-align: center;
}

#extensions,
#extensions td {
	// padding-left:  2px;
	// padding-right: 2px;
	padding: 4px;
	border: 1px solid var(--d-ppl);
	border-radius: 4px;
}

#extensions td:nth-child(1) {
	text-align: right;
	// white-space: nowrap;
}
#extensions td:nth-child(2) {
	text-align: center;
}
/*======== /removed =======*/
