---
---

figure.img-aside {
	width: min-content;
	transform: rotate(var(--rot));
	margin: 0.5em;
	&.left {
		float: left;
	}
	&.right {
		float: right;
	}

	& figcaption {
		font-size: 0.7em;
	}
}

.banner {
	box-sizing: border-box;
	width: 100%;
	max-height: 192px;
	object-fit: cover;
	&.top {
		object-position: top;
	}
	&.btm {
		object-position: bottom;
	}
}