---
---
/* -------------------------------- windows -------------------------------- */

#desktop-area {
	background-image:
		linear-gradient(to bottom right, var(--d-blu), var(--d-grn)); //, var(--d-red), var(--d-org), var(--d-ylw));
}

.window-content {
		padding: 16px;
		height: 90%;
		overflow-y: scroll;  // add dummy scrollbar for notepad æsthetic

		& .img-grid.hover-zoom {
			padding-inline: 16px;
			box-sizing: border-box;
		}

		& .img-grid.img-capts {  // caption is centred due to img-grid being centred
			& li {
				padding-inline: 2px;
			}
			& img {
				display: block;  // force caption to display on next line
			}
			& .img-caption {  // hide caption by default
				transition: opacity 0.1s ease-in-out;
				opacity: 0;
			}
			& li:hover .img-caption {  // but show it on hover
				opacity: 1;
			}

			& a:any-link {
				text-decoration: underline dotted currentColor 2px;
			}
			& a.src {  // unverified source
				color: var(--s-ylw);
			}
			& a.v:any-link {  // verified original source
				color: var(--s-grn);
			}
			& a.i {  // design inspiration
				color: var(--s-aqa);
			}
			& a.u {  // unknown source (legacy)
				color: var(--s-red);
				&::after {
					content: " [?]";
				}
			}
			& a.z {  // ~zeus (made by me)
				color: var(--s-org);

				// this is all for the "Ɀ" on hover (maybe bin):
				// update: relative breaks zindex, and it doesn't work without
				// position: relative;
				// &::after {
					// content: "Ɀ";
					// transition: opacity 0.3s ease-in-out;
					// opacity: 0;
					// position: absolute;
					// left: 0;
					// background-color: var(--d-org);
					// background-image: linear-gradient(var(--s-org), var(--d-org));
					// color: var(--bgd-0);
					// border-radius: 2px;
					// padding-inline: 1ch;
				// }
				// &:hover::after {
					// opacity: 1;
				// }
			}
		}

		& p {
			line-height: 1.5em;
			text-indent: 2ch;
		}

		& ol {
			list-style: lower-alpha;

			& ::marker {
				color: var(--s-blu);
			}
	}
}

#window-area {
	// height: 100vh;
	// position: absolute;
	padding-top:         	32px;
	padding-right:       	32px;
	padding-left: calc(  	32px + var(--dt-padd));
	padding-bottom: calc(	32px + var(--tb-hite));
	// margin-top: 20vh;
	// margin-bottom:   50vh;  // allow overscrolling - doesn't work with grid
	display: grid;
	// grid-template-columns: repeat(auto-fill, 720px);
	grid-template-columns: repeat(auto-fill, 48em);
	justify-content: center;
	gap: 4vw;
}

.window-9x {
	z-index: 10; // means i can have manually lower
	position: static;
	grid-row-end: span 2;
	display: flex;
	flex-direction: column;

	// width: 704px;
	max-height: 960px;
	& .window-titlebar {
		background: linear-gradient(90deg, var(--d-org), var(--d-red));
	}
}

p {
	margin-block: 1.5em;
}

/* ---------------------------- specific tweaks ---------------------------- */

#page-intro {
	grid-row-end: span 1;
}

#pirated-music {
	margin: 1em;
	padding: 1em;
}

.window-9x:last-child {
	margin-bottom: 24vw;
}

/* ------------------------------ decorations ------------------------------ */

// :where(ul, ol, dl, p) + :where(h2, h3) {
	// background: none;
	// border: 0;
	// margin: 0.5em 0;
	// padding: 0;

//	 &::before {
//		 content: "🙡 ✠ ✠ ✠ 🙣";
//		 color: var(--s-grn);
//		font-size: 1rem;
//		display: block;
//		line-height: 1;
//		text-align: center;
//	}
// }
