---
---

// https://www.deviantart.com/niivu/art/Macindows-870073866

@font-face {
	font-family: "FixedsysEx";
	font-style: normal;
	font-weight: normal;
	src: local("Fixedsys Excelsior"),
	       url("/assets/fonts/FixedsysEx.ttf") format("truetype"),
	       url("/assets/fonts/FixedsysEx.woff") format("woff");
}

/* variables */
:root {
	--h-pad: 1em; // horizontal padding
	--v-pad: 1em; // vertical padding
	//console style font (used for '95/98 buttons)
	          /* windows,    macos    generic */
	--csl-fnt: "consolas", "monaco", monospace;

	/* universal colours */
	--d-red: #CC241D;
	--d-grn: #98971A;
	--d-ylw: #D79921;
	--d-blu: #458588;
	--d-ppl: #B16286;
	--d-aqa: #689D6A;
	--d-org: #D65D0E;
}

/* light mode colours */
@media (prefers-color-scheme: dark) {
	:root {
		--bgd-0: #282828;
		--bgd-1: #3C3836;
		--bgd-2: #504945;
		--bgd-3: #665C54;
		--bgd-4: #7C6F64;
		--bgd-5: #928374;
		--txt-4: #A89984;
		--txt-3: #BDAE93;
		--txt-2: #D5C4A1;
		--txt-1: #EBDBB2;
		--txt-0: #FBF1C7;
		--s-red: #FB4943;
		--s-grn: #B8BB26;
		--s-ylw: #FABD2F;
		--s-blu: #83A598;
		--s-ppl: #D3869B;
		--s-aqa: #8EC07C;
		--s-org: #FE8019;
		--btn-hilite: var(--bgd-4);
		--btn-lolite: var(--bgd-0);
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--bgd-0: #FBF1C7;
		--bgd-1: #EBDBB2;
		--bgd-2: #D5C4A1;
		--bgd-3: #BDAE93;
		--bgd-4: #A89984;
		--bgd-5: #928374;
		--txt-4: #7C6F64;
		--txt-3: #665C54;
		--txt-2: #504945;
		--txt-1: #3C3836;
		--txt-0: #282828;
		--s-red: #9D0006;
		--s-grn: #79740E;
		--s-ylw: #B57614;
		--s-blu: #076678;
		--s-ppl: #8F3F71;
		--s-aqa: #427B58;
		--s-org: #AF3A03;
		--btn-hilite: var(--bgd-0);
		--btn-lolite: var(--bgd-4);
	}
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");

html {
	/* smoothly scroll to anchor link */
	scroll-behavior: smooth;

		/* this is here because i think it's semantically easier to read */
		/* offset anchor link down from the top of the page */
	& :target:before {
		content: "";
		display: block;
		height: 2em;
		margin: -2em 0 0;
	}
}

body {
	background-color: var(--d-aqa);
	// background-image: url(chrome://global/skin/media/imagedoc-darknoise.png);
	color: var(--txt-1);
	font-family: "Fira Sans";
	margin:0;
	padding:0;
	border:0;
}

h1, h2 {
	color: var(--s-org);
	border-bottom: 0.1em solid var(--d-org);
}
h3, h4, h5, h6 {
	color: var(--s-org);
}

strong, b { // bold (for ctrl+f)
	color: var(--txt-0);
}

em, i { // italic (for ctrl+f)
	color: var(--s-ylw);
}

a {
	// i just think this layout is easier to read
	&:link {
		color: var(--s-blu);
		// text-decoration: underline;
	}

	&:visited {
		color: var(--s-ppl);
	}

	&:active, &:focus {
		color: var(--s-red);
	}
}

.btn-88x31, .btn-80x15, .btn-150x15, .pixel-art {
	/* render pixel art pixelly when zoomed in */
	image-rendering: pixelated;   /* fallback, pixellated */
	image-rendering: crisp-edges; /* unsure, filter e.g. hq2x */
}

/* colour highlighted text */
mark {
	margin: -0.5em -0.5ch;
	padding: 0.5em 0.5ch;
	background-color: var(--d-ylw);
}

.ms-bold {  // ms sans serif style bold by doubling text width
	// text-shadow: 0.5px 0px var(--txt-1),
	             // 1.0px 0px var(--txt-1)/*,
	             // 1.5px 0px var(--txt-1)*/;

		// font-family: "Fira Sans";
		// font-size: 12pt;
		// letter-spacing: 1px;
		font-family: "Fira Sans";
		font-weight: bold;
}

.mc-window { // macindows window
	// margin: 8px;
	border: 2px solid var(--d-aqa);
	padding: 12px;
	border-radius: 8px;
	box-shadow: 4px 7px 0px 0px var(--bgd-2);

	background: var(--bgd-1);

	padding: 8px;
}

.btn-9x {
	display: inline-block;
	text-align: center;
	// justify-content: center;
	margin: 1px;
	// padding: 2px;
	margin: auto;
	// width: 88px;
	// height: 31px;
	// color: black !important;
	color: var(--txt-1) !important; //!important overrides link styling
	font-family: var(--csl-fnt);
	text-decoration: none;
	background: var(--bgd-2);

	/* borders */
	// border-width: 2px;
	// border-style: solid;
	// border-top-color:    var(--btn-hilite);
	// border-left-color:   var(--btn-hilite);
	// border-bottom-color: var(--btn-lolite);
	// border-right-color:  var(--btn-lolite);

	&:active {
		border-top-color:    var(--btn-lolite);
		border-left-color:   var(--btn-lolite);
		border-bottom-color: var(--btn-hilite);
		border-right-color:  var(--btn-hilite);

	}
}

.window-9x,
.btn-9x,
.window-dec {
	background-color: var(--bgd-2);
	// padding: 4px;
	padding: 2px;
	border-width: 2px;
	border-style: solid;
	border-top-color:    var(--btn-hilite);
	border-left-color:   var(--btn-hilite);
	border-bottom-color: var(--btn-lolite);
	border-right-color:  var(--btn-lolite);
}
.window-title {
	background-color: var(--d-blu);
	color: var(--txt-0);
	margin: 0px 0px 2px 0px;
	padding: 0px 2px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	// align-items: center;

	& .window-decs li {
		display: inline-block;
		margin: 0px;
		padding: -2px 0px;
		font-family: "Helvetica";
		// height: 1em;
	}
}

.window-content {
	margin: 0px;
	border-width: 2px;
	border-style: solid;
	border-top-color:    var(--btn-lolite);
	border-left-color:   var(--btn-lolite);
	border-bottom-color: var(--btn-hilite);
	border-right-color:  var(--btn-hilite);
}

#music-player {
	position: absolute;
	bottom: 512px;
	// width:  512px;
	// height: 256px;
	& iframe {
		width:  512px;
		height: 256px;
	}
}

.taskbar-9x {
	position: absolute;
	bottom: 0px;

	display: flex;
	justify-content: space-between;

	/* borders */
	border-top: 2px solid var(--bgd-4);
	padding: 2px 2px 0px 2px;
	width: calc(100% - 4px);  // 4px padding otherwise scrollbar

	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
	background: var(--bgd-2);

	& * {
	margin: 0px;
	padding: 0px;
	list-style-type:none;
	display: inline-block;
	}

	& #btn-start {
		width: 76px;        // }
		height: 29px;       // } this is really hacky, but it's
		margin-bottom: 2px; // } the only thing that works
		line-height: 29px;  // }
		// font-family: "Fira Sans";
		// font-size: 12pt;
		// // text-shadow: 0.5px 0px var(--txt-1),
		// //              1.0px 0px var(--txt-1),
		// //              1.5px 0px var(--txt-1);
		// // color: transparent;
		// letter-spacing: 1px;

		& #start-orb {
			color: var(--s-org);
			// padding-top: 0.4em;  // hacky
			height: 0.8em;
			width: auto;
		}

		// &:before {  // proof of concept inline start orb
			// content: "";
			// background-image: url("/stadt/assets/images/logo.svg");
			// width: 100px;
			//	content: url("../../favicon.gif");
		// }
	}

	& #btn-sep {
		height: 20px;
		&:active {  // "disable" clicking on separator
			border-top-color:    var(--btn-hilite);
			border-left-color:   var(--btn-hilite);
			border-bottom-color: var(--btn-lolite);
			border-right-color:  var(--btn-lolite);
		}
	}

	& #taskbar-btns, #taskbar-tray {
		display: flex;
		flex-direction: row;
		// flex-wrap: nowrap;  // default
		// justify-content: flex-start;  // default
		align-items: center;
		& li {
			display: inline-block;
			margin-right: 4px;
		}
	}

	& #taskbar-tray {
		height: 29px;
		// width: 256px;

		justify-content: flex-end;
		align-items: center;

		border: 2px;
		border-style: solid;
		border-top-color:    var(--btn-lolite);
		border-left-color:   var(--btn-lolite);
		border-bottom-color: var(--btn-hilite);
		border-right-color:  var(--btn-hilite);
	}
}

#taskbar-balloon {
	position: absolute;
	bottom: 44px;
	right: 32px;

	background-color: var(--bgd-0);
	width: 256px;
	height: 64px;

	border: 2px solid var(--txt-2);
	border-radius: 16px;
	padding: 12px;

	// https://codingislove.com/css-speech-bubbles/
	&:before {
		content: "";
		width: 0px;
		height: 0px;
		position: absolute;
		border-left: 10px solid transparent;
		border-right: 10px solid var(--txt-0);
		border-top: 10px solid var(--txt-0);
		border-bottom: 10px solid transparent;
		right: 22px;
		bottom: -20px;
	}
	&:after {
		content: "";
		width: 0px;
		height: 0px;
		position: absolute;
		border-left: 10px solid transparent;
		border-right: 10px solid var(--bgd-0);
		border-top: 10px solid var(--bgd-0);
		border-bottom: 10px solid transparent;
		right: 24px;
		bottom: -16px;
	}
}

#content {
	width: min(100%, 1100px);
	margin: auto;
	display: grid;
	grid-gap: 16px 16px; // row column
}

#sidebar-left, #sidebar-right {

	width: 25%vw;
	max-width: calc(176px + var(--h-pad)); //ztodo variable

	// text-align: justify;
}

#header {
	// height: 100px;
	grid-row-start: 1;
	grid-row-end:   1;
	grid-column-start: 1;
	grid-column-end:   4;
}

#sidebar-left {
	grid-row-start: 2;
	grid-row-end:   2;
	grid-column-start: 1;
	grid-column-end:   1;
}

#sidebar-right {
	grid-row-start: 2;
	grid-row-end:   2;
	grid-column-start: 3;
	grid-column-end:   3;
}

#main-content {
	grid-row-start: 2;
	grid-row-end:   2;
	// width: auto; // implicit
	grid-column-start: 2;
	grid-column-end:   2;

}

// #footer {
	// grid-column-start: 1;
	// grid-column-end:   4;
//
	// grid-row-start: 3;
	// grid-row-end:   3;
// }


.img-grid {
	width: 100%;
	margin: 0px;
	padding: 0px; // this is because it's a list, and padding breaks it
	justify-content: center;
	display: flex; //this is because i want it to be dynamic to width of sidebar
	flex-flow: row wrap;

	& img {
		margin: 0px 1px;
	}

	& ::marker {
		content: "";
	}
}

// marquee animation copied from: https://hotlinecafe.com/
.marquee-container {
	overflow: hidden;
	/* don't optimise by not animating gifs */
	will-change: contents;
}

.marquee-rtl, .marquee-ltr {
	width: max-content;
	/* don't optimise - hotline used this, but i think above works better? */
	will-change: scroll-position;

	// start onscreen (not 100%) ((never mind))
	padding-left: 100%;

	&:hover {
		animation-play-state: paused;
	}

	& li {
		display: inline-block;
		will-change: transform;

		&::marker {
		content: "";
		}
	}
}

.marquee-rtl {
	// change timer when adding more images - was 50s in hlcafe
	animation: marquee-rtl 35s linear infinite;
}

.marquee-ltr {
	animation: marquee-ltr 35s linear infinite;
}

@keyframes marquee-rtl {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes marquee-ltr {
	0% {
		transform: translate(-100%, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}

@media (prefers-reduced-motion) {
	.marquee-rtl, .marquee-ltr {
		animation-play-state: paused;
		padding-left: 0%;

		&:hover {
			animation-play-state: running;
		}
	}
}
