---
---

// https://www.deviantart.com/niivu/art/Macindows-870073866
// https://gist.github.com/bluh/2b95102fd6d3732dc9825be749498fa9
// https://88x31.tumblr.com/
// https://www.reddit.com/r/desktops/comments/nlq789/recreated_windows_95_in_my_desktop_fully/
// ztodo consolidate fonts
// maybe use grid? probably not
// https://win98icons.alexmeub.com/
// ztodo lots of things have mar 0 pad 0 - maybe consolidate?
// https://news-cdn.softpedia.com/images/news2/windows-95-is-now-available-on-linux-mac-and-windows-as-an-electron-app-522375-8.jpg

/* =============================== variables =============================== */

// https://fontlibrary.org/en/catalogue?order=&page=18

@font-face {
	font-family: "Material Design Icons";
	src: /* subset with used chars for download size */
		url("/stadt/assets/fonts/mdi-subset.woff2") format("woff2"),
		url("https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/fonts/materialdesignicons-webfont.eot?#iefix&v=6.5.95") format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/fonts/materialdesignicons-webfont.woff2?v=6.5.95")      format("woff2"),
		url("https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/fonts/materialdesignicons-webfont.woff?v=6.5.95")       format("woff"),
		url("https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/fonts/materialdesignicons-webfont.ttf?v=6.5.95")        format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Yesterweb Nova Square";
	src: url("https://cloudflare-ipfs.com/ipfs/QmaKT1nHC9JM5xmz7cRuRcB8jrkRjxdPsLaLnyzEta3e8R/NovaSquare.woff") format("woff");
}

// move to html <head>
// @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');

// for cyrillic localised forms (ff only for now)
// @import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* variables */
:root {
	--fnt-serif:	"Garamond", "Times New Roman", serif;
	--fnt-sans: 	"Fira Sans", Helvetica, Arial, sans-serif;
	--fnt-mono: 	"Fira Mono", monospace;
	--fnt-code: 	"Fira Code", "Fira Mono", monospace;
	--fnt-ipa:  	"Fira Sans", Arial, Sans-Serif;  // don't fallback to helvetica
	--fnt-zswa: 	"Arial", sans-serif;  // font for "Ɀ" - unused

	--tb-hite:  37px;  // taskbar height
	--dt-padd: 128px;  //?\ desktop padding

	/* universal colours */
	// --d-red: hsl(2,  	75.1%,	45.7%);
	// --d-grn: hsl(60, 	70.8%,	34.9%);
	// --d-ylw: hsl(40, 	73.4%,	48.6%);
	// --d-blu: hsl(183,	32.7%,	40.2%);
	// --d-ppl: hsl(333,	33.6%,	53.9%);
	// --d-aqa: hsl(122,	21.3%,	51.2%);
	// --d-org: hsl(24, 	87.7%,	44.7%);
	--d-red: #CC241D;
	--d-grn: #98971A;
	--d-ylw: #D79921;
	--d-blu: #458588;
	--d-ppl: #B16286;
	--d-aqa: #689D6A;
	--d-org: #D65D0E;

	/* dark mode colours */
	// --bgd-0: hsl(0,  	0%,   	15.7%);
	// --bgd-1: hsl(20, 	5.3%, 	22.4%);
	// --bgd-2: hsl(22, 	7.4%, 	29.2%);
	// --bgd-3: hsl(27, 	9.7%, 	36.5%);
	// --bgd-4: hsl(28, 	10.7%,	43.9%);
	// --bgd-5: hsl(30, 	12.1%,	51.4%);
	// --txt-4: hsl(35, 	17.1%,	58.8%);
	// --txt-3: hsl(39, 	24.1%,	65.9%);
	// --txt-2: hsl(40, 	38.2%,	73.3%);
	// --txt-1: hsl(43, 	58.8%,	81%)	;
	// --txt-0: hsl(48, 	86.7%,	88.2%);
	// --s-red: hsl(2,  	95.8%,	62.4%);
	// --s-grn: hsl(61, 	66.2%,	44.1%);
	// --s-ylw: hsl(42, 	95.3%,	58.2%);
	// --s-blu: hsl(157,	15.9%,	58%)	;
	// --s-ppl: hsl(344,	46.7%,	67.6%);
	// --s-aqa: hsl(104,	35.1%,	62%)	;
	// --s-org: hsl(27, 	99.1%,	54.7%);
	--bgd-0: #282828;
	--bgd-1: #3C3836;
	--bgd-2: #504945;
	--bgd-3: #665C54;
	--bgd-4: #7C6F64;
	--bgd-5: #928374;
	--txt-4: #A89984;
	--txt-3: #BDAE93;
	--txt-2: #D5C4A1;
	--txt-1: #EBDBB2;
	--txt-0: #FBF1C7;
	--s-red: #FB4943;
	--s-grn: #B8BB26;
	--s-ylw: #FABD2F;
	--s-blu: #83A598;
	--s-ppl: #D3869B;
	--s-aqa: #8EC07C;
	--s-org: #FE8019;
	--btn-hilite: var(--bgd-4);
	--btn-lolite: var(--bgd-0);
}

/* light mode colours */
@media (prefers-color-scheme: light) {
	:root {
		// --is-light-mode: true;  // placeholder idea

		// --bgd-0: hsl(48,86.7%,88.2%);
		// --bgd-1: hsl(43,58.8%,81%);
		// --bgd-2: hsl(40,38.2%,73.3%);
		// --bgd-3: hsl(39,24.1%,65.9%);
		// --bgd-4: hsl(35,17.1%,58.8%);
		// --bgd-5: hsl(30,12.1%,51.4%);
		// --txt-4: hsl(28,10.7%,43.9%);
		// --txt-3: hsl(27,9.7%,36.5%);
		// --txt-2: hsl(22,7.4%,29.2%);
		// --txt-1: hsl(20,5.3%,22.4%);
		// --txt-0: hsl(0,0%,15.7%);
		// --s-red: hsl(358,100%,30.8%);
		// --s-grn: hsl(57,79.3%,26.5%);
		// --s-ylw: hsl(37,80.1%,39.4%);
		// --s-blu: hsl(190,89%,24.9%);
		// --s-ppl: hsl(323,38.8%,40.4%);
		// --s-aqa: hsl(143,30.2%,37.1%);
		// --s-org: hsl(19,96.6%,34.9%);
		--bgd-0: #FBF1C7;
		--bgd-1: #EBDBB2;
		--bgd-2: #D5C4A1;
		--bgd-3: #BDAE93;
		--bgd-4: #A89984;
		--bgd-5: #928374;
		--txt-4: #7C6F64;
		--txt-3: #665C54;
		--txt-2: #504945;
		--txt-1: #3C3836;
		--txt-0: #282828;
		--s-red: #9D0006;
		--s-grn: #79740E;
		--s-ylw: #B57614;
		--s-blu: #076678;
		--s-ppl: #8F3F71;
		--s-aqa: #427B58;
		--s-org: #AF3A03;
		--btn-hilite: var(--bgd-0);
		--btn-lolite: var(--bgd-4);
	}
}

/* ======================== element generic styles ========================= */
html,
body {
	/* prevents zooming on mobile *//* no it doesn't */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
	width:  100%;
	height: 100%;

	accent-color: var(--s-org);
}

html {
	/* smoothly scroll to anchor link */
	// scroll-behavior: smooth;  // overflow-anchor: none below
		/* this is here because i think it's semantically easier to read */
		/* offset anchor link down from the top of the page */
	& :target:before {
		content: "";
		display: block;
		height: 2em;
		margin: -2em 0 0;
	}

	& ::selection {
		border-radius: 0.1em; // this doesn't work but it would be nice if it did
		background: var(--d-blu);
		color: var(--bgd-0);
		// doesn't work in ff? even with !important
		text-decoration-color: var(--bgd-0);
	}

	/* colour scrollbars with css */
	scrollbar-color: var(--bgd-2) var(--bgd-1);
	/* colour scrollbars, but this time for webkit being dumb */
	&::-webkit-scrollbar,
	&::-webkit-scrollbar-thumb,
	&::-webkit-scrollbar-button,
	&::-webkit-scrollbar-corner {
		border-radius: 0;
	}
	&::-webkit-scrollbar{
		background-color: var(--bgd-1);
	}
	&::-webkit-scrollbar-thumb{
		background-color: var(--bgd-2);
	}
}

body {
	color: var(--txt-1);
	font-family: var(--fnt-sans);
	tab-size: 2;
	margin:0;
	padding:0;
	border:0;

	overflow-anchor: none;
}

h1 { font-size: 2.2em; }
h2 { font-size:   2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h5 { font-size:   1em; }

h1,
h2 {
	border-bottom: 0.1em solid var(--d-org);
	& mark {
		border-bottom-left-radius:  0;
		border-bottom-right-radius: 0;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-family: var(--fnt-serif);
	text-align: center;
	color: var(--s-org);
	&:target {
		color: var(--s-grn);
	}
}

strong {
	color: var(--s-ylw);
}
b { // bold (for ctrl+f)
	color: var(--d-ylw);
}

small {
	color: var(--txt-4);
}

em {
	color: var(--s-org);
}
i,
q { // italic & quote (for ctrl+f)
	color: var(--d-org);
	font-style: italic;
}

blockquote {
	// margin-left: 1ch;
	margin: 1em 0;
	padding: 0.5em 1.6ch;
	border-left: 0.4ch solid var(--d-ylw);
	padding-left: 1.6ch;
	// font-size: 1.1em;

	position: relative;
	display: block;
	overflow: clip;  // hide glyph in short quotes
	isolation: isolate;  // create a new stacking index

	&::before {
		content: open-quote;
		position: absolute;
		display: block;
		z-index: -1;  // hide behind text

		color: var(--bgd-3);
		top: -0.2em;  // or top: 0.3em;, needs further testing
		left: 0em;
		font-size: 8em;
	}
	&::after {
		content: no-close-quote;  // reset quote back to double
		// visibility: hidden;    // (nested quotes become single)
		// position: absolute;    // (don't mess with positioning)
	}
}

/* colour highlighted text */
mark {
	margin-left:  -0.5ch;
	margin-right: -0.5ch;
	padding-left:  0.5ch;
	padding-right: 0.5ch;
	border-radius: 0.1em;
	background-color: var(--s-ylw);
	color: var(--bgd-0);
}

kbd {  // keyboard (ctrl+f)
	background-color: var(--bgd-3);
	padding-inline: 0.3em;
	padding-top: 0.3em;
	border-radius: 0.2em;
	font-size: 1em;
	box-shadow:
			-2px -2px 0 var(--btn-hilite),
			 2px  2px 0 var(--btn-lolite);

	// for after (widthless border)
	// position: relative;
	// isolation: isolate
	// &::after {
		// content: "";
		// inset: -2px;
		// background: red;
		// inset: -0.1em;
		// background: #f00;
		// z-index: -1;
		// top: -0.2em;
		// bottom: 0;
		// border-radius: 0.3em;
	// }
}

a {
	&:link {
		color: var(--s-blu);
	}
	&:visited {
		color: var(--s-ppl);
	}
	&:active, &:focus {
		color: var(--s-red);
	}
}

/* ========================= class generic styles ========================== */

pre,
samp,
.ascii-art {
	font-family: var(--fnt-mono);
}
.ascii-art {
	white-space: pre;
	overflow: hidden;
	display: block;
	font-variant-ligatures: none;
	-moz-tab-size: 0;
	tab-size: 0;
}
code {  // code formating below
	font-family: var(--fnt-code);
}
.ms-bold {
	// ms sans serif style bold by doubling text width
	// text-shadow:
		// 0.5px 0px var(--txt-1),
		// 1.0px 0px var(--txt-1)/*,
		// 1.5px 0px var(--txt-1)*/;

		// font-family: "Fira Sans";
		// font-size: 12pt;
		// letter-spacing: 1px;
		font-family: var(--fnt-sans);
		// font-size: 1.2em;
		font-weight: 600;
}
.captioned {
	color: var(--s-aqa);
}
.ipa {
	font-family: var(--fnt-ipa);
}
.glyph-showcase[lang="sr"] {
	font-family: "Overpass";
}

code {
	&.codeblock {
		font-family: var(--fnt-code);
		-moz-tab-size:	4;  // may be obsolete?
		tab-size:     	4;
		display: block;
		white-space: pre;
		margin: 0.5em;
		padding: 0.5em;
		background: var(--bgd-0);
	}
	& .obj {  // object
		color: var(--s-red);
	}
	& .mod {  // modifier
		color: var(--s-ylw);
	}
	& .opr {  // operator
		color: var(--s-grn);
	}
	& .val {  // value
		color: var(--s-ppl);
	}
	& .cmt {  // comment
		color: var(--d-org);
		font-style: italic;
	}
}

.btn-88x31,
.btn-176x31,
.btn-80x15,
.btn-150x15,
.tower,
.pixel-art,
.desktop-icon img,
.window-icon,
.window-title:before {
	/* render pixel art pixelly when zoomed in */
	image-rendering: pixelated;   /* fallback, pixellated */
	image-rendering: crisp-edges; /* unsure, filter e.g. hq2x */
	/* so that button alt text can still be scrolled, but doesn't break layout */
	overflow: auto;
}

.img-grid {
	width: 100%;
	margin: 0;
	padding: 0; // this is because it's a list, which has user agent padding

	list-style-type: none;
	text-align: center;

	& li {
		display: inline;
		& a {
			text-decoration: none;
		}
	}

	& img {
		display: inline;
		margin: 0px 1px;
		// margin: 0px;
	}

	// & ::marker {
		// content: "";
	// }
}
.btn-88x31 {
	width:  88px;
	height: 31px;
}
.btn-176x31 {
	width:  176px;
	height: 31px;
}
.btn-80x15 {
	width:  80px;
	height: 15px;
}
.btn-150x15 {
	width: 150px;
	height: 15px;
}

// .swash-z::first-letter {
	// placeholder in case i need to format the special glyph
// }

.window-9x {
	position: absolute;
	box-shadow: 8px 8px 8px -8px black;
	&.window-fixed {
		position: fixed;
	}

	&:target {
		z-index: 90 !important;  // makes page scroll sometimes - is this acceptable?
	}
}
.indent-9x,
textarea {
	margin: 0;
	background-color: var(--bgd-1);
	border-width: 2px;
	border-style: solid;
	border-top-color:    var(--btn-lolite);
	border-left-color:   var(--btn-lolite);
	border-bottom-color: var(--btn-hilite);
	border-right-color:  var(--btn-hilite);
}
textarea {
	color: var(--txt-2);
	padding: 1em 1ch;
}
.outdent-9x,
.window-9x/* :not(.window-maximised), */,
.btn-9x,
.btn-dropdown:before,
.window-decs li:before {
	background-color: var(--bgd-2);
	// padding: 4px;
	padding: 2px;
	border-width: 2px;
	border-style: solid;
	border-top-color:    var(--btn-hilite);
	border-left-color:   var(--btn-hilite);
	border-bottom-color: var(--btn-lolite);
	border-right-color:  var(--btn-lolite);
}
.window-maximised {
	// background-color: var(--bgd-2);
	width: 100%;
	height: 100%;
}
.btn-9x,
.btn-dropdown,
.window-decs li {  // ztodo window buttons don't click
	display: inline-block;
	text-align: center;
	margin: 1px;
	margin: auto;
	color: var(--txt-1) !important; //!important overrides link styling
	text-decoration: none;
	background: var(--bgd-2);
	user-select: none;

	&:active {
		border-top-color:    var(--btn-lolite);
		border-left-color:   var(--btn-lolite);
		border-bottom-color: var(--btn-hilite);
		border-right-color:  var(--btn-hilite);

	}
}
.btn-dropdown {
	margin: 0;
	font-size: 1.2em;
	margin-right: 2px;
	padding: 0px;
	color: red;

	& :before {
		content: "";
		background-size: 1em;  // overwrite inherent svg size
		background-repeat: no-repeat;
		background-position: center;
		//!\ remember to add 'fill="currentColor"' to downloaded svgs
	}
}

.window-titlebar {
	background: linear-gradient(90deg, var(--s-blu), var(--d-blu));
	/* hmmnn not sure about this yet - it looks kind of 3d */
	// background: linear-gradient(to bottom right, var(--s-blu), var(--d-blu));
	// background-color: var(--s-blu);
	color: var(--bgd-1);

	position: relative;
	margin: 0px 0px 2px 0px;
	padding: 1px 2px;
	height: 20px;

	user-select: none;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;


	& a.window-title {
		/* remove link styling for titles */
		color: inherit;
		text-decoration: none;
		cursor: default;

		& .window-icon {
			vertical-align: middle;
		}
	}

	/* ======================================================================	*\
	||         all window decoration svgs from material design icons:        	||
	||                    https://materialdesignicons.com/                   	||
	||             ztodo https://www.compart.com/en/unicode/U+1F5D7          	||
	\* ======================================================================	*/
	& .window-decs {
		margin: 0;
		font-size: 1.2em;
		margin-right: 2px;
		padding: 0px;

		& .window-min:before {
			content: "󰖰";
		}
		& .window-max:before {
			content: "󰖯";
		}
		& .window-rst:before {
			content: "󰖲";
		}
		& .window-hlp:before {
			content: "󰋖";
		}
		& .window-cls:before {
			content: "󰖭";
		}

		& li {
			visibility: hidden;  // hide to replace with before pseudo
			font-family: "Material Design Icons";
			margin-right: 0.8em;  // because the actual element is hidden

			&:before {  // attributes for all buttons
				visibility: visible;
				display: inline-block;
				position: absolute;
				margin: 0;
				padding: 0;
				top: 2px;  // the tip says this has no effect but it really does
				width: 1.2em;
				font-size: 0.6em;
				line-height: 1.2em;  // for vert cenre in chrome
				color: var(--txt-0);
				aspect-ratio: 1 / 1;
			}
		}
	}
}
.window-menu ul {
	margin: 0;
	padding: 0;
	cursor: default;

	& li {
		display: inline-block;
		padding: 0px 4px;
		user-select: none;

		&:hover {
			background-color: var(--bgd-3);
		}
		&:active u {
			color: var(--s-ylw);
		}
	}
}
.window-content {
	line-height: 1.3;
	margin: 2px;
	display: grid;
}

/* ============================ specific styles ============================ */
/* -------------------------------- desktop -------------------------------- */
#window-area {
	//!\ beware scrolling (e.g. thoughts page)
	// this makes the desktop icons unclickable
	// position: absolute;
	// top:     0px;
	// left:  128px;
	// right:   0px;
	// bottom: 39px;
	// overflow-x: hidden;
}
#desktop-area {
	position: fixed;
	width:  100%;
	height: 100%;
	background-color: var(--d-aqa);
	background-image: url("/stadt/assets/images/backgrounds/texture.png");
	// dithered dimming - not sure
	// background-image: url("/stadt/assets/images/backgrounds/midtone.png");

	& .desktop-icons-flex-container {
		width: min-content;
		margin: 24px;  // in case i add a background
		padding: 24px;

		max-height: 80vh;
		overflow-y: auto;

		& .desktop-icon {
			text-align: center;
			color: var(--bgd-0);
			display: block;

			& + .desktop-icon {
				margin-top: 24px;
			}

			&:visited {
				color: var(--bgd-2);
			}
			&:hover,
			&:focus {
				color: var(--bgd-0);
			}

			& img {
				width: 32px;
				display: block;
				margin-inline: auto;
			}
		}
	}

	& #wall-imgs {
		display: block;
		position: fixed;

		& #curiosity {
			top: 5vh;
			right: 10vw;
		}
		& #leptaniform {
			bottom: 5vh;
			left: 20vw;
			filter: sepia(1);
		}

		& .wall-img {
			display: block;
			position: fixed;
			font-size: 0.5em;
			width: min-content;

			color: var(--bgd-0);
			opacity: 0;

			&:hover {
				// visibility: visible;
				// display: block !important;
				opacity: 0.9;
			}
		}
	}
}
/* -------------------------------- taskbar -------------------------------- */
#taskbar-9x {
	--h-gap: 4px;

	position: fixed;
	z-index: 87;
	bottom: 0;

	display: flex;
	gap: var(--h-gap);
	align-items: center;
	justify-content: space-between;

	/* borders */
	box-sizing: border-box;
	border-top: 2px solid var(--btn-hilite);
	// padding: 2px 2px 1px 2px;  // i don't know where the extra pixel comes from?
	padding: 2px;
	width: 100%;

	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
	background: var(--bgd-2);

	& img {
		vertical-align: middle;  // or bottom
	}

	& * {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	}

	& #btn-start {
		// display: inline-flex;  // ztodo maybe try this
		// flex-direction: space-around;
		box-sizing: border-box;
		width: 88px;
		height: 31px;

		font-family: var(--fnt-mono);
		font-size: 1em;

		& #start-orb {
			background-size: 16px 16px;
			color: var(--s-org);
			padding-top: 0.4em;  // hacky
			height: 0.8em;
			width: auto;
		}

		// &:before {  // proof of concept inline start orb
			// content: "";
			// background-image: url("/stadt/assets/images/logo.svg");
			// width: 100px;
			// content: "";
			// background-image: url("../../favicon.ico");
			// background-size: 16px 16px;
		// }
	}

	& .taskbar-sep {
		height: 20px;
		&:active {  // "disable" clicking on separator
			border-top-color:    var(--btn-hilite);
			border-left-color:   var(--btn-hilite);
			border-bottom-color: var(--btn-lolite);
			border-right-color:  var(--btn-lolite);
		}
	}

	& #taskbar-btns, #taskbar-tray {
		display: flex;
		flex-direction: row;
		gap: var(--h-gap);
		// flex-wrap: nowrap;  // default
		// justify-content: flex-start;  // default
		align-items: center;
		& li {
			display: inline-block;
			// margin-right: var(--h-gap);
		}
	}

	& #taskbar-btns {
		// for mask
		flex-shrink: 1;
		flex-grow: 1;
		overflow: hidden;
		width: 100%;
		-webkit-mask-image: linear-gradient(to left, transparent 0px 8px, black 32px 64px);
		mask-image: linear-gradient(to left, transparent 0px 8px, black 32px 64px);
		// background-image: linear-gradient(to left, blue 0px 8px, red 32px 64px);

		// & #taskbar-btns:after {
			// content: '';
			// z-index: 5;
			// width: 100%;
			// height: 100%;
			// position: absolute;
			// background: red;
			// background: linear-gradient(to right, transparent 100px, white);
			// right: 0;
			// background-color: red;
		// }
	}

	& #taskbar-tray {
		height: 100%;
		box-sizing: border-box;
		// height: 29px;
		padding: 0px 2px;

		justify-content: flex-end;
		align-items: center;

		border: 2px;
		border-style: solid;
		border-top-color:    var(--btn-lolite);
		border-left-color:   var(--btn-lolite);
		border-bottom-color: var(--btn-hilite);
		border-right-color:  var(--btn-hilite);

		& * {
			padding: 2px;
		}
	}
}

/* start menu open on focus logic: */
#btn-start:focus + #startmenu-9x { display: grid; }
#startmenu-container:focus-within #startmenu-9x { display: grid; }
#startmenu-9x { display: none; }

#startmenu-9x {
	position: fixed;
	// display: block;  //does this get overriden?
	bottom: var(--tb-hite);
	left: 4px;

	// display: grid;
	grid-auto-flow: column;
	// gap: 4px;
	gap: 0;

	& #startmenu-logo {
		display: block;
		width: 32px;
		height: calc(100% - 8px);  // 2 * vertical padding

		grid-column: 1 / 2;

		background-color: var(--d-blu);
		color: var(--bgd-2);
		// content: "ⱿeusOfTheCrows";
		font-weight: 700;
		font-size: 18pt;
		padding: 4px 2px;

		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}

	& #startmenu-btns {
		grid-column: 2 / 3;
		// padding: 4px;
		// width: 64px;
		display: initial;
		margin: 4px 0px;

		& .startmenu-sep {
			margin: 4px auto;
			display: block;
			width: 90%;

			& .btn-sep {
				display: block;
				width: 100%;
			}
		}

		& .startmenu-btn {
			display: block;
			// padding: 0px 8px;
			margin: 1px 8px;
		}
	}
}

#taskbar-balloon {
	position: fixed;
	z-index: 88;
	bottom: calc(var(--tb-hite) + 5px);
	right: 88px;

	background-color: var(--bgd-0);
	width: 256px;
	// height: 64px;

	border: 2px solid var(--txt-2);
	border-radius: 12px;
	padding: 12px;

	// https://codingislove.com/css-speech-bubbles/
	// https://css-tricks.com/the-shapes-of-css/
	&:before {
		content: "";
		width:  0px;
		height: 0px;
		position: absolute;
		border-left:   10px solid transparent;
		border-right:  10px solid var(--txt-0);
		border-top:    10px solid var(--txt-0);
		border-bottom: 10px solid transparent;
		right:   16px;
		bottom: -20px;
	}
	&:after {
		content: "";
		width:  0px;
		height: 0px;
		position: absolute;
		border-left:   10px solid transparent;
		border-right:  10px solid var(--bgd-0);
		border-top:    10px solid var(--bgd-0);
		border-bottom: 10px solid transparent;
		right:   18px;
		bottom: -16px;
	}
}

/* ============================== animations =============================== */

// marquee animation copied from: https://hotlinecafe.com/
.marquee-container {
	overflow: hidden;
	/* don't optimise by not animating gifs */
	will-change: contents;
}

.marquee-rtl, .marquee-ltr {
	width: max-content;
	/* don't optimise - hotline used this, but i think above works better? */
	will-change: scroll-position;

	// start onscreen (not 100%) ((never mind))
	padding-left: 100%;

	&:hover {
		animation-play-state: paused;
	}

	& li {
		display: inline-block;
		will-change: transform;

		&::marker {
		content: "";
		}
	}
}

.marquee-rtl {
	// change timer when adding more images - was 50s in hlcafe
	animation: marquee-rtl 35s linear infinite;
}

.marquee-ltr {
	animation: marquee-ltr 35s linear infinite;
}

@keyframes marquee-rtl {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes marquee-ltr {
	0% {
		transform: translate(-100%, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}

@media (prefers-reduced-motion) {
	.marquee-rtl, .marquee-ltr {
		animation-play-state: paused;
		padding-left: 0%;

		&:hover {
			animation-play-state: running;
		}
	}
}
