---
---

#greenhouse,
#towers {
	max-height: none;
}

#greenhouse {
	--d-red: #d11c24;
	--d-grn: #6cbe6c;
	--d-ylw: #a57706;
	--d-blu: #2176c7;
	--d-ppl: #c61c6f;
	--d-aqa: #259286;
	--d-org: #cb4b16;

	--bgd-0: #002b36;
	--bgd-1: #073642;
	--bgd-2: #586e75;
	--bgd-3: #657b83;
	--bgd-4: #839496;
	--bgd-5: #93a1a1;
	--txt-4: #eee8d5;
	--txt-3: #fdf6e3;
	--txt-2: #fdf6e3;
	--txt-1: #fdf6e3;
	--txt-0: #fdf6e3;
	--s-red: #f5163b;
	--s-grn: #51ef84;
	--s-ylw: #b27e28;
	--s-blu: #178ec8;
	--s-ppl: #e24d8e;
	--s-aqa: #00b39e;
	--s-org: #cb4b16;
	--btn-hilite: var(--bgd-4);
	--btn-lolite: var(--bgd-0);
}

@media (prefers-color-scheme: light) {
	#greenhouse {
	--d-red: #dc322f;
	--d-grn: #859900;
	--d-ylw: #b58900;
	--d-blu: #268bd2;
	--d-ppl: #d33682;
	--d-aqa: #2aa198;
	--d-org: #cb4b16;

	--bgd-0: #fdf6e3;
	--bgd-1: #eee8d5;
	--bgd-2: #93a1a1;
	--bgd-3: #839496;
	--bgd-4: #657b83;
	--bgd-5: #586e75;
	--txt-4: #839496;
	--txt-3: #657b83;
	--txt-2: #586e75;
	--txt-1: #073642;
	--txt-0: #002b36;
	--s-red: #cb4b16;
	--s-grn: #586e75;
	--s-ylw: #657b83;
	--s-blu: #839496;
	--s-ppl: #6c71c4;
	--s-aqa: #93a1a1;
	--s-org: #cb4b16;
	--btn-hilite: var(--bgd-0);
	--btn-lolite: var(--bgd-4);
	}
}

#greenhouse {
	#intro {
		display: flex;
		gap: 2ch;
		align-items: end;
		& div {
			flex-grow: 1;
		}
		& textarea {
			width: 100%;
			font-size: 0.9em;
			box-sizing: border-box;
		}
		& iframe {
			flex-shrink: 0;
			padding: 0;
		}
	}
	& iframe {
		width:  250px;
		height: 250px;
		overflow: hidden;
		border: none;
	}

	#pots {
		display: flex;
		gap: 0.2ch;
		flex-wrap: wrap;
		justify-content: space-evenly;
		& iframe {
			flex-shrink: 0;
			margin-bottom: 2em;
		}
	}
}

/*------------------------------------------------------------------------------*/

#towers {
	& .window-content {
		padding-bottom: 0;
	}

	/* colour scheme: dracula */
	/* https://draculatheme.com/ */

	/* universal colours */
	--d-red: #ff5555;
	--d-grn: #50fa7b;
	--d-ylw: #f1fa8c;
	--d-blu: #bd93f9;
	--d-ppl: #ff79c6;
	--d-aqa: #8be9fd;
	--d-org: #ffb86c;

	// /* dark mode colours */
	--bgd-0: #21222c;
	--bgd-1: #282a36;
	--bgd-2: #383a59;
	--bgd-3: #44475a;
	--bgd-4: #6272a4;
	--bgd-5: #6272a4;
	--txt-4: #6272a4;
	--txt-3: #6272a4;
	--txt-2: #f8f8f2;
	--txt-1: #f8f8f2;
	--txt-0: #ffffff;
	--s-red: #ff6e6e;
	--s-grn: #69ff94;
	--s-ylw: #ffffa5;
	--s-blu: #d6acff;
	--s-ppl: #ff92df;
	--s-aqa: #a4ffff;
	--s-org: #d8d890;
	--btn-hilite: var(--bgd-4);
	--btn-lolite: var(--bgd-0);

	/* light mode colours */
	@media (prefers-color-scheme: light) {
		--bgd-0: #21222c;
		--bgd-1: #282a36;
		--bgd-2: #383a59;
		--bgd-3: #44475a;
		--bgd-4: #6272a4;
		--bgd-5: #6272a4;
		--txt-4: #6272a4;
		--txt-3: #6272a4;
		--txt-2: #f8f8f2;
		--txt-1: #f8f8f2;
		--txt-0: #ffffff;
		--s-red: #ff6e6e;
		--s-grn: #69ff94;
		--s-ylw: #ffffa5;
		--s-blu: #d6acff;
		--s-ppl: #ff92df;
		--s-aqa: #a4ffff;
		--s-org: #d8d890;
		--btn-hilite: var(--bgd-4);
		--btn-lolite: var(--bgd-0);
	}
}

@font-face {
	font-family: "Cooper";
	src:
		local("Cooper"),
		local("Cooper Regular"),
		local("Cooper-Regular");
}

#towers header mark {
	background: transparent;
	color: var(--s-grn);
	font-family: var(--fnt-serif);
	font-size: 1.6em;
	text-align: center;
	display: block;
	width: 100%;
}

#towers .window-content {
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	// for background div:
	isolation: isolate;
	overflow: hidden;
	position: relative;

	&::before {  // has to be in ::before for blur() filter

		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		filter: blur(4px) brightness(55%);
		// @media (prefers-color-scheme: light) {  // maybe
			// filter:
				// blur(4px)
				// invert(100%)       	// } faux hsl invert
				// hue-rotate(180deg);	// }
		// }

		background: url("/stadt/assets/images/backgrounds/city.png");
		/* ========== source: streets of rage, gruvboxed by potamides ========== *\
		https://github.com/potamides/dotfiles/blob/master/.config/awesome/themes/gruvbox/wallpaper.png
		\* ===================================================================== */
		background-attachment: fixed;
		background-position: center bottom;
		background-repeat: repeat-x;
		background-size: contain;
	}
}

#sidebar-right {
	& .floating-img-container {
		text-align: center;
	}

	& blockquote {

		& ul {
			list-style: square;

			& li {
				padding-bottom: 0.5em;
			}
		}
	}
}

#intro-text {
	position: relative;  // for background
	max-width: 720px;
	// margin: 32px auto;
	--padd: 24px;
	padding: var(--padd);  // as above

	&::before {  // for opacity
		content: "";
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		margin: calc(var(--padd) * -1);  // so below
		background: var(--bgd-3);
		// border-radius: 32px;
		opacity: 0.7;
		z-index: -1;
	}

	& h1.tt-logo {  // all of this is due to chrome not supporting paint-order:
		visibility: hidden;
		font-size: 3.5em;
		// "Fantasy" only works when capitalised in firefox…
		font-family: "AveriaSerifGWFRegular", "Averia Serif Libre", "Cooper", Fantasy;
		font-weight: 900;

		&::before,
		&::after {
			visibility: visible;
			position: absolute;
			inset-inline: 0;

			content: "Teeny\aTowers";
			white-space: pre-line;
			line-height: 65%;
			text-align: center;
			text-indent: 1ch;

			border: none;
			color: var(--s-ppl);
		}
		&::before {
			text-stroke: 0.08em var(--txt-0);  // for future maybe
			-webkit-text-stroke: 0.08em var(--txt-0);
			-webkit-text-fill-color: var(--s-ppl);
			text-shadow: -0.08em 0.08em var(--d-ppl);
			paint-order: stroke fill;  // only in firefox/safari

			// @media (prefers-color-scheme: light) {
			//	text-stroke: 0.04em var(--bgd-0);  // for future maybe
			//	-webkit-text-stroke: 0.04em var(--bgd-0);
			//	-webkit-text-fill-color: var(--d-ppl);
			//	text-shadow: -0.08em 0.08em var(--s-ppl);
			// }
		}
		// pure css-spec ver. - kind of ugly, and probably unnecessary:
		// --pos-offs: 0.02em
		// --neg-offs: calc(var(--pos-offs) * -1)
		// text-shadow:
			// var(--pos-offs) var(--pos-offs) var(--txt-0),
			// var(--pos-offs) var(--neg-offs) var(--txt-0),
			// var(--neg-offs) var(--neg-offs) var(--txt-0),
			// var(--neg-offs) var(--pos-offs) var(--txt-0),
			// -0.08em  0.08em var(--d-ppl);
	}
}

#tower-container {
	position: relative;
	bottom: 0;
	width: fit-content;
	overflow-y: clip;
	overflow-x: visible;
	margin: 0 auto;
	line-height: 0;
	text-align: center;  // for roof sign
	display: grid;
	grid-template-columns: repeat(8, min-content);
	gap: 0;
	grid-auto-flow: row;
	& .sign {
		grid-column: 3 / -1;  // span to end (-1) to avoid anything else on same row
	}
	& .room.wide {
		grid-column-end: span 2;
	}
}

.tower {
	/* grow rooms on hover */
	// ztodo this is now in global.css
	transition: 0.2s ease-in-out 0s;
	&.room:hover,
	&.room:focus,
	&.room:focus-within {
		transform: scale(2);
		transition: 0.2s ease-in-out 0.5s;
	}

	/* sizes */
	height: 50px;

	&.roof {
		height: 10px;
		&.left {
			width: 5px;
		}
		&.lift {
			width: 50px;
		}
		&.brdg {  // bridge
			width: 30px;
		}
		&.sect {  // room sized section
			width: 100px;
		}
		&.right {
			width: 30px;
		}
	}
	&.room {
		width: 100px;
	}
	&.room.wide {
		width: 200px;
	}
	&.lift {
		width:  50px;
	}
	&.lwal {
		width: 5px;
	}
	&.mwal {
		width: 30px;
	}
	&.rwal {
		width: 30px;
	}
}
