---
---
/* for nojs */
@font-face {
	font-family: "04b03";
	src: url("/stadt/assets/fonts/04b03.woff")  format("woff");
	src: url("/stadt/assets/fonts/04b03.woff2") format("woff2");
}

@font-face {
	font-family: "Yesterweb Nova Square";
	src: url("https://cloudflare-ipfs.com/ipfs/QmaKT1nHC9JM5xmz7cRuRcB8jrkRjxdPsLaLnyzEta3e8R/NovaSquare.woff") format("woff");
}

/* -------------------------------- layout --------------------------------- */
.x-window {
	position: relative;
	inset: 0;
	margin: auto;
}

#window-area {
	box-sizing: border-box;
	padding: 1em;
	gap: 1em;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas:
		"wnew main musc"
		"wnew main nbrs"
		"qote main nbrs"
		"qote main ring"
		"dimg main ring"
		"btns btns btns";
}

@media (max-width: 1200px) {

	#window-area {
		align-items: center;
		grid-template-columns: 1fr;
		grid-template-areas:
		"main"
		"wnew"
		"musc"
		"qote"
		"dimg"
		"nbrs"
		"ring"
		"btns";
		// dots must be there as grid always has 3 columns for some reason?

		padding-inline: 0.1em;
	}

	.x-window {
		margin: auto !important;
	}
}

/* -------------------------------- windows -------------------------------- */
#whats-new {
	grid-area: wnew;
	margin-top: 10%;
	// left: calc(50vw - 256px);
	max-width: 512px;

	& .window-content {
		padding: 4px 8px;
		// padding: 8px;
		height: 512px;
		overflow-y: auto;
		grid-template-areas:
			"title title"
			"body btns"
			"footer footer";
	}
}

#intro-text {
	grid-area: main;
	max-width: 80ch;

	& .window-content {
		padding: 8px;

		& #welcome-title {
			font-size: 2rem;
			font-weight: 700;
			width: max-content;
			margin-inline: auto;

			& #welcome-serif {
				font-family: var(--fnt-serif);
				font-size: 1.15em;  // just a mite bigger
				color: var(--txt-2);
			}
			& #welcome-sans {
				font-family: var(--fnt-sans);
				color: var(--s-org);
			}
		}
	}
}

#webrings {
	grid-area: ring;

	& .window-content {
		width: 440px;
		padding: 4px;
		display: grid;
		gap: 8px;
		grid-template-areas:
			"intro intro"
			"nojs yester"
			"geek  geek "
			"hotln hotln";

		& #wr-intro {
			grid-area: intro;
			text-align: center;
		}

		& #wr-nojs {
			grid-area: nojs;

			font-family: "04b03", system, chicago, sans-serif;
			background-color: var(--bgd-3);
			color: var(--txt-1);
			& a {
				text-shadow: 0 0 2px;

				&:link {
					color: var(--s-ppl);
				}
				&:visited {
					color: var(--d-ppl);
				}
			}
			border: 2px solid var(--bgd-0);
			gap: 4px;
			align-items: center;
			justify-content: center;
			text-align: center;

			display: grid;
			grid-template-areas:
				"prev prev next next"
				"spc2 rand rand spc3"
				"spc2 link link spc3";

			& #nojs-site {
				display: none;
			}
			& #nojs-prev {
				grid-area: prev;
			}
			& #nojs-next {
				grid-area: next;
			}
			& #nojs-rand {
				grid-area: rand;
			}
			& #nojs-link {
				grid-area: link;
			}
		}

		& #wr-yester {
			grid-area: yester;

			// background-image: url("https://cloudflare-ipfs.com/ipfs/QmaKT1nHC9JM5xmz7cRuRcB8jrkRjxdPsLaLnyzEta3e8R/gridnew.gif");
			background: var(--bgd-0);

			text-align: center;

			padding-left: 4px;
			padding-right: 4px;

			border-width: 2px;
			border-style: solid;
			border-top-color:    var(--s-grn);
			border-left-color:   var(--s-grn);
			border-bottom-color: var(--d-grn);
			border-right-color:  var(--d-grn);

			& .yw-title {
				font-family: "Yesterweb Nova Square", Impact;
				color: var(--s-grn);
				font-weight: normal;
			}
			& a {
				color: var(--s-grn);
			}
		}

		& #wr-geekring {
			grid-area: geek;
			padding: 8px;
			// width: 400px;

			background: linear-gradient(var(--d-aqa), var(--d-blu));

			display: grid;
			// grid-template-areas:
				// "label label label"
				// "btn-1 btn-2 btn-3";
			grid-auto-flow: column;
			grid-template-columns: repeat(3, 1fr);
			gap: 2px;

			& p {
				// grid-area: label;
				text-align: center;
				grid-column: 1 / 4;
				grid-row:    1 / 2;
				font-family: "Arial", sans-serif;
				font-size: 1.3em;
				font-weight: bold;
				-webkit-text-stroke: 1px var(--txt-2);
				-webkit-text-fill-color: var(--bgd-0);

				& span {
					font-style: oblique;

					& a {
						text-decoration: underline dotted;
					}
				}
			}

			& .btn-9x {
				width: 88px;
				grid-row: 2 / 3;
			}
		}

		& #wr-hotline {
			grid-area: hotln;

			text-align: center;
			font-family: var(--fnt-sans);
			font-size: 2em;
			font-weight: 900;
			font-style: oblique;
			text-transform: uppercase;

			text-shadow: 0.05em 0.05em var(--d-ppl);

			& a {

				&[lang="und-Zsym"]{
					//[nyi]: https://drafts.csswg.org/css-fonts-4/#font-variant-emoji-prop
					font-variant-emoji: text;
				}
				color: var(--s-blu);

				&:visited {
					color: var(--s-grn);
				}
				&:hover {
					color: var(--s-ppl);
				}
				&:active {
					color: var(--s-aqa);
				}
			}
			z-index: 0;
			position: relative;  // for background (ztodo towers)
			&:before {
				content: "";
				position: absolute;
				top: 0px;
				right: 0px;
				bottom: 0px;
				left: 0px;

				z-index: -1;
				background-image: url(/stadt/assets/images/backgrounds/hotline.png);
				background-size: cover;
				background-position: center;
				border-radius: 4px;
				filter: blur(4px);
				// opacity: 0.5;
			}
		}
	}
}

#music-player {
	grid-area: musc;
	margin-top: 16%;
	margin-left: 8%;
	height: min-content;
	max-width: min-content;

	& .window-content {
		// padding: 1px;
		// width: 100%;
		padding: 8px;
		display: grid;
		gap: 4px 8px;
		grid-template-rows:    min-content;
		grid-template-columns: max-content;

		& #current-song {
			width: 274px;  // narrowest it can be and still have a volume scrubber
			height: calc(100% - 9px);  // list elements have bottom padding of 9?
			// height: 60px;
			// background-color: var(--d-org);
			// maybe album art? if taller
			// background: url("/stadt/assets/images/backgrounds/chainlink.jpg");
			// ztodo this image is not permanent
			background: url("/stadt/assets/images/backgrounds/swirl.png");
			grid-area: 1 / 1 / 2 / 3;
			// display: inline-flex;
			// justify-content: center;

			& audio {
				width:  100%;
				height: 100%;
				border-radius: 0;
				opacity: 0.8;

				/* ooh chrome aren't we special */
				&::-webkit-media-controls-enclosure {
					border-radius: 0;
				}
				// i think this is probably an unanounced feature–let it sleep for now
				// --media-background: var(--bgd-0);
				// --duration-color: var(--d-ylw);
			}
		}
		& table {
			grid-column: 1 / 4;
		}
		& .button-grid {  // ztodo make generic
			// why does everything have padding-left: 40px;?? ztodo
			list-style-type:none;
			display: inline-block;
			padding: 0;
			margin: 0;
			grid-area: 1 / 3 / 2 / 4;
		}
		& .current-artist {
			grid-row: 2 / 3;
		}
		& .current-title {
			grid-row: 3 / 4;
		}
		& .current-label {
			text-align: right;
			vertical-align: top;
			// width: 64px;
			margin: 0;
			padding: 2px 2px;  // for border size
			grid-column: 1 / 2;
		}
		& .current-info {
			margin: 0;
			padding: 0px 2px;
			// background-color: var(--bgd-3);
			// width: auto;
			grid-column: 2 / 4;
		}

		// & #current-song-info > p:nth-child(2n) {
			// text-align: right;
			// grid-area: 2 / 1 / 3 / 2;
		// }
		// & #current-song-info > p:nth-child(2n+1) {
			// text-align: right; grid-column-start: 2; grid-column-end: 3;
			// grid-area: 2 / 2 / 3 / 3;
		// }
	}

	// & iframe {
	// 	width:  512px;
	// 	height: 256px;
	// }
}

#neighbours {
	grid-area: nbrs;
	max-width: 64ch;
}

#quote {
	grid-area: qote;
	max-width: 50ch;
	min-width: 256px;
	height: min-content;
	top: 2%;

	& blockquote {
		font-family: var(--fnt-serif);
		font-size: 1.3em;
		padding: 1em;

		&::first-letter {
			float: left;
			font-size: 4em;
			color: var(--s-ylw);
			padding-right: 0.04em;
		}
	}
	& footer {
		// display: flex;
		padding: 2px 1ch;
		text-align: right;
		color: var(--txt-3);

		& a {
			&::before,
			&::after {
				color: var(--txt-3);
				text-decoration: none;
				display: inline-block;
			}

			&::before {
				content: "\00a0–\00a0";
			}
			&::after {
				content: ",";
			}
		}

		// & a,
		// & time {
			// width: 100%;
			// padding: 2px 1ch;
		// }
		// & time {
			// text-align: right;
		// }
	}
}

#daily-img {
	grid-area: dimg;
	max-width: 512px;
	min-width: 256px;

	& img {
		max-width: 100%;

		&:hover,
		&:focus,
		&:active {
			content: var(---hover-src);
		}
	}

	& footer {
		padding: 2px 1ch;
		text-align: right;
		color: var(--txt-3);
	}
}

#brands {
	grid-area: btns;
}

/* ============================== animations =============================== */

#welcome-sans {
	// rainbow text
	animation: colour-cycle 2s linear infinite;
	--shad-size-s: 2px;
	--shad-size-l: 24px;
}

@media (prefers-reduced-motion) {
	#welcome-sans {
		animation: none;
	}
}
