---
---

body {
	background-size: 256px 256px;
	background-attachment: fixed;
	background-repeat: repeat;
	--wall-clr-1: #531151;
	--wall-clr-2: #321565;
	--wall-clr-3: #503586;
	--wall-clr-4: #8A3288;
	/*--wall-clr-1: #D1B591;
	--wall-clr-2: #644424;
	--wall-clr-3: #CC630E;
	--wall-clr-4: #CF7D34;*/
	background-color: var(--wall-clr-1);
	background-image:
		radial-gradient(circle at 34.6% 34.6%, var(--wall-clr-1), var(--wall-clr-1) 8%,  #0000 calc(8% + 1px)),
		radial-gradient(circle at 31.7% 31.7%, var(--wall-clr-2), var(--wall-clr-2) 12%, #0000 calc(12% + 1px)),
		radial-gradient(circle at 28.5% 28.5%, var(--wall-clr-3), var(--wall-clr-3) 16%, #0000 calc(16% + 1px)),
		radial-gradient(circle at 25.0% 25.0%, var(--wall-clr-4), var(--wall-clr-4) 20%, #0000 calc(20% + 1px)),
		radial-gradient(circle at 65.4% 34.6%, var(--wall-clr-1), var(--wall-clr-1) 8%,  #0000 calc(8% + 1px)),
		radial-gradient(circle at 68.3% 31.7%, var(--wall-clr-2), var(--wall-clr-2) 12%, #0000 calc(12% + 1px)),
		radial-gradient(circle at 71.5% 28.5%, var(--wall-clr-3), var(--wall-clr-3) 16%, #0000 calc(16% + 1px)),
		radial-gradient(circle at 75.0% 25.0%, var(--wall-clr-4), var(--wall-clr-4) 20%, #0000 calc(20% + 1px)),
		radial-gradient(circle at 34.6% 65.4%, var(--wall-clr-1), var(--wall-clr-1) 8%,  #0000 calc(8% + 1px)),
		radial-gradient(circle at 31.7% 68.3%, var(--wall-clr-2), var(--wall-clr-2) 12%, #0000 calc(12% + 1px)),
		radial-gradient(circle at 28.5% 71.5%, var(--wall-clr-3), var(--wall-clr-3) 16%, #0000 calc(16% + 1px)),
		radial-gradient(circle at 25.0% 75.0%, var(--wall-clr-4), var(--wall-clr-4) 20%, #0000 calc(20% + 1px)),
		radial-gradient(circle at 65.4% 65.4%, var(--wall-clr-1), var(--wall-clr-1) 8%,  #0000 calc(8% + 1px)),
		radial-gradient(circle at 68.3% 68.3%, var(--wall-clr-2), var(--wall-clr-2) 12%, #0000 calc(12% + 1px)),
		radial-gradient(circle at 71.5% 71.5%, var(--wall-clr-3), var(--wall-clr-3) 16%, #0000 calc(16% + 1px)),
		radial-gradient(circle at 75.0% 75.0%, var(--wall-clr-4), var(--wall-clr-4) 20%, #0000 calc(20% + 1px))
		;
}

@media (prefers-color-scheme: light) {
  body {
    --wall-clr-1: #853C2B;
    --wall-clr-2: #D23B11;
    --wall-clr-3: #E57711;
    --wall-clr-4: #EAD328;
	}
}


body:has(option[value="gb"]:checked) {
	--wall-clr-1: #282828;
	--wall-clr-2: #CA2825;
	--wall-clr-3: #D45E21;
	--wall-clr-4: #D69834;
}

/* -------------------------------- layout --------------------------------- */

body {
	--body-hor-offset: 0.8fr;
}

body>main {
	box-sizing: border-box;
	margin-inline: auto;
	gap: 1em;
	// display: grid;
	// grid-auto-flow: column;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: center;
}

main>section {
	flex: 2;
	// max-width: 80ch;
}
main>aside {
	contain: layout;
	flex: 0 1 42ch;
	// max-width: 40ch;
	// background-color: #73442B;
}

main>section,
main>aside {
	box-sizing: border-box;
	background-color: var(--wall-clr-1);
	background-image: url("/stadt/assets/images/backgrounds/texture.png");
	background-blend-mode: hard-light;
	border-right:  4px solid #00000018;
	border-bottom: 4px solid #00000018;
	padding: 2em 2ch;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 4px 4px 8px #00000080, 4px 4px 16px #00000080;
}


#page-mosaic {

	padding: 0;
	text-align: center;

	list-style-type: none;
	padding: none;
	display: grid;

	& li {
		width: min-content;
	}

	& a {
		position: relative;
		display: inline-block;
	}

	& a::before,
	& a::after {
		content: "";
		background: url("/stadt/assets/images/shrines/mv/mv-hilite.png");
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		transition: opacity 0.2s, filter 0.4s;
	}

	& a:hover::before,
	& a:hover::after {
		opacity: 1;
	}

	& a:hover::before {
		filter: blur(8px) brightness(2) hue-rotate(360deg);
	}
}

#quote {
	min-width: 40ch;
	display: inline-block;
	margin-inline: auto;
}

#webrings {
		display: grid;
		gap: 8px;
		grid-template-areas:
			"intro"
			"geek"
			"hotln ";

		& #wr-intro {
			grid-area: intro;
			text-align: center;
		}

		& #wr-geekring {
			font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
			grid-area: geek;
			padding: 8px;

			background: linear-gradient(#66CC99, #9999CC);
			border: 1px solid black;
			box-shadow: inset 2px 2px 2px #00000080, inset -2px -2px 2px #FFFFFF80;

			display: grid;
			grid-auto-flow: column;
			grid-template-columns: repeat(3, 1fr);
			gap: 1em 4px;

			& p {
				// grid-area: label;
				text-align: center;
				grid-column: 1 / 4;
				grid-row:    1 / 2;
				font-family: "Arial", sans-serif;
				font-size: 1.3em;
				font-weight: bold;
				-webkit-text-stroke: 1px black;
				-webkit-text-fill-color: white;
				margin-block: 0;

				& span {
					font-style: oblique;


					& a {
						text-decoration: underline dotted;
					}
				}
			}

			& .btn-9x {
				// width: 88px;
				width: 100%;
				box-sizing: border-box;
				grid-row: 2 / 3;
			}
		}

		& #wr-hotline {
			font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
			grid-area: hotln;

			& p {
				margin-block: 2em;
			}

			text-align: center;
			font-family: var(--fnt-sans);

			& a:any-link {
				font-weight: 800 !important;
				font-size: 150%;
				font-style: oblique;
				text-transform: uppercase;
				text-shadow: 0.05em 0.05em #A12462;

				&[lang="und-Zsym"]{
					//[nyi]: https://drafts.csswg.org/css-fonts-4/#font-variant-emoji-prop
					font-variant-emoji: text;
				}

				color: #E62764;

			}
			z-index: 0;
			position: relative;  // for background
			&:before {
				content: "";
				position: absolute;
				top: 0px;
				right: 0px;
				bottom: 0px;
				left: 0px;

				z-index: -1;
				background-color: #031030;
				background-blend-mode: exclusion;
				background-image: url(/stadt/assets/images/backgrounds/hotline.png);
				background-size: cover;
				background-position: center;
				border-radius: 4px;
				filter: blur(4px);
				// opacity: 0.5;
			}
		}
}

#music {
	height: min-content;

	& figure {
		margin: 0;
		position: relative;
		text-align: center;
	}

	& figcaption {
		&::after {
			content: "";
			background-image: url("/stadt/assets/music/clip.png");
			width: 60px;
			height: 120px;
			/*! background-color: red; */
			display: block;
			position: absolute;
			right: -19px;
			background-size: contain;
			background-repeat: no-repeat;
			transform: rotate(90deg);
			top: -50px;
			pointer-events: none;
		}
		background-image: url("/stadt/assets/music/paper.png");
		background-size: 100% 100%;
		height: 3em;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		top: -1em;
		isolation: isolate;
		transform: rotate(-2deg);

		font-family:
			"Latin Modern Roman Unslanted",
			"Bradley Hand ITC",
			"MV Boli",
			"Lucida Handwriting",
			"Z003",
			"Tempus Sans",
			"PilGi",
			"Freestyle Script",
			cursive;

		& a,
		& span {
			color: black;

			top: 0.8em;
			position: relative;
		}
		& a:link {
			color: blue;
		}
		& a:visited {
			color: purple;
		}
		& a:active {
			color: red;
		}
	}

	// & summary a,
	// & summary span {
	// 	display: block;
	// }

	// workaround for firefox bug - aspect-ratio doesn't work for audio
	& div, {
		width:  100%;
		height: max-content;
		aspect-ratio: 1;
		transform: rotate(2deg);

		& audio {
			width:  100%;
			height: 100%;
			border-radius: 8px;
			background-image: var(--cover);
			background-size: cover;

			/* ooh chrome aren't we special */
			&::-webkit-media-controls-enclosure {
				border-radius: 0;
			}
			// i think this is probably an unanounced feature–let it sleep for now
			// --media-background: var(--bgd-0);
			// --duration-color: var(--d-ylw);
		}
	}
}

#quote {
	grid-area: qote;
	max-width: 50ch;
	min-width: 256px;
	height: min-content;
	top: 2%;

	& blockquote {
		font-family: var(--fnt-serif);
		font-size: 1.1em;
		padding: 1em;
		background-colour: rebecca-purple;

		&::first-letter {
			float: left;
			font-size: 4em;
			color: var(--s-ylw);
			padding-right: 0.04em;
		}
	}
}

#image {
	max-width: max-content;

	& img {
		max-width: 100%;

		&:hover,
		&:focus,
		&:active {
			content: var(---hover-src);
		}
	}
}

#quote,
#image {

	display: block;
	margin-inline: auto;

	& figure {
		margin: 0;
	}

	& footer {
		padding: 2px 1ch;
		text-align: right;
		color: var(--txt-3);

		& a {
			&::before,
			&::after {
				color: var(--txt-3);
				text-decoration: none;
				display: inline-block;
			}

			&::before {
				content: "\00a0–\00a0";
			}
			&::after {
				content: ",";
			}
		}
	}
}
