---
---

:root {
	/* colour scheme: sun solaris 8 */
	/* http://toastytech.com/guis/sol.html */

	/* universal colours */
	--d-red: #840000;
	--d-grn: #2d9029;
	--d-ylw: #848400;
	--d-blu: #5252ff;
	--d-ppl: #901090;
	--d-aqa: #008484;
	--d-org: #844200;

	/* dark mode colours */
	--bgd-0: #29294a;
	--bgd-1: #522139;
	--bgd-2: #524a8c;
	--bgd-3: #b54a7b;
	--bgd-4: #b5b5d6;
	--bgd-5: #deadc6;
	--txt-4: #000000;
	--txt-3: #5a636b;
	--txt-2: #adb5c6;
	--txt-1: #dedee7;
	--txt-0: #ffffff;
	--s-red: #ff1042;
	--s-grn: #39ff31;
	--s-ylw: #ffff00;
	--s-blu: #9898ee;
	--s-ppl: #ff00ff;
	--s-aqa: #00ffff;
	--s-org: #ff8721;
	--btn-hilite: var(--bgd-4);
	--btn-lolite: var(--bgd-0);
	--indent-col: var(--bgd-0);
}

/* light mode colours */
@media (prefers-color-scheme: light) {
	:root {
		--bgd-0: #dedee7;
		--bgd-1: #deadc6;
		--bgd-2: #adb5c6;
		--bgd-3: #b54a7b;
		--bgd-4: #5a636b;
		--bgd-5: #522139;
		--txt-4: #b5b5d6;
		--txt-3: #9494a5;
		--txt-2: #5a636b;
		--txt-1: #29294a;
		--txt-0: #000000;
		--s-red: #ff1042;
		--s-grn: #39ff31;
		--s-ylw: #ffff00;
		--s-blu: #9898ee;
		--s-ppl: #ff00ff;
		--s-aqa: #00ffff;
		--s-org: #ff8721;
		--btn-hilite: var(--bgd-0);
		--btn-lolite: var(--bgd-4);
		--indent-col: var(--bgd-0);
	}
}

#main-content {
	padding: 24px;
	overflow-y: scroll;

	& p {
		max-width: 720px;
	}

	.log-file {
		border-bottom: 2px solid var(--d-org);
		border-image-source:
			radial-gradient(
				circle at bottom,
				var(--s-ppl),
				var(--d-ppl),
				transparent);
		border-image-slice: 1;
		margin-bottom: 2em;
		&.site-update {
			color: var(--s-red);
			&::before {
				content: "<site update />";
				display: block;
				margin-bottom: 1em;
			}
		}
	}

	& img {
		border-radius: 8px;
		border-style: ridge;
		margin: 0.1em 4ch;
	}

	& ::before,
	& ::after {
		color: var(--d-aqa);
	}

	& a.attachment {
		text-decoration: none !important;  //overrides link styling

		&::before,
		&::after {
			display: block;
		}
		&::before {
			content: "<img src=\""attr(href)"\">";
		}
		&::after {
			content: "</img>";
		}
		& img {
			// padding-left: 4ch;  // for tags, superceded by global padding
			max-width:  min(400px, 100% - 4ch);  // margin size - variable?
			max-height: 200px;
		}
	}

	& p {
		&::before,
		&::after {
			display: block;
		}
		padding-left: 3ch;
		&::before {
			white-space: pre;
			margin-left: -3ch;
			content: "<p>";
		}
		&::after {
			white-space: pre;
			margin-left: -3ch;
			// transform: translateX(-3ch);
			content: "</p>";
		}
	}

	& time.log-date {
		color: var(--d-ppl);
		&::before {
			content: "<time>";
		}
		&::after {
			content: "</time>";
		}
	}
}