---
---
#page-window {
	border: none;
	// width:  calc(100% - 4px);  // ztodo this is hacky
	// height: calc(100% - 37px); // i'm not sure this is that great either
	// display: table;
	inset: 0;
	box-sizing: border-box;
}

.window-content {
	box-sizing: border-box;
	// height: calc(100% - 37px); // i'm not sure this is that great either
	margin: 24px;
	grid-template-columns: 256px minmax(50%, 1fr) minmax(20%, 512px);
}

#sidebar-left {
	& ul {
		padding: 0 30px 0 15px;
		// padding-left: 5%;//?
		& li {
			padding: 0.3em 0;
			list-style: none;
			border-radius: 4px;

			&:hover {
				background: var(--bgd-3);
			}

			&::before {
				padding: 0 15px;
				// padding-right: 1ch;
				content: "▹";
			}
		}
	}
}

#sidebar-right {  // in html file, not layout
	padding: 30px;
}