---
---
#page-window {
	border: none;
	position: absolute;
	top: var(--tb-hite);
	left: var(--dt-padd);
	right: 0;
	bottom: 0;
	box-sizing: border-box;

	padding: 8px 24px;
	display: grid;
	// grid-template-columns: 192px minmax(50%, 1fr) minmax(20%, 384px);
	grid-template-columns: minmax(80%, 1fr) minmax(20%, 384px);
	gap: 20px;

	background-image: radial-gradient(#2C001E80 10%, #2C001EFF 150%);
}

@media (max-width: 1200px) {
	#page-window {
		padding: 4px 24px;
		grid-template-columns: auto;
		grid-template-areas: "description" "content";
	}
	#main-content {
		grid-area: content;
	}
	#sidebar-left {
		grid-area: navigation;
	}
	#sidebar-right {
		grid-area: description;
		max-height: 20vh;
		overflow: auto;

	}
}

#main-content {
	padding: 24px;
	// overflow-y: scroll;
	// overflow-x: clip;
	overflow: auto;
}

#sidebar-left {
	& ul {
		padding-left: 0;//?
		& li {
			padding: 0.3em 0;
			list-style: none;
			border-radius: 4px;

			& img {
				width: 16px;
				height: auto;
				vertical-align: middle;
			}

			&:hover {
				background: var(--bgd-3);
			}

			&::before {
				// padding: 0 15px;
				padding-right: 1ch;
				content: "▹";
			}
			&.current::before {
				content: "▸";
			}
		}
	}
}

#sidebar-right {  // in html file, not layout
	padding: 24px;
	position: relative;
	border-radius: 10px;

	mask-image: linear-gradient(to top, transparent 0%, black 10%);
}

#ubuntu-header {
	box-shadow: none;
	background: #2C001ED0;
}
