---
---

figure.img-aside {
	width: min-content;
	transform: rotate(var(--rot));
	margin: 0.5em;
	&.left {
		float: left;
	}
	&.right {
		float: right;
	}

	& figcaption {
		font-size: 0.7em;
	}
}

.banner {
	box-sizing: border-box;
	width: 100%;
	max-height: 192px;
	object-fit: cover;
	&.top {
		object-position: top;
	}
	&.btm {
		object-position: bottom;
	}
}

.fullwidth-graph {
	width: 100%;
	box-sizing: border-box;
}

.window-9x {
	max-height: 1024px;  // override
}

/* -------------------------- decorations --------------------------- */

// :where(ul, ol, dl, p) + :where(h2, h3) {
/*
hr {
	background: none;
	border: 0;
	margin: 0.5em 0;
	padding: 0;

	 &::before {
		 content: "🙡 ✠ ✠ ✠ 🙣";
		 color: var(--s-grn);
		font-size: 1rem;
		display: block;
		line-height: 1;
		text-align: center;
	}
}
*/