---
---
/* -------------------------------- windows -------------------------------- */
:root {
	scroll-behavior: smooth;
	// can't get it to revert for the windows
	// scrollbar-color: var(--d-blu) var(--d-ppl) !important;
}

html :target:before {
	content: " ";
	display: block;
	height:  500px;
	width: 20px;
	margin: -500px 0 0;
}

#desktop-area {
	background-image:
		url("/stadt/assets/images/backgrounds/palmtreesblack.png");

		// i don't really like duplicated media queries, but i don't see another way
		@media (prefers-color-scheme: light) {
			background-image:
			url("/stadt/assets/images/backgrounds/palmtreespink.png");
		}

		//!\ remember to do this with background images
		& .desktop-icons-flex-container {
			margin: 32px;
			padding: 16px;
			background-color: var(--bgd-0);
			border-radius: 8px;
		}

}

div.window-content {
	& .notepad-text {
		font-family: var(--fnt-sans);
		line-height: 1.5em;
		//may be nice for larger screens, but not quite yet
		// font-family: garamond, sans-serif;
		// font-size: 1.2em;

		padding: 16px;
		overflow-y: scroll;  // add dummy scrollbar for notepad æsthetic
		// i thought this was a good idea, but actually it's annoying
		// overscroll-behavior: contain;

		/* defaults, can be overriden in html*/
		width: 704px;
		max-height: 512px;

		& ol {
			list-style: lower-alpha;

			& ::marker {
				color: var(--s-blu);
			}
		}
	}
}

#window-area {
	height: 100vh;
	// margin-top: 20vh;
	margin-bottom:   50vh;  // allow overscrolling

}

.window-9x {
	z-index: 10; // means i can have manually lower

	&.window-align-left {
		left: 10vw;
	}
	&.window-align-right {
		right: 10vw;
	}
}

/* ------------------------------ decorations ------------------------------ */

hr {
	background: none;
	border: 0;
	margin: 0.5em 0;
	padding: 0;

	&::after {
		content: "☙ ⁂ ❧";
		// content: "🙡 ⁂ 🙣";  // alt
		color: var(--s-grn);
		display: block;
		line-height: 1;
		text-align: center;
	}
}
