---
---
/* -------------------------------- windows -------------------------------- */
:root {
	// can't get it to revert for the windows
	// scrollbar-color: var(--d-blu) var(--d-ppl) !important;

	--dsk-bg-img: url(/stadt/assets/images/backgrounds/stars.png);

	@media (prefers-color-scheme: light) {
		--dsk-bg-img: url(/stadt/assets/images/backgrounds/sky.png);
	}

	//!\ remember to do this with background images
	--icn-bg-col: var(--txt-2);
	--icn-bg-bdr: 2px dotted var(--bgd-0);
}
@media (prefers-color-scheme: light) {
	#desktop-area {
		animation: scroll-bg 8s linear infinite;
	}
}

@keyframes scroll-bg {
	0%  	{ background-position: 128px 128px; }
	100%	{ background-position: 0px   0px;   }
}

.window-content {
		font-family: var(--fnt-sans);
		// initial-letter: 2;  // soon
		//may be nice for larger screens, but not quite yet
		// font-family: garamond, sans-serif;
		// font-size: 1.2em;
		display: revert;  // otherwise blockquotes are hidden - bug?

		padding: 16px;
		// height: 90%;
		flex-grow: 1;
		overflow-y: scroll;  // add dummy scrollbar for notepad æsthetic
		// i thought this was a good idea, but actually it's annoying
		// overscroll-behavior: contain;

		& p {
			line-height: 1.5em;
			text-indent: 2ch;
		}

		& ol {
			list-style: lower-alpha;

			& ::marker {
				color: var(--s-blu);
			}
	}
}

#window-area {
	// height: 100vh;
	// position: absolute;
	padding-top:         	32px;
	padding-right:       	32px;
	padding-left: calc(  	32px + var(--dt-padd));
	padding-bottom: calc(	32px + var(--tb-hite));
	// margin-top: 20vh;
	// margin-bottom:   50vh;  // allow overscrolling - doesn't work with grid
	display: grid;
	// grid-template-columns: repeat(auto-fill, 720px);
	grid-template-columns: repeat(auto-fill, minmax(auto, 48em));
	justify-content: center;
	gap: 4vw;
}

.window-9x {
	z-index: 10; // means i can have manually lower
	position: static;
	grid-row-end: span 2;
	display: flex;
	flex-direction: column;

	// width: 704px;
	max-height: 960px;

	& footer {
		display: flex;
		& > span {
			flex: 1 1 100%;
			text-align: right;
			padding-right: 1ch;

			&.write-date::before {
				content: "file created: ";
			}
			&.edit-date::before {
				content: "last edited: ";
			}
			& > time {
				color: var(--s-blu);
			}
		}
	}
}

p {
	margin-block: 1.5em;
}

/* ---------------------------- specific tweaks ---------------------------- */

#page-intro {
	grid-row-end: span 1;
}

#contents {
	width: fit-content;
	margin-inline: auto;

	& li {
		width: fit-content;

		&::marker {
			content: var(--img) " ";
		}
	}
}

#svg {
	--titlebar-col: linear-gradient(90deg, var(--s-ylw), var(--d-ylw));
}

#abxy {
	--titlebar-col:
		linear-gradient(
			90deg,
			var(--s-grn),
			var(--s-blu),
			var(--s-ylw),
			var(--s-red));

	& kbd {
		border-radius: 99vmax;
		padding-top: 0.1em;

		&.s-o::after {
			color: var(--s-red);
			content: "Ο";
		}
		&.s-x::after {
			color: var(--s-blu);
			content: "Χ";
		}
		&.s-t::after {
			color: var(--s-grn);
			content: "Δ";
		}
		&.s-s::after {
			color: var(--s-ppl);
			content: "Π";
		}
		&.n-a::after {
			color: var(--s-red);
			content: "A";
		}
		&.n-b::after {
			color: var(--s-ylw);
			content: "B";
		}
		&.n-x::after {
			color: var(--s-blu);
			content: "X";
		}
		&.n-y::after {
			color: var(--s-grn);
			content: "Y";
		}
		&.x-a::after {
			color: var(--s-grn);
			content: "A";
		}
		&.x-b::after {
			color: var(--s-red);
			content: "B";
		}
		&.x-x::after {
			color: var(--s-blu);
			content: "X";
		}
		&.x-y::after {
			color: var(--s-ylw);
			content: "Y";
		}
		&.d-a::after {
			color: var(--s-red);
			content: "A";
		}
		&.d-b::after {
			color: var(--s-blu);
			content: "B";
		}
		&.d-x::after {
			color: var(--s-ylw);
			content: "X";
		}
		&.d-y::after {
			color: var(--s-grn);
			content: "Y";
		}
	}
}

#tabs-and-spaces {
	--titlebar-col: linear-gradient(90deg, var(--btn-hilite), var(--btn-lolite));
}

#piracy {
	--titlebar-col: linear-gradient(90deg, var(--s-ylw), var(--d-ylw));
	--titlebar-col: linear-gradient(90deg, var(--btn-hilite), var(--btn-lolite));
	& #pirated-music {
		margin: 1em;
		padding: 1em;
	}
}

#dark-souls {
	--titlebar-col: linear-gradient(90deg, var(--s-org), var(--d-org));
}

#css-puzzle {
	--titlebar-col: linear-gradient(90deg, var(--s-aqa), var(--d-aqa));
}

.window-9x:last-child {
	margin-bottom: 24vw;
}

/* ------------------------------ decorations ------------------------------ */

dl {
	& dd {
		line-height: initial;  // i'm not sure this is best practice - maybe just 1
	}
}

table,
td {
	border-radius: 8px;
	border: ridge var(--d-ppl);
	padding: 0.4em;
}

// blockquote::before {
		// top: 0.3em;  // why is this so different?
// }

hr {
	background: none;
	border: 0;
	margin: 0.5em 0;
	padding: 0;

	&::after {
		content: "☙ ⁂ ❧";
		// content: "🙡 ⁂ 🙣";  // alt
		color: var(--s-grn);
		display: block;
		line-height: 1;
		text-align: center;
	}
}
