---
---
/* -------------------------------- windows -------------------------------- */

blockquote {
	margin-left:  16px;
	padding-left: 16px;
	border-left: 4px solid #605617;
}

#page-window {
	height: 100%;
}

#whole-wrapper {
	// display: flex;
	// justify-content: space-between;
	// flex-flow: column;
	height: 100vh;
}

#background-image {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;

	filter: blur(5px) brightness(50%);
	background: url("https://i.imgur.com/0PKzIBi.jpeg");  // ztodo placeholder
	background-attachment: fixed;
	background-position: center bottom;
	background-repeat: no-repeat;
}

#intro-text {
	max-width: 1024px;
	margin: 128px auto;
	padding: 24px;

	background: #001D2880;  // #HEXA
	border-radius: 64px;
}

#tower-container {
	position: fixed;
	bottom: 0;
	margin-left: calc(50vw - 258px);  // ztodo this is really ugly
	// line-height: 65%;
	line-height: 0;
	text-align: center;
	// & * {
		// text-align: left;
	// }
}

.tower {
	/* grow rooms on hover */
	transition: 0.2s ease-in-out 0s;
	&.room,
	&.room-wide {
		&:hover {
			transform: scale(2);
			transition: 0.2s ease-in-out 0.5s;
		}

		// &[src="/stadt/assets/images/towers/vacant.png"]:not(:hover) {
			// breaks z-index for some reason?
			// filter: brightness(70%);
		// }
	}

	/* sizes */
	height: 50px;
	&.sign {
		width: 150px;
		padding-left: 30px;  // for lift shaft
	}
	&.room {
		width: 100px;
	}
	&.room-wide {
		width: 200px;
	}
	&.lift {
		width:  50px;
	}
	&.lwal {
		width: 5px;
	}
	&.mwal {
		width: 30px;
	}
	&.rwal {
		width: 30px;
	}
	&.lruf,
	&.rruf {
		height: 10px;
	}
	&.lruf {
		width: 60px;
		padding-right: 20px;
	}
	&.rruf {
		width: 435px	;
	}
	&.wall {
		width:  15px;
		height: 50px;
	}
	&.roof {
		width: 480px;
		height: 13px;
	}
}