---
---

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

#main-content {
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	// for background div
	isolation: isolate;
	overflow: hidden;
	position: relative;
}

#sidebar-right {
	& .floating-img-container {
		text-align: center;
	}

	& blockquote {
		margin-left:  16px;
		padding-left: 16px;
		border-left: 4px solid var(--d-ppl);

		& ul {
			list-style: square;

			& li {
				padding-bottom: 0.5em;
			}
		}

	}

}

#background-image {
	// display: none;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	overflow: clip;

	filter: blur(4px) brightness(55%);
	background: url("/stadt/assets/images/backgrounds/city.png"); // ztodo source
	background-attachment: fixed;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

#intro-text {
	max-width: 720px;
	margin: 32px auto;
	padding: 24px;

	// background: #001D2880;  // #HEXA
	border-radius: 64px;

	& h1.tt-logo {
		white-space: pre-line;
		line-height: 70%;
		text-align: center;
		text-indent: 1ch;
		// "Fantasy" only works when capitalised in firefox…
		font-family: "Cooper Black", "Shrikhand", Fantasy;  //?\ font
		font-size: 3em;
		font-weight: 900;

		border: none;
		color: var(--txt-0);
		text-stroke: 1px var(--txt-0);  // for future maybe
		-webkit-text-stroke: 1px var(--txt-0);
		-webkit-text-fill-color: var(--s-ppl);
		text-shadow: -4px 4px var(--d-ppl);
	}
}

#tower-container {
	position: relative;
	bottom: 0;
	margin: 0 auto;
	line-height: 0;
	text-align: center;  // for roof sign
	display: grid;
	grid-template-columns: repeat(8, min-content);
	gap: 0;
	grid-auto-flow: row;
	& .sign {
		grid-column: 3 / -1;  // span to end (-1) to avoid anything else on same row
	}
	& .room.wide {
		grid-column-end: span 2;
	}
}

.tower {
	/* grow rooms on hover */
	transition: 0.2s ease-in-out 0s;
	&.room:hover,
	&.room:focus,
	&.room:focus-within {
		transform: scale(2);
		transition: 0.2s ease-in-out 0.5s;
	}

	/* sizes */
	height: 50px;

	&.roof {
		height: 10px;
		&.left {
			width: 5px;
		}
		&.lift {
			width: 50px;
		}
		&.brdg {  // bridge
			width: 30px;
		}
		&.sect {  // room sized section
			width: 100px;
		}
		&.right {
			width: 30px;
		}
	}
	&.room {
		width: 100px;
	}
	&.room.wide {
		width: 200px;
	}
	&.lift {
		width:  50px;
	}
	&.lwal {
		width: 5px;
	}
	&.mwal {
		width: 30px;
	}
	&.rwal {
		width: 30px;
	}
}