<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

   {% include header.html %}
	
		<table id="whole-wrapper-table">
			<tr>
				<td id="nav-menu-wrapper">
				<!--ztodo remove inline style-->
					<ul class="nav-menu">
					<details>
						<summary class="nav-menu-folder">Folder</summary>
						<li><a href="example.com">Dummy one</li></a>
						<li><a href="example.com">Dummy two</li></a>
					</details>
					</ul>
				</td>
				<td>
					<main class="page-content" aria-label="Content">
						<div class="wrapper">
							{{ content }}
						</div>
					</main>
				</td>
			</tr>
		</table>


  </body>

</html>
