<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	<head>
	{% include head.html %}
	</head>

	<body>
		<div class="whole-wrapper">
			<header class="site-header" role="banner">
				{% include header.html %}
			</header>

			<div id="nav-menu-wrapper" aria-label="nav menu" role="navigation">
				{% include tree-nav-menu.html %}
				<hr id="wr-divider" />
				{% include webring-navs.html %}
			</div>

			<main id="content" aria-label="content" role="content">
				{% comment %} <!-- cosmetically replace | with ¦ --> {% endcomment %}
				{{ content | replace: "|", "¦" }}
			</main>

			<!-- <div id="clear"></div> -->

			<footer id="footer" role="footer">
				{% include footer.html %}
			</footer>
		</div>
	</body>
</html>
