<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
	<head>
		<!--   ___                 -->
		<!--  ' //  ___ __ __ __    -->
		<!--   //  //_\)|| ||(/_'  -->
		<!--  //__,\\__,`l,l|,_/)  -->
		<!--    oi! what you doing here?     -->
		<!--  you won't get no head from me  -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.6" />
		<meta name="color-scheme" content="dark light" />

		<title>{% if page.title %}{{ page.title }}〔Ɀ〕{% else %}{{ site.gc-title }}{% endif %}</title>
		<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />

		<link rel="stylesheet" href="/stadt/assets/css/global.css" />
		{% if page.layout == "gc-maximised" %}
		<link rel="stylesheet" href="/stadt/assets/css/maximised.css" />
		<!-- matches titlebar colour in maximised view -->
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#83a598" />
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="#076678" />
		<!-- <meta name="theme-color" content="#458588" /> -->
		{% endif %}
		<!-- load page css file last for priority if equal specificity -->
		{% if page.css-layout %}
		<link rel="stylesheet" href="/stadt/assets/css/{{ page.css-layout }}.css" />
		{% endif %}
		<link rel="stylesheet" href="/stadt/assets/css/{{ page.css-file }}.css" />

		<!-- dulled colour to match textured background -->
		<meta name="theme-color" content="#5A7A5B" />

		<!-- this doesn't work properly - always uses 32px -->
		<!-- <link rel="shortcut icon" type="image/x-icon" href="/stadt/favicon-16.png"  sizes="16x16" /> -->
		<!-- <link rel="shortcut icon" type="image/x-icon" href="/stadt/favicon-32.png"  sizes="32x32" /> -->
		{% if page.window-icon != nil %}
		<link rel="shortcut icon" type="image/png" href="/stadt/assets/images/window-icons/{{ page.window-icon }}" />
		{% else %}
		<!-- https://stackoverflow.com/questions/1444975/if-i-serve-favicon-ico-as-image-vnd-microsoft-icon-instead-of-image-x-icon-wi -->
		<link rel="shortcut icon" type="image/x-icon" href="/stadt/favicon.ico" />
		{% endif %}

		<!-- turns out cross-domain canonicals are acceptable -->
		<link rel="canonical" href="https://zeusofthecrows.github.io{{ page.url | replace:'index.html','' | relative_url }}" />

		<!-- lets use font library instead of gfonts? -->
		<!-- fontlibrary just serves broken fira, unfortunately -->
		<!-- fira -->
		<!-- <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fira-sans" type="text/css"/> -->
		<!-- <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fira-code" type="text/css"/> -->
		 <!-- <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fira-mono" type="text/css"/> -->
		<!-- uncial -->
		<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/eadui" type="text/css"/>
		<!-- blackletter -->
		<!-- https://fonts.google.com/specimen/UnifrakturMaguntia -->
		<!-- <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/chomsky" type="text/css"/> -->
		<!-- alternative blackletter -->
		<!-- <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/kjv-1611" type="text/css"/> -->
		<!-- per page -->
		{% if page.has-loc-cyr == true %}
		<!-- only the gfonts version supports local forms - why‽ -->
		<!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
		<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
		<link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
		<!-- <link rel="stylesheet" media="screen" href="https://overpass-30e2.kxcdn.com/overpass.css" type="text/css"/> -->
		{% endif %}

		<!-- for google fonts (replacing with fontlibrary) -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<!-- fira -->
		<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Fira+Mono&family=Fira+Sans:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap" rel="stylesheet">

		<link rel="stylesheet" media="screen" href="{{ page.custom-font }}" type="text/css"/>
	</head>

	<body>
		<!-- ztodo -->
		<a class="skip-nav-link" href="#window-area" style="display: none;">Skip to Content</a>

		{{ content }}

		{% if page.url != "/stadt/webgarden/" %} {% include gc-header.html %} {% endif %}

		{% if page.url != "/stadt/webgarden/" %} {% include gc-sidebar.html %} {% endif %}

	</body>

</html>
