---
layout: gc-base
---

<section id="desktop-area">

	<div id="wall-imgs">
		<a id="alucard" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/alucard.png"
				data-img-src="ɀeus" alt="" />
			"dark metamorphosis"
		</a>

		<a id="bluescreen" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/bluscrn.png"
				data-img-src="https://anlucas.neocities.org/GifFiles.html" alt="" />
		</a>

		<a id="comp-spin" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/computer.png"
				data-img-src="https://webpage1990colourised.neocities.org/" alt="" />
		</a>

		<a id="curiosity" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/curiosity-core.png"
				data-img-src="ɀeus" alt="" />
			"ew, what's wrong with your legs"
		</a>

		<a id="eye" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/eye.png" alt=""
				data-img-src="https://www.tumblr.com/webshitt/658240726601285632" />
		</a>

		<a id="lava" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/lavalamp.png"
				data-img-src="https://anlucas.neocities.org/GifFiles.html" alt="" />
		</a>

		<a id="skellington" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/skellington.png"
				data-img-src="unknown" alt="" />
		</a>

		<a id="sprockets" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/sprockets.png" alt=""
				data-img-src="ɀeus"
				data-img-insp="https://geocitiesghost.tumblr.com/post/186616337281" />
				site under constant construction
		</a>

		<a id="polarbear" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/polarbear.png"
				data-img-src="unknown" alt="" />
		</a>

		<a id="waddle" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/waddle.png"
				data-img-src="unknown" alt="" />
		</a>

		<a id="www" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/www.png"
				data-img-src="https://anlucas.neocities.org/GifFiles.html" alt="" />
		</a>
	</div>

</section>

<section id="window-area" aria-label="Content">
	{{ content }}
</section>

{% comment %}
{% if page.url != "/stadt/webgarden/" %} {% include gc-sidebar.html %} {% endif %}
{% endcomment %}
