---
layout: gc-base
---

<section id="desktop-area">

	{% include gc-desktop.html %}

	<div id="wall-imgs">
		<a id="curiosity" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/curiosity-core.png" />
			"ew, what's wrong with your legs"
		</a>

		<a id="sprockets" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/sprockets.png"
				data-img-src="ɀeus"
				data-img-insp="https://geocitiesghost.tumblr.com/post/186616337281" />
				site under constant construction
		</a>

		<a id="polarbear" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/polarbear.png" />
		</a>

		<a id="waddle" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/waddle.png" />
		</a>

		<a id="skellington" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/skellington.png" />
		</a>

		<a id="eye" class="wall-img">
			<img src="/stadt/assets/images/wall-imgs/eye.png"
				data-img-src="https://www.tumblr.com/webshitt/658240726601285632" />
		</a>
	</div>

</section>

<section id="window-area" aria-label="Content">
	{{ content }}
</section>
