<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

	<head>
		<!--   ___                 -->
		<!--  ' //  ___ __ __ __    -->
		<!--   //  //_\)|| ||(/_'  -->
		<!--  //__,\\__,`l,l|,_/)  -->
		<!--  oi! what you doing here?  -->
		<!--  you won't get no head from me  -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#282828" />
		<meta name="color-scheme" content="dark light" />
		<meta name="theme-color" content="#689D6A" />
		<title>{{ site.gc-title }}</title>
		<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
		<link rel="stylesheet" href="./assets/css/gc-style.css" />
		<!-- for icon font -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
		<!-- this doesn't work properly - always uses 32px -->
		<!-- <link rel="shortcut icon" type="image/x-icon" href="/stadt/favicon-16.png"  sizes="16x16" /> -->
		<!-- <link rel="shortcut icon" type="image/x-icon" href="/stadt/favicon-32.png"  sizes="32x32" /> -->
		<link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}" />
	</head>

	<body>
		{{ content }}
		<script src="/stadt/assets/js/draggable-windows.js"></script>
	</body>

</html>
