---
layout: default
---

<div class="home">
<table>
	<tr>
		<td>
			{{ content }}
		</td>
	</tr>
</table>

  <!--<table class="post-list" style="width:100%">-->
	<table class="post-list">
		{% for post in site.posts %}
			<tr>
				<td>
					<a class="post-title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
				</td>
				<td>
					<!--this is only <a> as it used to be a link. could probably be a span-->
					<a class="post-preview">{{ post.excerpt | strip_html}}</a>
				</td>
			</tr>
		{% endfor %}
  </table>
<hr />
<img src="./assets/images/under-construction.gif" alt="under construction gif" width="20%" />

</div>