---
layout: default
---

<!-- <div class="home"> -->

	{{ content }}
	
	<ul class="post-wrapper">
			{% for post in site.posts %}
				<li class="post-list">
					<a class="post-title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
					<span class="post-excerpt"><a>{{ post.excerpt | strip_html}}</span>
				</li>
			{% endfor %}
		</ul>
	<hr />
	<!-- this is hardcoded as it's going once the site is complete -->
	<img src="./assets/images/under-construction.gif" alt="under construction gif" style="width: clamp(128px, 40%, 256px)" />
<!-- </div> -->