---
layout: default
---

<div class="home">
<tr>
	<td valign="top">
		{{ content }}
	</td>
</tr>

  <!--<table class="post-list" style="width:100%">-->
	<div><table class="post-list">
		{% for post in site.posts %}
			<tr>
				<td>
					<a class="post-title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
				</td>
				<td>
					<a class="post-preview" href="{{ post.url | relative_url }}">{{ post.excerpt | strip_html}}</a></div>
				</td>
			</tr>
		{% endfor %}
  </table></div>

<img src="./assets/images/under-construction.gif" alt="under construction gif" width="384" />

</div>