<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
	<head>
		<!--   ___                 -->
		<!--  ' //  ___ __ __ __    -->
		<!--   //  //_\)|| ||(/_'  -->
		<!--  //__,\\__,`l,l|,_/)  -->
		<!--    oi! what you doing here?     -->
		<!--  you won't get no head from me  -->
		<title>
			{{ page.title }}
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="color-scheme" content="dark light" />
	</head>

	<body>

		{{ content }}

	</body>

</html>
